[2018-07-26 08:45] FidelCapo commented on #1073
I tried to reproduce this issue, but I did not. Can you please send the gcode in which the error is displayed and all steps needs to reproduce this? Thank you.

[2018-07-26 08:45] FidelCapo commented on #1056
I tried to reproduce this issue, but I did not. Can you please send the gcode in which the error is displayed and all steps needs to reproduce this? Thank you.

[2018-07-26 15:05] vernieg opened #1076 "Broken sliced model, 3D view is ok - Version 1.41.0-alpha2+linux64 and also in MacOS"
### Version
1.41.0-alpha2+linux64
1.41.0-alpha2 MacOS

### Operating system type + version
Linux mbox 4.18.0-1-MANJARO #1 SMP PREEMPT Mon Jul 16 06:26:07 UTC 2018 x86_64 GNU/Linux
MacOS high Sierra

### Behavior
Broken tip of the model under linux and MacOS for the same Version 1.41.0-alpha2.

* _Steps needed to reproduce the problem_
Orient the model 90 degrees rotation on X axis.
Just slice the

[2018-07-26 16:59] bubnikv commented on #1021
That is an indicator, that Prusa Research cares for its employees, and we are working with a top notch hardware :-)

The line does not fit MY monitor, so is too long.

I just checked some of the lines I wrote, they are up to 180 characters long. It is difficult to work with such code on my laptop screen. The particular line you referenced is 232 characters long, but I have found one, which is 255

[2018-07-26 17:38] supermerill commented on #1021
It just updates the reference, which is used just after. and then out of scope. It add a single instruction, cached by the cost of the comparison, and maybe optimised by the compiler or the out-of-order pipeline.
Or maybe i need to do some c++ revisions :-p

[2018-07-26 19:14] Boby71 opened #1077 "Feature request: Right click options for objects in list"
### Version
1.41.0-alpha2+win64

### Operating system type + version
Win10/64 Bit

### Behavior
This feature request is described easily:
In the object list on the right side it should be possible to add a context-sensitive menu when a right mouse click has been performed.

![2018-07-26 21_04_26-microsoft edge](https://user-images.githubusercontent.com/22266373/43283148-5ecb7ca2-9118-11e8-806a-0bd

[2018-07-26 19:43] rtyr opened #1078 "M73 time estimator issue (1.41.0-alpha2+18)"
### Version
1.41.0-alpha2+18-win64

### Operating system type + version
Windows 10 64bit

### Behavior
MMU, 3 models, wipe to infill/wipe to object enabled.
Slic3r time estimation = 11:36

Remaining time on the LCD was 00:38R at 0%. At roughly 5% (Z1.2) the value has changed to +/- 11:00R.
![time_20180725_195250](https://user-images.githubusercontent.com/36745189/43284667-d6e35d64-911c-11e8-8971-5

[2018-07-26 22:42] brucehvn opened #1079 "1.40.1 sliced code has speeds greatly suppressed when using auto speed"
### Version
1.40.1+linux64

### Operating system type + version
Ubuntu 16.04

### Behavior
* _Describe the problem_
My printer is capable of printing at higher speeds, but whenever I slice with the PE edition of Slic3r, the max speed it generates is around 30-35 mm/s.  When setting as compatible settings as possible in Slic3r 1.2.9, it generates speeds of over 80 mm/s which cuts my print time way

[2018-07-27 05:15] Zingabopp commented on #1079
I don't know why this would be different between versions (if this is even the problem), but your slowdown_below_layer_time is 30 seconds. On an old benchy gcode I have on Octoprint, it's saying a lot of my layer times are expected to be less than 20 seconds. Mine is printing 241 layers (0.2mm) and if every layer was 30s long it would take at least 2 hours.

[2018-07-27 06:33] bubnikv commented on #1078
@PavelSindler It looks like a firmware bug. It looks like the first value
shown has not been correctly initialized?

On Thu, Jul 26, 2018 at 9:43 PM, rtyr <notifications@github.com> wrote:

[2018-07-27 07:01] PavelSindler commented on #1078
I will check it, thank you for feedback.

[2018-07-27 07:05] PavelSindler commented on #1078
Which firmware version do you have @rtyr ?

[2018-07-27 07:59] #977 closed

[2018-07-27 08:02] supermerill commented on #1021
ohhh, ok, i'm wrong.
I should have used a pointer.

[2018-07-27 11:48] AliB10 opened #1081 "Time estimate not working on duplicate objects"
### Version
1.41.0-alpha2-win64

Windows 10

### Behavior

If i bring in 2 different parts, slice and export G code i get an accurate time estimate (i've printed these) of 2h 27mins.
If i then duplicate both parts then slice and export, i get the same estimated printing time of 2h 27mins.
When i start printing that part my i3mk3 shows a correct time of +5hours remaining.
![slix3r2](https://user-im

[2018-07-27 12:22] KnatteAnka opened #1082 "Feature request: Rotate X Button 90deg"
Button or key command to rotate object 90deg in X rotation becase that is some thing that i do for more the 25% of my prints! insted of dropdown and write 90 or 180 deg.

[2018-07-27 12:56] fiveangle opened #1083 "[1.41.0-alpha2] Window panes changing when switching between first or last listed printer"
### Version
1.41.0-alpha2 (https://github.com/prusa3d/Slic3r/commit/68cd51435f2e5b830156534a144efe64bc019b7d)

### Operating system type + version
MacOS 10.13.4

### Behavior

After install and creation of new configurations dialog is accepted, the first printer in the list is selected.  Selecting different printers resizes the window panes without reason.  I have not determined the algorithm but

[2018-07-27 13:08] dikodahan commented on #1082
Definitely a +1 for this one!!!

[2018-07-27 16:01] lsellens commented on #1050
@Richardgriff Just follow the build instructions on the wiki for linux. It's pretty straight forward. Probably could also google step by step instructions if you've never used make before.

[2018-07-27 20:42] bubnikv commented on #692
No response, but we hope we fixed the issue with the upcoming Slic3r 1.41.0-alpha3 release. Closing.

[2018-07-27 20:42] #692 closed

[2018-07-27 22:08] BirkBinnard opened #1084 "Clicking Arrange causes crash"
### Version
1.41.0-alpha2

### Operating system type + version
Windows 10

### Behavior
After loading any STL file, clicking the Arrange button  crashes the program. Boom! - it just totally disappears.

I got this info from Event Viewer's Application log:
Faulting application name: slic3r.exe, version: 1.41.0.0, time stamp: 0x5b535eb3
Faulting module name: XS.dll, version: 0.0.0.0, time stamp: 0x5

[2018-07-27 22:23] BirkBinnard commented on #1082
![1](https://user-images.githubusercontent.com/27872327/43348839-029aabda-91b1-11e8-8e42-2a3f1eeb8173.jpg)

[2018-07-28 09:39] OBELIKS opened #1085 "Crash on importing big stl"
### Version
1.41.0-alpha3+win64

### Operating system type + version
Windows 10 64bit

### Behavior
Slic3r crashes when importing too big stl, amf or obj. 3mf has no problems.

_Is this a new feature request?_ No

#### STL/Config (.ZIP) where problem occurs
[slic3r_test.zip](https://github.com/prusa3d/Slic3r/files/2237838/slic3r_test.zip)

[2018-07-28 12:07] paukstelis commented on #972
@supermerill, did you ever get a pull request in for this?

[2018-07-28 12:08] brucehvn commented on #1079
Ok, I started with the "My Settings" profile for printer, filament, and print.  Without changing any setting, it sliced at a total time of about 1:02.  Then I started customizing and setting in all the settings I was using in my original post.  I started with the printer, then the filament.  I was re-slicing after every section of every profile.  Before starting with the print settings, the total

[2018-07-28 13:39] DrLex0 commented on #1084
Same here in OS X 10.11.6 with 1.41.0-alpha3
[Crash.zip](https://github.com/prusa3d/Slic3r/files/2238014/Crash.zip)

[2018-07-28 13:49] supermerill commented on #972
I can make one, but i have no answer on my other pull request....
So I wonder how to collaborate efficiently with the prusa team.

I made a fork, which is the prusa release with my changes: https://github.com/supermerill/Slic3r/releases
If you need a linux build and you can't compile it, i may make one.

[2018-07-28 14:36] boelle opened #1086 "Q: acceleration issue with non prusa printer"
### Version
1.41.0-alpha2+win64

### Operating system type + version
win10

### Behavior
* _Describe the problem_

i used to use version 1.39.2 and was very happy with it

i use it together witn my mendel90 and marlin bugfix 2.0.x with the same feedrate, acceleration and jerk settings as for a mk2s taken from here: https://github.com/prusa3d/Prusa-Firmware/blob/MK3/Firmware/variants/1_75mm_MK25-RA

[2018-07-28 15:52] kazibole commented on #1085
Opens fine in 1.41.0-alpha3 on MacOS 10.13. Sounds like the same issue as in #1074.

[2018-07-28 16:31] Mike4U opened #1087 "Crash on Help Menu"
1.41.0-alpha3
MacOS 10.13.6
Crashes when menu pulldown selected: Help -> System Info

[2018-07-28 17:08] BirkBinnard commented on #1085
I loaded all 4 versions of the test file with no problem on my Win10 16 GB RAM system. (What is an amf file anyway?) And just to make sure I loaded an old file of mine that is 109 MB in size. No problem with that one either.

[2018-07-28 17:09] BirkBinnard commented on #1087
Works OK on Win10.

[2018-07-28 22:04] paukstelis commented on #972
Won't hurt to have the pull request there for them to look at. I'll try to get a linux version of your fork compiled myself. In the past I can get the program itself to compile, but ran into issues with the gui, something related to opengl libraries.

[2018-07-28 22:07] 3Delights opened #1088 "Crash on loading stl in 1.41.0-alpha2 and 3..."
### Version
1.41.0-alpha2
1.41.0-alpha3

### Operating system type + version
Windows 10 Professional 64bit version 1803 (OS Build 17134.191)

### Behavior
* Slic3rPS crashes while loading a particular STL file, previous editions of Slic3r did not.  The 3MF version of the STL (created by MS 3D builder) loads OK.
* Add the STL from the ZIP below.
* STL should load as usual
* SLic3r crashes and close

[2018-07-28 22:48] hexane360 opened #1089 "Feature Request: Support for standard Marlin accelerations/M204"
### Version
commit 78a8acf

### Operating system type + version
Ubuntu MATE 18.04

### Behavior
The recent acceleration and print estimate additions currently rely on a legacy form of M204 and accelerations in general. Vanilla Marlin (1.1.x and 2.0.x) has used a command of the form `M204 P[print] R[retract] S[travel]` since [March 2015](https://github.com/MarlinFirmware/Marlin/commit/9157cbd8f3),

[2018-07-28 22:56] ShamusTheTinker opened #1090 "Feature Request - Gcode Import"
### Version
1.40.0+win64

### Operating system type + version
Windows 10 64bit

_Is this a new feature request?_ Yes

I'd like to have the options to import gcodes into slic3r.  If I use someone else's gcode file to print or if I forgot to save the profile for a slice that I did it'd be nice to import the file back in and be able look at it or modify it.

[2018-07-28 23:45] tracernz commented on #1087
Works on 1.41.0-alpha3 with macOS 10.14 Beta (18A336e)
[code]

This was fixed in https://github.com/prusa3d/Slic3r/issues/1034.. Which GPU do you have?

[2018-07-29 03:09] kazibole commented on #1088
Possibly same as #1074.

[2018-07-29 04:10] Mike4U commented on #1087
Sorry, I somehow loaded 1.40, I think from the Prusa download page.  I even edited my first post to change it to 1.41.   It doesn't help that the typical way of finding versions on MacOS is apple-I at the finder level which doesn't give enough info in Slic3r.

Regardless, it works now, and thanks all for a great program:
Slic3r Prusa Edition
Version: 1.41.0-alpha3+
Build:   Slic3rPE-1.41.0-alpha3+

[2018-07-29 04:10] #1087 closed

[2018-07-29 04:41] Daelus0 opened #1091 "OctoPrint MetadataAnalysis Plugin"
Feature Request.

I'm really Loving the Accurancy of the new Prints Print Time Estimates, and It's great that we're adding this data to the gcode to update the display.

I've recently come across this neat little plugin for Octoprint from [Sven Lohrmann](https://github.com/malnvenshorn), [OctoPrint-MetaDataPreprocessor](https://github.com/malnvenshorn/OctoPrint-MetadataPreprocessor) which uses a p

[2018-07-29 06:09] bubnikv commented on #1089
The problem is caused by the Marlin guys, who changed the definition of
that particular M code, which was a bad idea indeed. So we did not break
it, but the problem is now on our shoulders.

There is a workaround for you. Just override that single M code in your
custom start G code, you can even use the macro processing language to pull
the acceleration values from the parameter layer.

On Sun, Ju

[2018-07-29 06:13] bubnikv commented on #1089
I have to discuss the situation with our firmware team. I personally woud
like to unify with Marlin, but we have to thing through all the scenarios
of firmware versions and customer lehacy G codes.

On Sun, Jul 29, 2018, 08:09 bubnikv <bubnikv@gmail.com> wrote:

[2018-07-29 06:54] bubnikv commented on #972
@supermerill

Let me try to explain our stance on pull requests in general:

We really appreciate your effort and the effort of other contributors. The contributions help us to improve the software at a faster pace than we would manage ourselves, and it bring us novel ideas. So far so good.

Now, we are a business, we have to support our customers. We need to provide them with regular releases of

[2018-07-29 07:12] bubnikv commented on #972
@supermerill

This is tiny and concise enough to be reviewed and possibly integrated. I don't see any harm in general in producing some additional comment into the G-code.

We have a build server, which could produce "feature builds", the name of the branch is then included into the version number. This is what we are giving to our internal testers before we merge a bigger contribution of our team

[2018-07-29 09:40] AndylgTom opened #1093 "Slic3r PE 1.41.0-alpha3 rotate the model"
**Version**
Slic3r 1.41.0-alpha3

**Operating system type**
Windows 10 Build

**Behavior**
Describe the problem
1) When rotate the model, it does not put on the table. https://ibb.co/kacDpT
In version Slic3r 1.41.0-alpha2 worked fine.

2) Where is gone 2D tab in version 1.41.0-alpha3?

[2018-07-29 10:09] Andreas-St commented on #1093
I have the same issue, version 1.41-a3 win 64
OP system
Win 7 pro - 64 bit
I cant move it to the table either

[2018-07-29 10:55] Stoebei opened #1094 "Crash with auto Arrange on Round Plate"
### Version
Version 1.41.0-alpha3+win64

### Operating system type + version
Windows 10 64bit

### Behavior
Slic3r will crash when a round build Plate is used and i try to auto Arrange Objects or Slic3r is set to auto Center Parts. This happens only with a circular Plate.

#### STL/Config (.ZIP) where problem occurs
Problem occurs with every STL i tested

[2018-07-29 10:59] Stoebei commented on #1084
I have the same Problem. Are you using a round Plate?

[2018-07-29 11:41] DBa2016 commented on #1046
As a workaround until "Jerk" finds its way into the print [quality] settings, yes. With my current jerk settings (jerk limited to 3 to avoid ghosting because my Tornado is standing on vibration dampeners to reduce noise), the print takes between twice and 3 times the estimate by Slic3r. Obviously, custom jerk setting code would not resolve this issue...

[2018-07-29 15:43] BirkBinnard commented on #1084
If you are asking me the answer is yes - I have a delta style printer with a round print bed.

[2018-07-29 18:04] DrLex0 commented on #1084
I have a rectangular print bed. The 0, 0 coordinate is at the center.

[2018-07-29 18:08] hexane360 commented on #1089
This is definitely true, and what I'm doing in the meantime. However, this doesn't solve the problem of print estimates, as there is no travel acceleration. Maybe a good first step would be to add a travel acceleration option that's ignored in g-code but respected in time calculations. For Prusa printers, this can be set to print acceleration, while newer printers can vary it accordingly.

This wo

[2018-07-29 18:24] tobymurray opened #1095 "Some objects are too tall and cannot be printed without extruder collisions"
### Version
1.40.1+win64

### Operating system type + version
Windows 10 1803

### Behavior
Sequential printing fails to slice in situations where I would expect it to slice. It's not clear what conditions are triggering the "extruder collisions".

I've been playing with sequential printing, and I'm not understanding the limitations. As a simplification, I'm trying to print items that look like th

[2018-07-29 19:00] Stoebei commented on #1084
I have 2 Profiles. The Square one got the Origin on the left front Corner of the Bed, this works.                        The Delta one crashes when i press the arrange Button or enable the auto Arrange option.

[2018-07-29 22:20] 3Delights commented on #1093
Same here. On Windows 10.

[2018-07-30 02:22] Daelus0 commented on #1091
If we can edit or better add a new line as well to get the time in minutes instead of as a string.

This line here in the file you're working with.
[code]
I'm not entirely sure what to change to as I don't know what that function returns other then the obvious part that c_str() is most likely converting it to a string from something.... so I don't know if it's a simple as just changing the member

[2018-07-30 08:21] FidelCapo commented on #1088
Thank you for the report. I think this problem is caused by the Arrangement function. If the auto-center parts is enabled in the Slic3rPE preferences, this error occurs immediately when the object is imported. Can you please try import this object when the automatic arrangement is disabled?

 May I ask what application generated attached 3MF file?

Thank you.

[2018-07-30 08:22] FidelCapo commented on #1074
Thank you for the report. I think this problem is caused by the Arrangement function. If the auto-center parts is enabled in the Slic3rPE preferences, this error occurs immediately when the object is imported. Can you please try import this object when the automatic arrangement is disabled?

Thank you.

[2018-07-30 08:23] FidelCapo commented on #1085
Thank you for the report. I think this problem is caused by the Arrangement function. If the auto-center parts is enabled in the Slic3rPE preferences, this error occurs immediately when the object is imported. Can you please try import this object when the automatic arrangement is disabled?

Thank you.

[2018-07-30 08:29] OBELIKS commented on #1085
Confirmed. when I turn Auto-center parts off, models load.

[2018-07-30 08:52] FidelCapo commented on #1085
@OBELIKS Thank you

[2018-07-30 10:16] Chreutz commented on #102
If someone is up for the task, we could gain a lot of flexibility in support settings by changing one line in `xs/src/libslic3r/SupportMaterial.cpp`. The line below (line 910 in current stable, I believe) calculates the Z height of the support material. If you remove the nozzle diameter (`nozzle_dmr`) from this calculation, the "Contact Z distance" setting should then define exactly the distance f

[2018-07-30 10:49] vojtechkral commented on #926
I think this is the same problem as #102 , right?

In any case, this is being looked at, however the support generation needs an overhaul anyway and it's taking some time...

[2018-07-30 12:12] 3Delights commented on #1088
I can confirm your suspicions Fidel, disabling "Auto-center Parts" in the preferences does indeed solve the problem.

[2018-07-30 12:47] FidelCapo commented on #1088
Ok, thank you.

[2018-07-30 12:57] bubnikv commented on #1093
This should have been fixed just now by @enricoturri1966 with https://github.com/prusa3d/Slic3r/issues/1093

[2018-07-30 13:50] #1081 closed

[2018-07-30 13:50] #1093 closed

[2018-07-30 14:33] bubnikv commented on #1079
Why do you insist on the autospeed feature? We do not use it internally at Prusa Research, we always set explicit extrusion velocities. The autospeed feature has issues with the gap fill, which commands excessive extrusion rates, and the whole print is then slowed down to limit the maximum gap fill extrusion rate.

[2018-07-30 14:42] kazibole commented on #1074
@FidelCapo I tried it with auto centering off, and it imported without a problem.

[2018-07-30 16:05] bubnikv commented on #102
I am slowly looking into the support issues. The support generator code is pretty tricky due to the independent layering of the supports from the object layers. I have identified some errors (for example the bridging flow is not taken into account when calculating the support gap, the bridging perimeters are printed with bridging flow, but keeping the perimeter separation unchanged, leading to gap

[2018-07-30 16:54] mcm001 opened #1096 "Strange Linear Advance behavior on MMU toolchange wipe moves"
### Version
_Version of Slic3r used goes here_
1.41.0 Alpha 2
_Use `About->About Slic3r` for release versions_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
_What OS are you using, and state any version #s_
Ubuntu 16.04, Windows 10
### Behavior
* _Describe the problem_ Linear Advance

[2018-07-30 18:27] lukasmatena commented on #1096
Can you please check whether unedited Slic3r-generated gcode suffers from this issue?

Linear advance is disabled by M900 K0 that is emitted just before retraction on the object preceding the toolchange. It appears as if your gcode was created by copy and paste of only the moves on the tower, but linear advance is already disabled at that point. But I may be wrong.

[2018-07-30 18:44] macdarren opened #1097 "sudden stop and fast long extrusion"
### Version
1.40.1+

_Use `About->About Slic3r` for release versions_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
Mac OS 10.13.6

### Behavior
On a number of occasions I have had a print job printing normally when
the extruder will suddenly pause and eject a large glob of filament a

[2018-07-30 19:00] mcm001 commented on #1096
It looks like in my files there is a K0 preceding the retraction prior to the move to the wipe tower. You are correct that linear advance is expected to be disabled. As everything seems to be working as designed I'm going to close the issue. Thanks for clarifying.

[2018-07-30 19:00] #1096 closed

[2018-07-30 20:18] rikthefrog opened #1098 "Heatbed size to big for slic3r can't zoom out"
### Version
1.40.1 + win64

### Operating system type + version
Windows 10.0.17134 Build 17134
### Behavior
Size of heat bed and object doesn't fit in screen not possible to zoom out

![image](https://user-images.githubusercontent.com/7111547/43421247-70a4ec20-9446-11e8-9701-9415f590a25f.png)

 When looking in preview the objects dimension are visible and object is nicely centered in middle of the

[2018-07-31 00:01] WarrenSchultz opened #1099 "Disable gcode generation by object"
### Version
1.41.0a3/win64

### Operating system type + version
Win10/64

### Behavior
Feature request:
In the Settings right-click menu for an object in 3D view, it would be extremely useful to have a simple checkbox to disable gcode generation for that particular object.

Use case:
Testing out print settings on a group of complex objects that you have manually organized on the plate, and only wa

[2018-07-31 00:17] brucehvn commented on #1079
I'm not insisting on using autospeed nor am I giving this a priority or saying it needs to be fixed immediately.  I'm perfectly fine to use hard coded values as the only two speeds I would even think to use autospeed for are infill and perimeters.  Most of the other speeds I use are based on my own calibration testing.  I was trying it out and saw there was a big difference between using autospeed

[2018-07-31 00:18] lgv2018 opened #1100 "Bottom Fill Pattern not used if raft layers are enabled"
### Version
1.39.2

### Operating system type + version
MAC OSX 10.8

### Behavior
Nozzle = 0.8, Layer height = 0.5mm
Fill Density = 25%
Fill pattern = rectilinear
Bottom/Top fill pattern = Hilbert Curve
Raft = 2 layers
Expected: "Bottom Layer" (first layer after last raft layer) to be filled with Hilbert Cube Pattern.
Actual: Bottom Layer fill pattern is same as "Fill Pattern"
![bottom fill works

[2018-07-31 05:30] stelgenhof commented on #1091
In that case it's better to get the time in seconds if you're looking for accuracy :). The GCodeTimeEstimator class provides a method for that: `get_time()`.

The challenge here is that perhaps not every slicer provides this kind of metadata, hence the aforementioned plugin can cover all situations. On the other hand, the estimated metadata by OctoPrint may not be the same as that of those establi

[2018-07-31 06:26] bubnikv commented on #1079
Thanks for the report. There are a lot of reports streaming in, and I am trying to asses their severity. I appreciate your time reporting this issue, but for now this issue is considered low priority and it will be postponed.

[2018-07-31 12:37] Anduiril opened #1102 "Top layer of model get changed with change in first layer height."
### Version
Version 1.40.1+win64

### Operating system type + version
Windows 10

### Behavior
The top layer of bearing5.stl (Gear bearing by Emmet Lalish on Thingiverse) gets changed to a "solid" layer when the first layer is set to .3mm (printing at .2mm).  The 3d view displays properly but the preview and layer views have the top layer changed.  The problem goes away if I change the first layer

[2018-07-31 14:15] jzkmath opened #1103 "[Feature Request] Place Surface on Bed"
### Version
1.40.1

In Simplify3D, one of my favorite features is the "Place Surface on Bed" feature, where you click on a triangle that is the bottom of your model, and it rotates the object to the bed. This has the shortcut of CTRL + L.
I have been using Slic3r PE for my printing, but I often end up having to rotate the object in Simplify3D, simply because it is faster that way, and I don't have

[2018-07-31 18:01] lukasmatena commented on #1103
This is already in planning, it was already proposed in https://github.com/prusa3d/Slic3r/issues/147. I don't know which other tasks and bugs will emerge as more critical, so I won't promise anything. But it MAY happen to be in 1.42.

Is it ok to close this issue and leave just the other one with longer discussion open? They are exact duplicates.

[2018-07-31 18:05] BirkBinnard opened #1104 "New GCode in Ver, 1.41.xxx slows my printer way down"
### Version
_Version of Slic3r used goes here_
All of the 1.41.xxx versions released to date

### Operating system type + version
Win10/64

### Behavior
The 1.41.xxx versions inserts this GCode at the start of the file:

M201 X9000 Y9000 Z500 E10000 ; sets maximum accelerations, mm/sec^2
M203 X500 Y500 Z12 E120 ; sets maximum feedrates, mm/sec
M204 S1500 T1500 ; sets acceleration (S) and retract a

[2018-07-31 18:57] #1103 closed

[2018-07-31 19:43] Stoebei commented on #1104
Hey. You have to set the Feedrate equal for all 3 Axis of a Delta Printer.  You can find this new Options in the Printer Settings, Machine Limits.

[2018-07-31 20:31] BirkBinnard commented on #1104
Very interesting - thanks.

I changed the Z values for Max Feedrate, Max Accel., and Jerk Limits to be the same as the X & Y values. I'll test this when my current print is done - sometime tomorrow.

[2018-07-31 20:31] #1104 closed

[2018-07-31 22:07] Stoebei commented on #1086
I think the easiest Way is to type your Firmware Values in the Machine Limits.

Feedrate X+Y 200 Z12 E120
Accel 1000 1000 200 5000
Print and Retract Accel 1250
And Jerk 10 10 0.4 2.5
Then Slic3r use the same Values as your Firmware

[2018-07-31 22:11] matt-3 opened #1105 "Brim missing in inner profiles"
When the object contains nested parts, only the outer part gets a skirt, which is not enough.
See screenshot below, even though the inner bits are not connected to the outer bit, they do not get their own skirt. Consequently they do not adhere properly and the print fails.

![gimbal-skirt](https://user-images.githubusercontent.com/8379350/43489796-15864e58-9516-11e8-9bb1-c7afc7f8e4f8.png)

from ww

[2018-07-31 22:27] Stoebei commented on #1104
I just looked again at your Gcode.  I dont know what Delta Printer you have but 9000 Accel and 10 Jerk maybe could be to much.  Here are the Settings i use for my Anycubic Kossel Linear. Greetings
![kossel machine limits](https://user-images.githubusercontent.com/41859862/43490524-4d2085ee-9521-11e8-93bb-fc3ce2eb2be1.PNG)

[2018-07-31 22:31] GreatGrizzly commented on #650
Having two extra fields in the Octoprint Upload section labeled Username and Password would be a great, easy edition to give this feature more exposure.

[2018-07-31 22:49] GreatGrizzly opened #1106 "[Enhancement] Bypass "Start Printing on Upload" window when clicking "Send to Printer" Button"
When I click on Upload to printer, I generally don't care what the file name is and usually want the print to start immediately.

I suggest adding a new checkbox below the brim checkbox in the right panel that bypasses the popup by using the default name and starts the print on upload.

The checkbox could be called "Start print immediately with default name" or something similar.

[2018-07-31 22:59] BirkBinnard commented on #1104
Thanks for the heads up. My printer is an ATOM2 which has pretty high quality steppers. I'm not sure exactly what those various parameters need to be, but I'll do a test tomorrow or the next day.

[2018-08-01 00:08] molntapp opened #1107 "Incorrect dual material temperature management with ooze prevention enabled"
### Version
1.40.1+Win64

### Operating system type + version
Windows 10 Pro 1803

### Behavior
* _Describe the problem_
If ooze prevention with temperature variation > 0 is enabled, both first-layer nozzle temperatures incorrectly are lowered. First layer is then printed with temperature intended for "other layers". This seems to be an issue only in the first layer. Printing the other layers "re-

[2018-08-01 00:34] dikodahan commented on #1106
I agree. in 95% (being conservative) of cases you are sending in order to print.
Maybe just a parameter in preferences if not the suggested option above but at list something to make this default stick.
I personally had multiple cases of sending without printing by mistake just because I missed selecting this option.

[2018-08-01 01:49] GreatGrizzly opened #1108 "[Enhancement] Select which system profile to inherit from."
Give the user an option to select which system profile to inherit settings from. Currently the only way to change this is to recreate a new profile from the parent profile, or modify the config file directly by setting the "inherits=" entry.

![request](https://user-images.githubusercontent.com/15824566/43496625-2b7d24e8-94f3-11e8-8915-582987eda943.jpg)

[2018-08-01 03:06] rongith opened #1109 "Brim outside support"
### Version
tested:
1.34.1
1.39.2
1.40.1
1.41.0-alpha3

### Operating system type + version
Windows 10 x64 1803

### Behavior
The brim is set outside the supports. There is no Brim touching the part.
![image](https://user-images.githubusercontent.com/7966342/43498431-3ef8ce10-9547-11e8-9f5a-c6cf5686c72b.png)

#### STL/Config (.ZIP) where problem occurs
[SupportBrim - Defaut-20180801-045301-(P)0.30

[2018-08-01 06:30] boelle commented on #1086
i tried that as the first thing, of course i could fill in 0 for all the machine limits and it then moved so slow i could not see it but only hear it and feel it

[2018-08-01 07:18] Tirpitz93 commented on #650
@GreatGrizzly that is what I was originally hoping for, but @vojtechkral does have a point with it being a point of confusion for new users.
possibly if one was labeled `Server login` and one `Octoprint login`?

[2018-08-01 10:56] Tirpitz93 commented on #650
@mcristina422 I tested it and got it to work this morning too.
would be nice to have a pair of fields instead, and then use a credential store to encrypt the login details.

[2018-08-01 11:14] Tirpitz93 opened #1110 "[Enhancement]Use git repo for config directory"
### Version
Future

### Operating system type + version
all
### Behavior
It would be cool if you could set up a (private) git repo to use as a config directory which is automagically pushes when settings are updated and pulled when slic3r is started.
similar to the behaviour now available in Jetbrains software such as CLion and Pycharm

This is a feature request
I know this is another obscure requ

[2018-08-01 13:30] AliB10 commented on #1090
yes to this!
Cura has a great option which is load settings from gcode

[2018-08-01 18:55] jimmy00784 opened #1111 "Purging into infill and Purging into objects has no effect"
### Version
Slic3r PE 1.41.alpha 3

### Operating system type + version
Arch Linux 64 bit

### Behavior
Purging into infill and Purging into objects has no effect

Steps to recreate:
1. Add STL to the platter.
2. Go to STL settings.
3. Click Load Generic to create a box of arbitrary dimensions.
4. Position the generic object to overlap the original STL partially.
5. Change extruders on both STL an

[2018-08-01 18:57] bgianninoto commented on #1066
I wanted to update this report since I figured out how to get my Print Settings profiles to align with different Printer Settings, particularly those with different nozzle sizes. Under Print Settings -> Dependencies -> Compatible Printers Condition: Update the string in order to make it compatible with the nozzle size set in Printer Settings. For example:

printer_notes=~/.*PRINTER_VENDOR_PRUSA3D.

[2018-08-01 18:57] #1066 closed

[2018-08-01 20:43] SijmenSchoon commented on #1021
I am really against a 160 character limit personally. Sure, it fits on wide monitors no problem, but:

1. side-by-side viewing becomes a pain
2. there (sadly) still are plenty of laptops with 1366x768 displays, on which you really don't want to fit more than 120 characters before it gets unreadably small.
3. lines are much more readable when kept short
4. if your line becomes as long as 160 charac

[2018-08-01 22:19] tracernz commented on #1021
Totally agree with everything you said. That is why a wide variety of projects have a limit of 80 columns (ISO standard terminal), or 100 columns. On my dev machine, I typically have 2x2 terminals (editors live in these) on the left 4/7ths and web browser on the right 3/7ths of the display. 100 columns is about the most I would like.

[2018-08-02 07:28] dushyantahuja opened #1112 "infill and first top layer height at 1mm even though I'm asking for 0.4mm"
### Version
1.40.1+

### Operating system type + version
Mac OS High Sierra
v 10.13.6

### Behavior

* I'm trying to slice an STL file with 0.4mm layer height, with gyroid infill. The outer perimeters show a height of 0.4mm; however, the infill and the first top layer has a height of 1mm. This causes the top layers to crash into the head and the print gets spoiled.

<img width="929" alt="screen sh

[2018-08-02 07:44] lukasmatena commented on #1111
Thanks for reporting, but I didn't manage to reproduce the issue. Setting 'Purging into infill' on the object correctly uses the infill for purging. It is even possible to only purge into infill of one of the parts only. Setting the whole object as sacrificial for purging results in no wipe tower and no toolchanges (as long as there are no other objects on the plate) - that is also correct, since

[2018-08-02 08:09] bubnikv commented on #1110
I am sorry, but I am quite sure that we at Prusa3D will not implement such a feature. I am marking this request with a "volunteer needed" flag for reference.

[2018-08-02 08:11] bubnikv commented on #1108
I expected it will come when we designed the profile inheritance. We decided on purpose to keep the initial implementation simple, and to add the bare minimum on request. Namely, we are afraid that support a full inheritance for every profile will add a significant complexity to the code (UI, configuration layer) and it will make the UI difficult to understand.

What would be your minimum requirem

[2018-08-02 08:13] bubnikv commented on #1105
Duplicate of https://github.com/prusa3d/Slic3r/issues/491
Closing.

[2018-08-02 08:19] bubnikv commented on #1102
Would you please try to fix your object through a netfabb service whether it helps?

Your reported issue may be the same as https://github.com/prusa3d/Slic3r/issues/895

[2018-08-02 08:25] bubnikv commented on #1082
We are working on a PrusaControl like UI solution
https://prusacontrol.org/
with a contextual transformation panel at the right.

[2018-08-02 08:26] bubnikv commented on #1078
I am closing the issue here at Slic3r, the issue seems to be on the firmware side.

[2018-08-02 08:26] #1078 closed

[2018-08-02 08:26] matt-3 commented on #1105
Thank you for checking but this is not a duplicate of #491. #491 deals with having a skirt on the inner side of the outer ring (ring = profile of the pipe-like object being printed).
I would like to have skirts attached to each (nested) ring in the screenshot I gave, not just an inner skirt for the outter ring.
I hope this explanation helps.
Thanks.

[2018-08-02 08:27] bubnikv commented on #1077
@YuSanka is working on this part of UI as of now. We plan to have the "Object settings" window functionality moved into that object list in a tree form.

[2018-08-02 08:28] bubnikv commented on #1083
@YuSanka @FidelCapo would you please look into this issue? Thanks.

[2018-08-02 08:31] bubnikv commented on #1090
We would love to have that, but it is more complex that it seems:

1) You have to have the "gcode preview only" UI state.
2) You have to parse a general G-code.
3) You have to estimate the extrusion width / height and extrusion type.

Contributions are welcome to 2) and 3), the UI changes will likely have to be done at the HQ.

[2018-08-02 08:37] bubnikv commented on #1091
I quickly skimmed throuh this thread, and I am not quite sure I understand the request.

Do you want Slic3r to export the OCTOPRINT_METADATA block?
Is there any formal definition of the OCTOPRINT_METADATA block?
Who interprets the OCTOPRINT_METADATA block?

[2018-08-02 08:39] bubnikv commented on #1109
This is a duplicate of https://github.com/prusa3d/Slic3r/issues/713. Closing.

[2018-08-02 08:39] #1109 closed

[2018-08-02 08:40] bubnikv commented on #849
We have a check in the current Slic3r-1.41.0-alpha3 in the G-code preview window. Does it satisfy your needs?

[2018-08-02 08:42] bubnikv commented on #1076
Will it slice correctly with the "detect thin walls" feature enabled?

[2018-08-02 08:45] bubnikv commented on #1072
What you may see is actually not a problem of the tiny delay, but the way how Slic3r (and other slicers) implement the vase mode in a hackish way. The slicers usually slice an object with parallel layers, and then they artificially connect end of one perimeter to the start of the perimeter on the successive layer. This will naturally lead to an abrupt step, which depends on the vertical angle.

Is

[2018-08-02 08:45] bubnikv commented on #1063
@vojtechkral would you please look into this issue?

[2018-08-02 09:07] stelgenhof commented on #1091
@bubnikv The request is to have OctoPrint parse the Slic3r metadata (at the end of the gcode file), so that OctoPrint can display an accurate time estimate. Rather than OctoPrint's own estimation.

For large gcode files, OctoPrint can take some time to calculate the estimates. Having already the estimates (and other metadata) from the gcode file, the meta data can be displayed much faster in such

[2018-08-02 09:34] 3Delights commented on #849
All it does is put up a warning telling you that it is off the print bed?  You can already see that just by looking at the preview!

![image1](https://user-images.githubusercontent.com/39102974/43575643-40e84306-963f-11e8-9b39-f9e6ba4ea080.jpg)

It needs to actually stop the brim (and supports) being generated or only create it(them) on the bed.

[2018-08-02 10:08] bubnikv commented on #1091
If there is a specific code in OctoPrint to parse the Slic3r metadata, why
cannot OctoPrint parse the hh:mm:ss format?

On Thu, Aug 2, 2018 at 11:07 AM, Sacha Telgenhof <notifications@github.com>
wrote:

[2018-08-02 10:40] stelgenhof commented on #1091
@bubnikv I agree: parsing the hh:mm:ss format is easy :) You may need to ask @Daelus0 about that.

[2018-08-02 11:17] bubnikv commented on #1033
ok, for the Prusa Edition Slic3r it is a new feature, so I have re-classified it.

[2018-08-02 11:31] Boby71 commented on #1077
That‘s amazing news, thank you!

LG,
Robert

[2018-08-02 11:36] bubnikv commented on #980
You can do that with a conditional G-code in your custom start G-code.
something like this will work:
{if filament_type == "PET"}
your wipe line
{else}
another line
{endif}

[2018-08-02 11:36] #980 closed

[2018-08-02 11:37] bubnikv commented on #961
Completely out of bounds objects are excluded from the slicing in Slic3r 1.40.0-alpha3.
Closing.

[2018-08-02 11:37] #961 closed

[2018-08-02 11:39] bubnikv commented on #958
As I understand it, you cannot reproduce the crash, right?
There are some issues regarding the cancellation and restart of the slicing process, but we are working on it.

[2018-08-02 11:40] bubnikv commented on #939
New auto placement is implemented in SLic3r 1.41.0-alpha3. Closing.

[2018-08-02 11:40] #939 closed

[2018-08-02 11:42] bubnikv commented on #933
The information is there, altough not at the top of the file.
Also our latest alpha profiles configure the G-code output file name to contain the layer height and filament type.
Closing.

[2018-08-02 11:42] #933 closed

[2018-08-02 12:05] bubnikv commented on #913
@jindrichbenes will try the solution with lowering the temperature a bit before bed leveing. Let's see how reliable it will work.

[2018-08-02 12:06] bubnikv commented on #911
Old version's bug reported, no response. Closing.

[2018-08-02 12:06] #911 closed

[2018-08-02 12:11] bubnikv commented on #870
Prusa Marlin for the MK3 / MK2.5 supports M73, see the change log of https://github.com/prusa3d/Slic3r/releases/tag/version_1.41.0-alpha2

Slic3r 1.41.0-alpha2 and newer produce time estimates emitted with the new M73 code.

[2018-08-02 12:12] bubnikv commented on #857
No response, we were not able to reproduce the issue. Closing.

[2018-08-02 12:12] #857 closed

[2018-08-02 12:15] bubnikv commented on #840
We show the layer index next to the layer Z height at the slides, certainly in Slic3r 1.40.0-alpha3. Closing.

[2018-08-02 12:15] #840 closed

[2018-08-02 12:18] bubnikv commented on #823
I believe we have fixed that with https://github.com/prusa3d/Slic3r/releases/tag/version_1.40.1-rc2
Closing.

[2018-08-02 12:18] #823 closed

[2018-08-02 12:19] bubnikv commented on #819
Sorry, this is such an exceptional request, that it will only clutter the user interface to vast majority of users. We will not implement such request.

[2018-08-02 12:19] #819 closed

[2018-08-02 12:25] bubnikv commented on #794
Duplicate of #515. Closing.

[2018-08-02 12:25] #794 closed

[2018-08-02 12:27] bubnikv commented on #785
Anyone else founds this request useful? I am inclined to refuse such request to keep the UI uncluttered. Or maybe @YuSanka could implement it as a tooltip?

[2018-08-02 12:28] bubnikv commented on #765
@tamasmeszaros Would you please investigate this request? Thanks.

[2018-08-02 12:30] bubnikv commented on #764
Sorry, we were not able to reproduce your issue on none of our Linux systems around. This must be some quirk of your setup I suppose. Closing.

[2018-08-02 12:30] #764 closed

[2018-08-02 12:32] bubnikv commented on #750
Stealth mode support has been implemented in Slic3r 1.40.0-alpha3. The new Slic3r works in tandem with the upcoming MK3 firmware. Also we have changed the MK3 stealth mode limits, so it runs just a bit slower than the normal mode.

Closing.

[2018-08-02 12:32] #750 closed

[2018-08-02 12:33] bubnikv commented on #745
We are reworking the background processing to run the G-code export at the background into a temp file (or memory). Closing for now.

[2018-08-02 12:33] #745 closed

[2018-08-02 12:34] dartrax commented on #785
A tooltip would be perfectly enough. 💛

[2018-08-02 12:35] bubnikv commented on #737
It is unclear what the issue is supposed to be, no response.

[2018-08-02 12:35] #737 closed

[2018-08-02 12:38] bubnikv commented on #690
No response. We will merge the functionality for this dialog into the platter right panel, so the UI will be different anyway. Closing.

[2018-08-02 12:38] #690 closed

[2018-08-02 12:41] bubnikv commented on #644
Anyone else thinks the same?

Do you want us to add these two lines into the default content of the end G-code, so one could remove the two lines, or do you want these two lines to be generated by default without showing them in the end G-code field?

Frankly I would rather not change anything, I think it works just fine as it is.

[2018-08-02 12:42] bubnikv commented on #640
anyone else thinks the same?

I am inclined to not implement it, as I expect that it will only clutter the UI.

[2018-08-02 12:43] bubnikv commented on #639
Notification implemented for a long time.

[2018-08-02 12:43] #639 closed

[2018-08-02 12:44] bubnikv commented on #635
We hope it is working now. No response, closing.

[2018-08-02 12:44] #635 closed

[2018-08-02 12:45] bubnikv commented on #628
Hopefully @vojtechkral will find time to implement it for Slic3r PE 1.42

[2018-08-02 12:47] bubnikv commented on #610
We hope this was a firmware issue and it has been fixed. Closing.

[2018-08-02 12:47] #610 closed

[2018-08-02 12:48] bubnikv commented on #609
I wonder what do you use the repair function for?

Actually I am considering the repair function in Slic3r pretty poor, so I am inclined to refuse your request.

We have integrated the fabulous Windows 10 Netfabb API recently though.

[2018-08-02 12:49] bubnikv commented on #591
It is working for some time now. Closing.

[2018-08-02 12:49] #591 closed

[2018-08-02 12:52] bubnikv commented on #570
We have removed the hard coded limits from the wipe tower generator in 1.40 release.
It is now up to you to test it and make it work :-)
Closing.

[2018-08-02 12:52] #570 closed

[2018-08-02 12:53] supermerill commented on #1112
Lucky one, the "height" option works for you.

Speculation: if it's the first solid layer for the "top layers", it's sliced as a bridge, hence the hight that is equal to your nozzle size.

As a temporary fix, you can reduce the bridge flow and see if it prints better.

[2018-08-02 12:54] bubnikv commented on #557
The priming areas are now configurable by the new single_extruder_multi_material_priming configuration value. It will be part of the upcoming 1.41.0-beta.

[2018-08-02 12:54] #557 closed

[2018-08-02 12:55] bubnikv commented on #554
This bug is stalled, and we were not able to reproduce it. Let's see whether it will show up in the current Slic3r releases. Closing.

[2018-08-02 12:55] #554 closed

[2018-08-02 12:55] aaronevers commented on #980
Seriously? The request is to add a field to the GUI so that I don't have to edit GCODE. Editing GCODE is not a solution.

[2018-08-02 12:57] bubnikv commented on #547
I hope we have finally fixed it, see https://github.com/prusa3d/Slic3r/issues/975
Closing.

[2018-08-02 12:57] #547 closed

[2018-08-02 12:58] bubnikv commented on #542
We have implemented automatic configuration updates, configuration snapshots. We have now another similar request https://github.com/prusa3d/Slic3r/issues/1110 marked with "volunteer needed" :-)
Let's the newer open, let's close this one.

[2018-08-02 12:58] #542 closed

[2018-08-02 13:00] bubnikv commented on #536
The cooling logic was reworked in May. Closing.

[2018-08-02 13:00] #536 closed

[2018-08-02 13:05] supermerill commented on #1110
Well, you may be able already do that yourself.

Create a script file which do
* a git pull into your setting folder repo
* launch slic3r with perl slic3r.pl --datadir /path/to/my/setting/repo
* a git push when slic3r return

(untested) example:

[code]

It should be better if you can create a small automatic message for the commit, with the date for example.

[2018-08-02 13:05] bubnikv commented on #499
You can use the "filament_type" field to simplify the huge if/elsif chain. You can be quite creative with the conditional g-code.

https://github.com/prusa3d/Slic3r/wiki/Slic3r-Prusa-Edition-Macro-Language
https://github.com/prusa3d/Slic3r/wiki/Slic3r-placeholders-(a-copy-of-the-mauk.cc-page)

also in the upcoming Slic3r 1.41.0 beta, you will find the name of the variable at the bottom of the para

[2018-08-02 13:05] #499 closed

[2018-08-02 13:07] bubnikv commented on #495
@YuSanka is revamping the UI. We have discussed the notion of modifier attributes per layer spans.

[2018-08-02 13:26] dushyantahuja commented on #1112
Is the infill and bridge height always equal to the nozzle width !!

[2018-08-02 13:29] aaronevers opened #1113 "[REQUEST] Please add a GUI field to set wipe distance"
Please add a GUI field for initial wipe distance. I'd like to double it for PETG without having to edit G-code myself.

[2018-08-02 13:29] ennbr opened #1114 "Rotate Around Axis"
### Version
1.41.0-alpha3+

### Operating system type + version
OSX High Sierra 10.13.6

### Behavior
* The result of Rotate Around Axis X or Y same result the STL is below the build surface

* Add stl file, select Object/Rotate/Around X axis..., Enter 180 in dialog box

* Object flipped 180 deg and placed on platform surface not beneath

* Object appears below surface

![image](https://user-image

[2018-08-02 13:32] aaronevers commented on #980
Reopened as #1113

[2018-08-02 13:33] aaronevers commented on #1113
Conditional G-code in custom start G-code is a workaround not a solution.

[2018-08-02 13:42] docmarenga commented on #950
I´ve got a crash when try load de gcode en ColorPrint.  "Uncaught node.js Error"
some days back, work without problems.  i try with different gcodes and the same error .
![wwwww](https://user-images.githubusercontent.com/39846407/43587516-c67aa1f2-9640-11e8-86f3-2ca937b5958a.JPG)

[2018-08-02 13:56] Dainse commented on #950
Use the web version. Its updated.
https://www.prusaprinters.org/color-print/

Good luck!

[2018-08-02 14:17] jimmy00784 commented on #1111
Ok, so the wipe tower still gets created but with reduced filament
wastage if I set Purging in infill?

On 08/02/2018 02:44 AM, lukasmatena wrote:

[2018-08-02 14:20] docmarenga commented on #950
Thanks very much!!!!!!!

Saludos Rodrigo Marin

El 2 ago. 2018, a la(s) 10:56, Dainse <notifications@github.com> escribió:

[2018-08-02 14:46] bubnikv commented on #497
Current slic3r behaves differently, it will not allow one to slice object with non-existing extruders assigned.
In the future we may allow printing multi-material prints on single-extruder machines by ignoring the extruder IDs, but closing for now.

[2018-08-02 14:46] #497 closed

[2018-08-02 14:48] bubnikv commented on #1111
yes

On Thu, Aug 2, 2018 at 4:17 PM, Karim Lalani <notifications@github.com>
wrote:

[2018-08-02 14:51] bubnikv commented on #1113
You can do that with a conditional G-code in your custom start G-code.
something like this will work:
{if filament_type == "PET"}
your wipe line
{else}
another line
{endif}

So you insist, that we shall implement your request.
Let's wait for other's reaction. If there is none, I will close your request in about a month.

[2018-08-02 14:53] bubnikv commented on #1114
This issue has been fixed in the master, it will be fixed in the 1.41.0-beta.

[2018-08-02 14:53] #1114 closed

[2018-08-02 14:57] aaronevers commented on #1113
It's a feature request, not a bug fix. Accept the suggestion or not, but closing with a workaround doesn't address my request.

[2018-08-02 15:07] bubnikv commented on #1113
We have to face reality. You will not implement your request, and we don't have resources to handle all the 353 open issues. And if nobody is ever going to implement your request, then your request remains just a noise in the list. Also it is dangerous to clutter the application with gazzilions of configuration values and switches just because one person asks for it.

[2018-08-02 15:12] jimmy00784 commented on #1111
Thanks for the clarification. I'll close the issue.

On Thu, Aug 2, 2018, 9:50 AM bubnikv <notifications@github.com> wrote:

[2018-08-02 15:19] aaronevers commented on #1113
This really isn't the discussion I meant to bring up. I'm sorry for cluttering your github, but I think it's a useful feature and you closed it without any discourse. Please don't pre-judge your users.

[2018-08-02 15:20] #1111 closed

[2018-08-02 15:33] #1113 closed

[2018-08-02 15:35] aaronevers commented on #1113
No, you're right. If someone else has the same issue, they can open a new ticket. Please link it to this so I get a notification.

[2018-08-02 15:39] Vipas-ana opened #1115 "moving objects while processing, objects dissapear, clicking objects in objects list will crash the app"
### Version
1.41.0-alpha3+

### Operating system type + version
Mac OS 10.11.6

### Behavior
Load an object onto the platter, move that object to start background processing, move the object again right when slic3r tries to process the platter, before it finishes.  The object will disappear.  Then if you click on the object in the object list, the app seg faults ( Unable to create bed triangles ).

[2018-08-02 16:06] bubnikv commented on #354
Implemented, working.

[2018-08-02 16:06] #354 closed

[2018-08-02 16:07] bubnikv commented on #348
It should be fixed with https://github.com/prusa3d/Slic3r/commit/3bedcf441390a12e10a3d6e1c9c94421c1dbb9e7
Closing.

[2018-08-02 16:07] #348 closed

[2018-08-02 16:13] bubnikv commented on #270
This is a similar request to https://github.com/prusa3d/Slic3r/issues/628
@vojtechkral  will work on that.

[2018-08-02 16:28] bubnikv commented on #1086
I think your issue is the same as https://github.com/prusa3d/Slic3r/issues/1089
The issue is caused by the change in the M204 behavior in the mainline marlin after we forked from it.
Would you please confirm that?

[2018-08-02 16:29] bubnikv commented on #1097
Please provide the model / config. Also what is your printer & firmware?

[2018-08-02 16:32] gdombiak commented on #958
Hi @bubnikv

I moved back to my Mac (my main computer) and Slic3r works great there. I haven't been using Slic3r on my old notebook with Ubuntu except to run the 1.41 alpha 2 to flash latest firmware 3.3.1 and things went very well.

If I go back to Ubuntu and see this again then I will update this ticket. If you prefer to close it, that is fine by me. I can create a new one if I run into this aga

[2018-08-02 16:34] bubnikv commented on #958
Thanks for the response. I will close your issue for now.

[2018-08-02 16:34] #958 closed

[2018-08-02 16:54] baokhangnn opened #1116 "Disappearing Slic3r Window after disconnecting from second monitor."
### Version
Slic3r Prusa Edition - 1.40.1+ (Mac)

### Operating system type + version
Mac OS 10.13.6 (High Sierra)

### Behavior
Slic3r window does not re-locate to main display after disconnecting from secondary monitor.
* _Steps needed to reproduce the problem_

1. Laptop connected to external monitor.
2. Launch Slic3r and place window on external monitor.
3. Quit Slicer.
4. Disconnect external

[2018-08-02 16:57] supermerill commented on #1112
The first solid infill over sparse infill is a bridge.

Of course, as there are no support to push against, your nozzle will extrude a round filament. You can reduce the bridge flow to hope it will create a nice ellipse. I imagine that with a 1mm nozzle, you have to test which bridge ratio work the best.

[2018-08-02 16:59] macdarren commented on #1097
Printer is a home brewed delta setup currently running Repetier 1.0.2 Firmware, although I had the problem with earlier firmware releases as well...I updated from the .9.x versions recently.

I think I may have found something further in that if I specify all the speeds and extrusion widths explicitly then the problem seems to go away....if I can get a reliable repeatable case I will try to post i

[2018-08-02 17:08] GreatGrizzly commented on #1108
Here was my secenario:

I have custom profiles for printer, filament and print settings. I export each profile in its own file. When I update the slic3r program, I get the latest manufacture settings. I then import the custom profiles.

The imported profiles lose their inheritance and thus I cant keep untouched settings automatically updated to the latest manufacturer settings.

Other Scenarios ma

[2018-08-02 17:25] Vipas-ana opened #1117 "rotate object 180º around X, object is placed under platter."
### Version
1.41.0-alpha3+

### Operating system type + version
Mac OS 10.11.6

### Behavior
Load a new object onto the platter, rotate object 180º around the X axis. The object is now placed below the platter. Only way to recover object is by rotating it 180º back to its original state.

[2018-08-02 17:30] bubnikv commented on #1108
I suppose in this scenario Slic3r shall just maintain the link. I have fixed the same issue for the configs stored into the AMF/3MF files. Maybe it works now for you with the Slic3r-1.41.0-alpha3? If that does not work, then we may need to fix it.

That is a valid point, I wonder how probable is that. We should certainly strive to not rename the system profiles then.

I think this is the prime rea

[2018-08-02 17:30] bubnikv commented on #1117
This will be fixed in the upcoming beta.

[2018-08-02 17:32] bubnikv commented on #1116
@FidelCapo Would you please try to reproduce it?

[2018-08-02 17:51] boelle commented on #1086
not sure how to confirm it

[2018-08-02 17:59] Daelus0 commented on #1091
So, there's not currently anything in Octoprint directly, to my knowledge. There is a plugin which I've linked above. If we can export the data in the octoprint metadata format then we can just use that plugin. Either that or we can write our own plugin for octoprint to parse the metadata that Slic3r is outputting now.

I've got 3 reasons for this request.

Octoprint running on a Rapsberry Pi take

[2018-08-02 18:02] boelle commented on #1086
the only difference that was clear to me was the gcode that comes out of the latest Slic3r

latest has a section in the start with different codes that overrides the feedratest etc
the versions before that do not insert that

i would have used prusa firmware  but on my selfbuild mendel90 i use dual z steppers and dual endstop and i have a full graphic display, and if i rememeber correct prusa vers

[2018-08-02 18:11] ayberkozgur opened #1118 "Raise z axis all the way when print is done for easy bed plate removal"
Very simple feature request: Raise z axis all the way up when print is done for easy bed plate removal. Right now, the plate bumps into the extruder especially for short prints.

[2018-08-02 18:50] dikodahan commented on #1118
+1 for that!
Every time I have a low profile print I need to go through the menu to raise the extruder so I can easily remove the plate on my MK3. Very annoying.
Not sure about all the way up, but definitely at least to the middle of the Z axis, or 75% up.

[2018-08-02 18:53] p3ck commented on #1118
Are you aware you can hold the dial button down and it will jump to the
Z-axis control?

On Thu, Aug 2, 2018 at 2:50 PM, Moshe Dahan <notifications@github.com>
wrote:

[2018-08-02 18:59] ayberkozgur commented on #1118
@p3ck Yes, but ideally this manual intervention should not be necessary at the end of every print.

[2018-08-02 19:09] dushyantahuja commented on #1112
Thanks - will try that. However, that would not explain why the infill has a height of 1mm. Tried to slice it with a 0.4mm nozzle - and have the same issue. The infill and first top layer are 0.4mm where the slicing profile is for 0.2mm.
<img width="548" alt="screen shot 2018-08-02 at 20 07 29" src="https://user-images.githubusercontent.com/6416649/43605320-d842e12a-968f-11e8-8467-7e4c9382d83f.png

[2018-08-02 19:15] dushyantahuja commented on #1112
Looks like an issue with the gyroid fill - tried honeycomb fill and that came up with 0.4mm height for all the layers (except the bridge layer)
<img width="543" alt="screen shot 2018-08-02 at 20 14 29" src="https://user-images.githubusercontent.com/6416649/43605595-bc8b9bce-9690-11e8-819a-85746df3c697.png">

[2018-08-02 21:01] GreatGrizzly commented on #1118
I have custom gcode that squirts out some plastic then raises the print head to the top. This guarentees that plastic wont curl up and stick to the nozzle when it cools down.

I think both of those features should be standard.

[2018-08-02 21:06] GreatGrizzly commented on #1108
My settings are as follows:
.05mm
.1mm
.15mm
.2mm
.25mm

These all share a lot of the same variables, but I have to duplicate the settings amongst them.

I have the following filament settings

Hatchbox PLA
Hatchbox PETG
Seinsmart PETG
Seinsmart TPU

The PETGs share a lot of settings, so having a parent PETG config would be ideal.

I also have different "printers":

MK3 TPU
MK3 PETG
MK3 PLA

This

[2018-08-02 21:59] supermerill commented on #1112
it's a problem with the implementation in the current branch of slicµ3r pe : the gyroid infill is sliced as a bridge because it's not completly over the previous layer. But i think personally it should be removed.

Look at the 3Dhoneycomb.

[2018-08-02 22:24] tracernz commented on #1110
It would be nice if Slic3r had hooks so you could have your own scripts run when e.g. on launch, when settings are saved. Then you could implement this yourself fairly trivially with whatever VCS or backing store you desire.

[2018-08-02 23:25] kdorff opened #1119 "Additional non-support geometry being added to model"
### Version
1.40.1+

### Operating system type + version
Mac OSX High Sierra 10.13.6

### Behavior
Slicing the model https://www.thingiverse.com/thing:2454444 at 0.20mm, 20% infill, Slic3r inserts solid layers toward the constriction of the model. Support is set to None. No brim. These appear in layers at 48.80, 55.40, 58.40, 58.60, 61.80, 62.00, and possibly others (I got these numbers of scannin

[2018-08-03 02:45] baokhangnn commented on #1116
Hello,

I can do this over and over all day long. I just have to remember, before I close Slic3r that I have to move it to my laptop screen. Then I can unplug the external monitor and still get to slic3r.

However, If I have Slic3r open and pull the external monitor then it relocates to my laptop monitor just fine.

Thanks,

-Bao

[2018-08-03 02:49] vernieg commented on #1076
The "detect thin walls" feature is enabled but did not slice correctly even on the current alpha3 version.

[2018-08-03 02:58] vernieg commented on #1076
Ok, if I disabled the "detect thin walls", it did sliced correctly. :)
![thin-walls-disabled-2018-08-03 10-57-52](https://user-images.githubusercontent.com/37242799/43621888-24b2a672-970c-11e8-8036-d61e70cf9aef.png)

[2018-08-03 05:38] FidelCapo commented on #551
This bug was fix in version 1.40.0. Closing

[2018-08-03 05:38] #551 closed

[2018-08-03 07:36] bubnikv commented on #1076
I think we can close the issue then?

[2018-08-03 08:37] alsopub commented on #1072
There is no Z position change near X160 Y66.
I will fix this exproblem for myself with script (with "PURGING FINISHED" and without).
Then I will print the same model in both ways and show the result.

[2018-08-03 09:00] 3d-gussner opened #4452 "Question: Output option estimated time and fill-pattern"
I would like let the Slic3r PE generate the filename but some parameters aren't working.

I try to generate the filename but adding {fill-pattern} or {external-fill-pattern} but get errors using these.
This works:
`{input_filename_base}_{filament_type[0]}_{layer_height}mm_{perimeters}perm_{fill_density}percent_{printer_model}.gcode`
This not:
`{input_filename_base}_{filament_type[0]}_{layer_height

[2018-08-03 10:51] vernieg commented on #1076
Yes, I think this can be considered closed. I just have to pay attention to these advance settings which is fine with me. :) Thank you.

[2018-08-03 11:18] murphy2712 commented on #1117
I noticed this as well (at 90º). Fortunately, it only affects the 3D view, the slicing works fine.

[2018-08-03 12:31] bubnikv commented on #1076
Thanks. Closing.

[2018-08-03 12:31] #1076 closed

[2018-08-03 12:37] bubnikv commented on #1116
We were able to reproduce it on both OSX and Windows. We hope to fix it for the final release.

[2018-08-03 13:06] baokhangnn commented on #1116
Thank you!

You guys really are amazing!!!

-Bao

Sent from my iPhone

[2018-08-03 13:57] bubnikv commented on #1089
I have checked our MK2 / MK3 firmware and the current Marlin
https://github.com/MarlinFirmware/Marlin/blob/f816d6f70fd15b351634d0545ef2b8302853bf46/Marlin/Marlin_main.cpp#L9158

The Marlin guys made the porting process to the new format quite ugly as they changed the meaning of the T value: It used to be the retract acceleration, now it is the travel acceleration.

We decided to solve it by produc

[2018-08-03 14:05] bubnikv commented on #1118
Our current end G-code looks something like this:

[code]

See the line
[code]
which is responsible for lifting the print head at the end of the print by 3 cm if there is space. I suppose this implementation fulfills your needs, right?

[2018-08-03 14:36] ayberkozgur commented on #1118
@bubnikv Exactly, I have 1.39.0 from the Ubuntu repos so I did not see this change yet. However I would argue that z should be raised a clean 100mm for zero chance of hitting the extruder as the magnets are pretty strong and quite a lot of energy can be built while pulling the bed up.

[2018-08-03 14:44] bubnikv commented on #1089
Implemented with https://github.com/prusa3d/Slic3r/commit/0454adc19415499635b5d268c5d928f5bbe3b71e
It will be part of the upcoming beta. You will have to define the machine limits table, and for now the "acceleration when extruding" value is exported for the travel acceleration as well. If you don't like it, you will have to override the M204 code in your start G-code.

Please note that as of now

[2018-08-03 14:50] bubnikv commented on #1086
Marlin changed the definition of the M204 command, see the discussion at
https://github.com/prusa3d/Slic3r/issues/1089

For the time estimator to work, the Slic3r needs to know the machine limit values with which the firmware operates. To keep both in sync, Slic3r now exports the machine limits as M-code block before the custom start G-code. The upcoming release will generate an M-code compatible

[2018-08-03 14:50] #1086 closed

[2018-08-03 15:02] boelle commented on #1086
great, will give it a go as soon i see the next version, again thanks for this great software

[2018-08-03 15:09] boelle commented on #1089
when the next version comes what do i need to do so that marlin does not go bananas  ?

of course i insert the firmwares limits under machine limits, but then there was the override section at the top of the gcode that screwed up things...

i agree its a mess and i'm just happy that i keept a backup of the slicer settings and the version i used to have

[2018-08-03 17:09] x0rtrunks opened #1120 "Excessively wide extrusion width (3mm)"
Slic3r PE 1.41.0-alpha3+

MacOS 10.12.6

When slicing this STL: https://www.myminifactory.com/object/3d-print-colour-pensil-fruitbowl-50790

If only 2 perimeters are used an excessively wide extrusion width is used for small sections of top solid fill right before a slope begins, which ruins the print as obviously a 0.4 nozzle can't extrude over 3mm width lines. If you examine the gcode preview wi

[2018-08-03 20:20] bubnikv commented on #1089
I hope the "override section that screwed up things" is the G-code block that Slic3r generates from the machine limits table, and the upcoming release will produce a block, which is understood by the current upstream Marlin.

[2018-08-03 20:29] boelle commented on #1089
yeah, i'm not good with words so "screwed up" might not have been the best way to say it

of course the easy "fix" would be to have an option in the slicer that does not put in the block

again i would have picked prusa firmware but there are a few features i would miss, dual z stepper drivers and endstops are the most important one, full graphic display would be the next, not sure if prusa flavou

[2018-08-03 20:31] bubnikv commented on #1089
We wanted to release another alpha (or beta?) today, but we did not manage yet.

[2018-08-03 20:39] boelle commented on #1089
oki doke.... no rush

better wait and make it right

[2018-08-03 20:56] alsopub commented on #1072
I printed [this vase](https://www.thingiverse.com/thing:687931), and [here is "seam" photo](http://joxi.ru/KAx5Ew3UM7kpqr.png).
It is too difficult to take a good photo, sorry for quality.
After removing extra Z moving commands, seam eliminated.
I'm not require you to fix this, because I can fix this by myself.
If you consider this is NOT a problem - just close this issue.

[2018-08-03 23:50] hexane360 commented on #1089
@boelle just as a side note, Marlin definitely does have 9-point probing, with any of the bed leveling options. Take a look at `GRID_MAX_POINTS_[XY]`, and the options to [`G29`](http://marlinfw.org/docs/gcode/G029-abl.html)

[2018-08-03 23:55] hexane360 commented on #1089
This definitely seems like a good solution. However, we should think about adding support for travel accelerations, both in preparation for PrusaFirmware actually using the M204 T option and for current Marlin users. If not set, it can just default to `machine_max_acceleration_extruding`, preserving accurate time estimates for Prusa printers.

[2018-08-04 05:02] bubnikv commented on #1089
Yes, but as of now Slic3r generates M204 Sxx to control acceleration per extrusion type, which overrides both M204 Pxx and M204 Txx in the current upstream Marlin, so with M204 Sxx to control the per extrusion type acceleration, we would implement the M204 Txx in vain. We then would need to make decision on whether the Slic3r should only emit M204 Pxx instead of current M204 Sxx to control per ext

[2018-08-04 06:04] boelle commented on #1089
@hexane360

by 9 probe points i mean the 9 points on the mk42 bed, mainstream marlin does not support that one

[2018-08-04 06:08] boelle commented on #1089
@bubnikv if @thinkyhead does not get back to you maybe the only other way to support other printers would be to have an new firmware flavour called prusa that inserts the new gcode block in the beginning, if flavour is set to marlin it should not insert the block

just some poor thoughts from me :-)

[2018-08-04 06:13] jimmy00784 opened #1121 "Issue priming with quad extruder setup with single nozzle"
### Version
1.41.0 alpha 3

### Operating system type + version
Arch Linux 64 bit

### Behavior
When attempting to use 4 filaments in a multi-material single nozzle setup, prime purge escapes outside of the print bed of dimensions 200mm x 200mm.
I couldn't find any setting that would allow configuring the position of dimensions of the purge.

![image](https://user-images.githubusercontent.com/1296

[2018-08-04 07:43] lukasmatena commented on #1121
@bubnikv: "The initial purge is as wide as the wipe tower."
This is no longer true. The width calculation was changed while fixing https://github.com/prusa3d/Slic3r/issues/571 and preparing for MMU2 that might want to prime up to five tools. It was still left Prusa-specific and assumes the bed width of 240mm. I will change it for the upcoming release so it uses the actual dimensions of the bed. No

[2018-08-04 08:14] hexane360 commented on #1089
It's a bit hacky, but if travel acceleration is set by the user, a `M204 T` could be added  after each `M204 S` to restore the set travel acceleration. On both current Prusa Firmware and Marlin, the `M204 S` would set both travel and printing acceleration, while the `M204 T` would only affect travel acceleration. However, it might be best to just rip the band-aid off and avoid multiple stages of b

[2018-08-04 15:31] bubnikv commented on #1118
I think your argument is best to be confirmed by experiment. Did you try our 30mm lift?

Anyway, this value is configurable in the printer profile. Are your needs satisfied? Can we close this issue?

[2018-08-04 15:38] jimmy00784 commented on #1121
Could this be resolved by priming within the Wipe Tower itself?

[2018-08-04 22:22] h0b0byter99 opened #1122 "Certain part of STL won't generate supports"
### Version
_Version 1.40.1+win64_

_Use `About->About Slic3r` for release versions_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
Windows 10 Version 1803 OS Build 17134.165

### Behavior
* When I slice this STL https://www.thingiverse.com/download:4766116
The start of the loin cloth

[2018-08-05 02:48] mvadu commented on #1117
This is affecting both X and Y axis rotation. The object can't be moved back on top of the build plate either.

[2018-08-05 09:35] scanlight opened #1123 "program crashing when saving a preset"
### Version
1.40 but also earlier versions

running windows 10 64x

program crashing (no warning just disapears) when trying to save a preset.
started a few months ago. today i tried the newest version but the same problem

all works flaweless and can export gcode.
until i try to save a modified preset.
then its gone

[2018-08-05 12:10] mrjohnc opened #1124 "Feature request: Support Flatpak / Snap / linux 'app store' distribution"
Adding Slic3r Prusa Edition to Gnome software would make it easier to install and keep up to date on Linux distributions using Gnome (which many of the most popular Linux distros use)

https://wiki.gnome.org/Apps/Software

[2018-08-05 18:29] tonysmartantzoulatos opened #1125 "Features Request for Slic3R"
Hello Prusa Reasearch,

I was told by tech support to type an email with slic3r requests and then i was responded by Jennes De Schutter that i should type them here. Here it goes then.
a) To be able to set an unlimited amount of extruder temperatures for individual layers heights. I am not asking for BED temp only extruder. Since a feature like this makes it easy to print hard materials that accep

[2018-08-05 20:04] bubnikv commented on #1124
Slic3r is written using wxWidgets toolkit over GTK2 (or GTK3), so it is officially not a Gnome application. Also there is a Slic3r PE package for Debian, Ubuntu and likely other distros, so if you don't like the AppImage format we provide, you can likely install Slic3r PE from your distro, though it will likely be a bit older version.

Now I don't understand the request. Why should there by a Gnom

[2018-08-05 21:45] mrjohnc commented on #1124
Sorry I'm not explaining very well, basically I want to be able to install Prusa Slic3r from the sofware centre thing that comes in Ubuntu (like you can do with Cura). Whilst I know how to install the software in the other ways it would lower the barrier to others to be able to do this and would allow people to keep it up to date easily.
![screenshot from 2018-08-05 23-31-46](https://user-images.g

[2018-08-06 06:13] FidelCapo commented on #1123
Can you please upload config file with that modified preset (File - Export Config...)? Thank you.

[2018-08-06 06:26] scanlight commented on #1123
Thats the problem i cant save any present.
It loads the default settings. When i modify anything an click the save present button the program crashes.
I dont know of there is any log file to get more info of whats happening at the moment of the crash

Op 6 aug. 2018 08:13 schreef HurkaF <notifications@github.com>:

Can you please upload config file with that modified preset (File - Export Config..

[2018-08-06 06:29] FidelCapo commented on #1123
Does this save button mean the floppy disk icon when selecting presets?

[2018-08-06 14:49] vojtechkral commented on #1124
Ubuntu Software Center is discontinued. Gnome Software is active, but it is, as far as I know, more or less just a frontend to distro package managers. So basically better package presence would be likely needed.

[2018-08-06 16:16] bubnikv commented on #1071
In the 1.41.0-beta, there is a new "supports time to end" check box to enable / disable generation of the M73 code.

[2018-08-06 16:19] bubnikv commented on #1094
Fixed in Slic3r 1.41.0-beta

[2018-08-06 16:19] #1094 closed

[2018-08-06 16:19] bubnikv commented on #1088
Fixed in Slic3r 1.41.0-beta

[2018-08-06 16:20] #1088 closed

[2018-08-06 22:19] GreatGrizzly commented on #1108
Imported settings losing their inheritance is an issue in Slic3r-1.41.0-alpha3.

[2018-08-06 22:35] GreatGrizzly opened #1126 "End Code and Start Code Improvements"
Frankly, the current start gcode and end gcode suck. The start gcode causes plastic to get all over the bed, attach to the nozzle, and is just inefficient time wise for starting prints.

The end gcode is also pretty bad, leaving no room to clean nozzles, or letting plastics bend up and stick to the nozzle when they cool (Very prevalent with PETG and TPU).

Here is the following GCode I use that mi

[2018-08-07 00:37] stelgenhof opened #1127 "Missing header EXTERN.h"
### Version
1.41.0-beta
`git rev-parse HEAD`: 288cd58

### Operating system type + version
Arch Linux 4.17.11

### Behavior
Compiling Slic3rPE from the latest sources fail with the error that the EXTERN.h file cannot be found:

`../xs/src/xsinit.h:44:10: fatal error: EXTERN.h: No such file or directory.`

This actually happened after a system update of Perl was done (2018/08/07).
`perl -v`: perl 5

[2018-08-07 01:11] stelgenhof commented on #1127
Further investigation showed that some manually installed Perl modules had to be rebuild/re-installed:

`WARNING: '/usr/lib/perl5/5.26' contains data from at least 5 packages which will NOT be used by the installed perl interpreter.`

- perl-alien-wxwidgets
- perl-extutils-cppguess
- perl-extutils-typemap
- perl-extutils-typemaps-default
- perl-extutils-xspp
- perl-opengl

After doing so, the issu

[2018-08-07 01:37] screwyluie opened #1128 "45deg Rotation has an incorrect bounding box preventing slicing"
### Version
1.41.0-beta win64

### Operating system type + version
windows 10

### Behavior
using a large model (200mm wide for instance) it's green and able to be sliced at 90deg turns, but at the 45deg turns (using the L/R keys) it becomes blue if moved at all away from center, even though the model is fully within the print surface.

As a result you can't print many files at a 45deg rotation, a

[2018-08-07 02:34] kazibole commented on #1074
@FidelCapo @bubnikv Confirmed resolves in 1.41.0-beta!

[2018-08-07 02:34] #1074 closed

[2018-08-07 03:13] mloidl commented on #1127
I had the same issue.
Removing CMakeCache.txt and generating calling cmake again solved the issue for me.

[2018-08-07 03:29] mloidl commented on #1127
Would do a `make clean` prior the new build to make sure there are now old objects lying around.

Had the same issue somewhere in the past but definitely not yesterday.

[2018-08-07 03:52] stelgenhof commented on #1127
@mloidl Already did a complete clean but unfortunately didn't solve the issue. Issue is now the the Perl runtime.

[2018-08-07 05:43] GreatGrizzly commented on #1126
@mloidl Perfect! Just what I was looking for. Anything to save time when getting the printer ready to go is a good addition. Updated the original code.

[2018-08-07 06:31] GreatGrizzly commented on #1118
See #1126. I have end code that handles this.

I believe that the printer should have max clearance after a print, not only to take the heat bed off, but to allow easier access to hotend to get plastic off that may have stuck to it during a print.

[2018-08-07 06:53] bubnikv commented on #1126
@jindrichbenes is looking into it

On Tue, Aug 7, 2018 at 7:43 AM, GreatGrizzly <notifications@github.com>
wrote:

[2018-08-07 07:08] bubnikv commented on #1127
handshake key 0xde00080, needed 0xce00080).

https://stackoverflow.com/questions/45000585/listutil-c-loadable-library-and-perl-binaries-are-mismatched-got-handshake-key
https://github.com/hideo55/Module-Build-XSUtil/issues/12

Good luck guys

I think you need to reinstall the following cpan module.
https://metacpan.org/pod/List::Util

On Tue, Aug 7, 2018 at 5:52 AM, Sacha Telgenhof <notifications@

[2018-08-07 07:33] stelgenhof commented on #1127
@bubnikv Thanks! I will check those links out later. Tired after hours spending figuring this one out.

I will close this issue as there is nothing wrong with Slic3rPE itself, but more my environment after I did a system upgrade which included an upgrade to Perl 5.28 (from 5.26). Never experienced this before, actually.

[2018-08-07 07:33] #1127 closed

[2018-08-07 07:40] bubnikv commented on #1108
What exactly do you mean with "export each profile in its own file" ? You export a config?

You mean you load the config files (one print / filament / printer profile per file) one by one?

Why are you doing it? The update process should automatically keep your profiles intact.

[2018-08-07 07:51] stelgenhof commented on #1127
@bubnikv Just quickly I want to add that I've tried already many of the suggestions on StackOverflow, etc. All the modules are actually installed, it's just that the Perl interpreter tries to pick the wrong/previous one.

[2018-08-07 07:54] vojtechkral commented on #1127
I had a similar problem yesterday, had to recompile a bunch of perl modules _and_ wxwidgets...

[2018-08-07 07:56] stelgenhof commented on #1127
@vojtechkral I did the same, but still encountering issues. I'll keep this ticket up to date if I have more info.

[2018-08-07 08:04] vojtechkral commented on #1127
@stelgenhof You're using Arch too, right? FWIW, this is what I did:

1. Remove Slic3r build directory, remove the `local-lib` directory
1. Install as many perl dependencies using `pacman` and from AUR as possible; the ones that come from AUR apparently needed rebuilding
1. Re-build `wxgtk` from `asp`/`trunk` because of the ABI mismatch
1. Re-build Slic3r

[2018-08-07 08:11] stelgenhof commented on #1127
@vojtechkral Yes, using Arch. I will try out these steps. Thanks!

[2018-08-07 08:28] ayberkozgur commented on #1118
@GreatGrizzly I totally agree about the clearance and the extra extruded plastic, it's quite a shame how badly the extrusion before the intro line is currently handled. It always results in extra bits of plastic that ruins the first 2-3 layers. Therefore I close this issue now and subscribe to #1126.

[2018-08-07 08:28] #1118 closed

[2018-08-07 09:45] bubnikv commented on #1125
When entering issues or requests, please enter them one by one, and use an expressive title, so we can sort the issues out.

c) You are right, it would be nice to have a PLA support interface layer before a PVA support interface layer.

d) It is a matter of personal preference. The purge values are entered in cubic mm, which is linearly dependent on filament length (1.7mm dmr filament has 2.405mm

[2018-08-07 09:48] bubnikv commented on #1123
What exactly is happening? Does slic3r close? When exactly?
Is there anything special about your directory where Slic3r profiles reside? Isn't it a network drive? Did you set a reparse point somewhere on the path to this directory?

[2018-08-07 09:48] bubnikv commented on #1117
Fixed in 1.41.0-beta.

[2018-08-07 09:48] #1117 closed

[2018-08-07 10:00] bubnikv commented on #956
No response, closing.

[2018-08-07 10:00] #956 closed

[2018-08-07 10:16] stelgenhof commented on #1127
@vojtechkral Woohoo! Got it working again. I followed your steps, except number 3. Not sure why, but without that it compiled with no issues and ran without a problem.

As always, big thanks @bubnikv and @vojtechkral !

[2018-08-07 10:50] bubnikv commented on #831
I just checked with the latest Slic3r 1.41.0-beta. It seems that in this case Slic3r may not be guilty, but your modeler. I suppose there are really zero thickness layers closing the top of the holes, also there are the same zero thickness membranes, which are then sliced as on the next screen shot. These kind of errors happen if one subtracts one cylinder from the other in a dumb CAD system, and

[2018-08-07 10:50] bubnikv commented on #831
Which CAD did you model with? Could you create another STL by subtracting longer "drilling" cylinders?

[2018-08-07 16:36] jimmy00784 opened #1129 "Need help tuning Single Nozzle MM related Printer and Filament specific settings to fix filament jams during tool change"
### Version
1.41.0 beta linux 64

### Operating system type + version
Arch Linux 64 bit

### Behavior
During tool change, the filament deforms unevenly and results in jams after a few layers of successful prints. Need assistance troubleshooting and tuning single nozzle MM related settings that are present in Slic3r PE.
I've attached pictures of filament ends that I've cut from past different print

[2018-08-07 16:51] jimmy00784 opened #1130 "[Feature Request] For Single Nozzle MM setup, allow priming first extruder when in Wipe Tower settings"
### Version
1.41.0 beta linux 64

### Operating system type + version
Arch Linux 64

### Behavior
In 1.41.0 beta, you are allowed to choose to prime all printing extruders or none at all in the Wipe Tower settings.
Please include the option to prime first extruder so that the filament is moved down from the parking location to the nozzle.
At this time, I have to manually push the filament to the n

[2018-08-07 22:06] thinkyhead commented on #1089
Since `M204 S` has been deprecated for a while, the sooner we all abandon it, the better. Just use always use the `P` and `T` parameters, even if they're the same.

[2018-08-08 07:08] bubnikv commented on #1089
@thinkyhead

While I appreciate your response, before doing a decision, I would like to know:

When was that change made in mainstream Marlin?, Who did it?
Why was it done that way? (no way to keep backward compatibility due to a quite cumbersome redefinition of the meaning of T). I do not want to point fingers, but we should avoid such decisions in the future.

And most of all:
Before / after tha

[2018-08-08 07:16] boelle commented on #1089
@bubnikv is there any way i can contact you outside github  ? i have an question about prusa firmware and i dont want to piss off people to much with off topic questions

i will delete my post here once i get an reply.... if i can delete  my post

[2018-08-08 07:18] bubnikv commented on #1089
@boelle you can contact me at vojtech bubnik at prusa3d cz, but please note that I am no more involved in our firmware development and that my time to support you is very limited.

[2018-08-08 12:11] jreybert commented on #755
Do you think it is fixable? According to the wiki, `gcc 4.9` is a hard requirement:

Not sure it is possible to find a configuration with `gcc 4.9` **and** `libstdc++.so.6.0.19`.

[2018-08-08 15:45] ChiliApple opened #1131 "Gyroid infill with, it´s impossible to change ..."
### Version
1.41.0 Beta+

### Operating system type + version
Mac OS 10.13.6

### Behavior
* since 2-4 Versions it´s impossible to change the infill with on gyroid, works only on the other infill´s

![bildschirmfoto 2018-08-08 um 17 44 56](https://user-images.githubusercontent.com/38113577/43848235-cc0fd848-9b32-11e8-85f1-9ab6e5fdad73.png)
![bildschirmfoto 2018-08-08 um 17 44 41](https://user-imag

[2018-08-08 15:49] ChiliApple opened #1132 "[Feature Request] Printpreview on slice without "send to printer or export""
### Version
1.41.0 Beta+

### Operating system type + version
Mac OS 10.13.6

### Behavior
* it would be nice to have a printpreview data on slice, without "send to printer or export"

_Is this a new feature request?_ Yes

THX, best Udo

[2018-08-08 15:53] ChiliApple opened #1133 "[Feature Request] infill separately for TOP / BOTTOM Layer"
### Version
1.41.0 Beta+

### Operating system type + version
Mac OS 10.13.6

### Behavior
* last request :)
Please make it possible for us to be able to select the infill separately for TOP / BOTTOM Layer

_Is this a new feature request?_ YES

THX best Udo

[2018-08-09 01:35] hexane360 commented on #1125
a) and b) are already possible with current Prusa Slic3r, using the G-code macro language.

[Here's](https://github.com/prusa3d/Slic3r/wiki/Slic3r-Prusa-Edition-Macro-Language) a full write-up. The gist is that you put a conditional expression in "Printer Settings"->"Custom G-code"->"Before layer change G-code", which runs different commands based on a value of `layer_z` or `layer_num` (zero-index

[2018-08-09 01:36] hexane360 commented on #1125
a) and b) are already possible with current Prusa Slic3r, using the G-code macro language.

[Here's](https://github.com/prusa3d/Slic3r/wiki/Slic3r-Prusa-Edition-Macro-Language) a full write-up. The gist is that you put a conditional expression in "Printer Settings"->"Custom G-code"->"Before layer change G-code", which runs different commands based on a value of `layer_z` or `layer_num` (zero-index

[2018-08-09 08:34] supermerill commented on #1133
Already done in my fork https://github.com/supermerill/Slic3r
the commit: https://github.com/prusa3d/Slic3r/pull/821/commits/f9344a00e37e179e44f970edd65fd124a9370a96

duplicate of https://github.com/prusa3d/Slic3r/issues/475

[2018-08-09 08:37] supermerill commented on #1131
How do you "change the width" ? with the parameter in advanced->infill?

[2018-08-09 09:12] bubnikv commented on #1131
The issue here is, the gyroid infill as of now is printed with a bridging
flow, so it does not respect the infill extrusion line width.

On Thu, Aug 9, 2018 at 10:37 AM, Merill <notifications@github.com> wrote:

[2018-08-09 09:41] tamasmeszaros commented on #765
Dear Vanessa,
currently, we know about the clash of auto-center and the arrangement feature. Auto centering is taking the parts according to their bounding boxes (although I'm not entirely sure about this). Arrangement is a completely different beast altogether but when you hit the arrange, it does center the arranged pile of objects within the print bed, that is why we kept this logic for now.

T

[2018-08-09 10:26] ChiliApple commented on #1133
looks good, but no ready use app for Mac OS, i must be compile your fork?

[2018-08-09 10:58] supermerill commented on #1133
Yes

[2018-08-09 14:28] RHTizzy opened #1134 "Rotating objects on the x-axis causes them to drop through the plate"
### Version
1.41.0 alpha 3 + win64

### Operating system type + version
windows 10, 64bit, latest stable release

### Behavior
Rotating any object 90degrees on the x-axis causes it to drop halfway through the bed, effectively cutting it in half

### Expected Behavior
In previous versions the object would snap to the bed surface on the bottom edge

_Is this a new feature request?_
No

[2018-08-09 15:12] bubnikv commented on #1134
Fixed in Slic3r-1.41.0-beta. Closing.

[2018-08-09 15:12] #1134 closed

[2018-08-09 19:17] KD7LRJ commented on #1131
The "Combine infill every:" also seems to cause problems with gyroid infill.

[2018-08-10 03:00] Vipas-ana commented on #1115
It looks like this may have been fixed in 1.41.0-beta+.

[2018-08-10 08:43] jreybert opened #1135 "Build: static link with libboost fails on Fedora 27"
The issue may be from libboost itself, I just give it a try here first.

### Version

Build from git, on master of last few days:
93b8f3147c174e2b024f9162581ef18cb56b3b82

### Operating system type + version
Fedora 27
[code]

### Behavior
* Trying to build with static link of libboost (and others)
  * cmake -DSLIC3R_STATIC=1 -DCMAKE_BUILD_TYPE=Release ..
  * make
* build both slic3r and lib XS
* _

[2018-08-10 08:44] alexiri commented on #628
I'm really looking forward to @vojtechkral's progress on this. I usually use the [javascript app](http://www.prusaprinters.org/color-print/) but it's terrible. I've had it cut the end of my gcode file and miss inserting color changes where it should. It's totally untrustworthy!

[2018-08-10 12:23] supermerill opened #1136 "Disabled retraction not completely disabled"
### Version
1.40.1

### Operating system type + version
win32

### Behavior
If i disable the retraction by putting "0" in the length field, the output gcode write some useless M92 command, it's because the Gcode::needs_retraction() doesn't check if the retraction is 0 and then, the reset_e() is called because needs_retraction() return true.
To disable it, i had to put 1 into the length field, chan

[2018-08-10 19:57] buttc opened #1137 "Cannot enforce support (Generate support unselected)"
### Version
Version 1.39.1-prusa3d-win64

Windows 10 Home OS build 17134.165

Under Print Settings> Support material>
Generate support material - UNTICKED.

Enforce support for 30 layers
DOES NOT NOT CREATE SUPPORT!!

[config.zip](https://github.com/prusa3d/Slic3r/files/2279285/config.zip)

[Arch long legs with top pins.zip](https://github.com/prusa3d/Slic3r/files/2279280/Arch.long.legs.with.top.p

[2018-08-10 22:29] grigorig commented on #1124
I think what OP might really mean is that Slic3r PE should use a standard distribution mechanism, such as Snap or Flatpak that is portable and independent from a specific distribution. Sort of like AppImage, but more suitable for the "app store" use case and with better security/isolation.

[2018-08-10 22:50] mrjohnc commented on #1124
@grigorig yes this is exactly what I meant, thanks very much

[2018-08-11 09:30] DominikPalo opened #1138 "G-Code flavor set during the initial setup is ignored"
### Version
1.41.0-beta+

### Operating system type + version
macOS High Sierra 10.13.5

### Behavior
During the initial setup ("Custom printer") set the G-Code flavor to "Marlin". After the final step, My Settings profile (in "Printer Setting") is created, but it has G-code flavor incorrectly set to "RepRap/Sprinter", although it should be "Marlin".

[2018-08-11 11:42] mrjohnc commented on #1124
@bubnikv feel free to rename to how @grigorig explains

[2018-08-11 11:54] buttc commented on #1137
Just to add the doorway is printed vertically, the pins are the only part in contact with the bed.

[2018-08-12 10:43] tonysmartantzoulatos commented on #1125
@hexane360 apologies, since i am not so much into code. I am more on the design of usable parts side.
i will test the suggested way, but my theory was to be able to have something easy that does not require i know how to type marlin code into my custom g-code window and create a "profile" for a specific print.
In order to understand properly....if i want changes on layers 50,100, 150 and 200 i mus

[2018-08-12 15:25] tjcolejr opened #1139 "Fan turns off during first two layers of non-build plate supports"
1.41.0-beta+win64

I have no idea how long this has been happening,

In my filament settings, I have the fan set to turn off during the first 2 layers of the model and this is functioning correctly.

I am printing supports that begin at layer 7, starting on a top surface of the model, and I noticed the fan was turning off when the first 2 (possibly 3) layers of the supports were printing.  Below i

[2018-08-12 18:04] tjcolejr commented on #1139
Additionally, this DOES NOT happen if there are ALSO supports directly on the build plate.

[2018-08-13 03:34] hexane360 commented on #1125
You're almost there. Those are the correct commands, but you just need to have Slic3r's conditional statements around. Again, [this](https://github.com/prusa3d/Slic3r/wiki/Slic3r-Prusa-Edition-Macro-Language#continuous-decrease-of-nozzle-temperature) is a working implementation. In your case, it would look like this:
[code]
The curly braces tell Slic3r to interpret the inside as a command to Slic3

[2018-08-13 05:10] slate0 commented on #102
FWIW, I was stuck using a Makerbot 2 and Makerware at my workplace for a few years.  We just expected the supports to be difficult to remove (we didn't know it could be better), but I don't remember having problems as in these photos either, and this was with PLA with a layer thickness of 0.2.

It wouldn't be easy, but I could try to get an old coworker to print out a sample on the Makerbot to per

[2018-08-13 06:30] paulfertser commented on #102
On Sun, Aug 12, 2018 at 10:10:19PM -0700, slate0 wrote:

The key word here is _PLA_. It doesn't tend to curl upwards on
overhangs so it doesn't need supports to _pull_ it down. So there's no
use trying the samples in PLA.

FWIW the workaround as it is described in this ticket does wonders for
my usecase, the ABS overhangs look really clean and the supports are
(mostly) removable without a knife. T

[2018-08-13 10:33] slate0 commented on #102
overhangs so it doesn't need supports to _pull_ it down. So there's no
use trying the samples in PLA.

Are we trying to fix the orange thingies in the pictures or not?  I'm not going to assume what is causing the problem, but my PLA prints do exactly the same thing wherever something is built on a support.

I thought it would be obvious for anyone else talking about fixing this to have also tried

[2018-08-13 19:38] stahlfabrik opened #1140 "No Preset for Prusa Easy-ABS / Filament-PM ABS-T"
This is a feature request (and a little complaint:-) aka cry for help)

I want to use my Prusa Easy ABS spool that I have. Problem: There is a "Prusa ABS" Profile, but no "Prusa Easy ABS" profile in Slic3r.

When I print using the Profile "Prusa ABS" the prints come out unusable bad: completely deformed and molten.

The "Prusa ABS" profile uses 255C on hotend. Easy ABS is specified for 230 to 250C

[2018-08-14 02:31] GreatGrizzly commented on #1108
I have my own git repository where I save my settings. I then use these settings on other machines when slicing models.

Before this auto update stuff, I had all my own profiles with the MK2. It was as easy as exporting config bundles and importing them on other machines. Now that settings are automatically updated, it messes with some of my custom settings when I import, one of the changes is my

[2018-08-14 04:47] tonysmartantzoulatos commented on #1125
@hexane360 Thank you for your assiastance.
I was able to create such a profile and testing it with some temp towers to see how it works.

[2018-08-14 04:47] #1125 closed

[2018-08-14 13:32] ayberkozgur commented on #1118
@bubnikv As a side note, I've been trying out building `master` directly from the repo and I can say that 30mm is not enough. With shallow prints, the bed easily hits the extruder due to the strength of the magnets.

[2018-08-14 14:28] subjektivdk opened #1141 "[Feature Request] Insert pause and filament change at specific layer height"
**M600**
Pause for filament change

**M601**
Long pause

Something like in prusacontrol

[2018-08-14 18:13] ayberkozgur commented on #1126
@GreatGrizzly I like your improvements a lot in theory, I'll try them out together with some of my improvements surely soon.

The goal is of course to eliminate any and all ooze in a fully automated manner before and after each print, but I don't imagine that is practically possible even with any amount of retraction. However, the next best goal, that is to make cleaning predictable (which in turn

[2018-08-14 18:35] geeksville opened #1142 "config bundles can be incorrectly installed as filament files, which silently overrides GUI settings"
### Version
1.41.0-beta+linux64

### Operating system type + version
linux 64 bit, ubuntu 16.10

### Behavior
The "send to printer" (octoprint) disappears.  Steps to repo is quite easy:

1. launch slic3r - see button, if you load a model you can click to send to printer.
2. however, if you use the filament dropdown button to change the filament type, the button immedately disappears.
3. Only way t

[2018-08-14 18:44] ayberkozgur commented on #1126
by pulling plastic into the top where it can't be reheated.
Fair enough, I see your point. Having just tried your start gcode, I can say that waiting for full temperature at (0,-3,0) effectively traps the oozed filament between the nozzle and the bed, which does not get dragged along when the intro line starts. In the end you're left with a totally clean nozzle at start of the layer 0 skirt.

[2018-08-14 18:50] GreatGrizzly commented on #1126
Thanks for testing this. In older iterations of the end code I pushed the nozzle against the bed to "plug" it. This prevented leaking... but caused the nozzle to stick to the bed.

[2018-08-14 19:10] GreatGrizzly commented on #1126
@bubnikv What is the parameter to get the bed X and Y size values? The tooltip says its rect_size for both values.

[2018-08-14 20:41] geeksville commented on #1142
Oh - I found the problem I was using a filament.ini file from a friend, which redefined some non filament settings.

[2018-08-15 06:12] bubnikv commented on #1142
Would you be more specific, please? Is there some specific scenario or legacy configuration data that we should be aware of?

Would you please provide your filament.ini? We should avoid such issues.

[2018-08-15 09:59] vojtechkral commented on #1108
@GreatGrizzly inside the `.ini`, the `inherits` property contains the parent. But be warned that this isn't public interface.

How does auto-updating mess your settings? If it does, that would seem like a bug.

You can also turn auto-updating off.

[2018-08-15 16:58] geeksville commented on #1142
Sure no problem.  Steps to repro:

1. Receive a config bundle from someone else (which contained printer, filament and print ini entries)
2. Not realize that the file I was provided was not just a filament.ini
3. Install that file in my ~/.SlicerPE/filaments directory
4. Use the file for printing (along with my other printer and print settings)
5. The bug is that the GUI lets you change print/prin

[2018-08-15 18:03] ayberkozgur commented on #1126
Now, having tried out your end gcode, I see two potential problems with it:
1. Raising Z until 205 is fine at the end of the print, but as soon as the next print starts, home all starts with homing X and untangles one loop of filament from the spool on the stock spool holder. This happens every time, and on spools that are not even brand new. We could raise Z until something like 150 instead, or w

[2018-08-15 18:34] GreatGrizzly commented on #1126
1a. That makes sense. I never had unraveling with my spools though. But Z change should definitely  be first, to tighten the roll before X/Y movements.

1b. The reason I put Z205 is I am assuming I cant go any lower because something that was printed might be at the maximum Z height of the printer. The chances that someone uses the full z axis for a print is rare...but its a possibility.  As for w

[2018-08-15 18:46] GreatGrizzly commented on #1108
@vojtechkral

My request is to make this public interface.

[2018-08-15 23:04] mloho commented on #644
At the time, I was thinking of safety concerns. If the printer that I use utilizes a heated bed, then wouldn't it be unsafe for this slicer to not turn off the bed at the end automatically? ...given that I had set the bed temperature to a value > 0 when I first setup my printer settings but I forgot to customize my end gcode.

[2018-08-16 01:47] GreatGrizzly commented on #1126
After some testing, it appears that the Z axis cant be homed before X and Y. This is built into the printer firmware itself. The parameter is Z_SAFE_HOMING. So we are stuck with my current implementation.

[2018-08-16 03:03] fpikus opened #1143 "Modifier shapes create extra perimeters inside the object"
### Version
1.41.0-beta-win64

### Operating system type + version
Windows 10

### Behavior
When a modifier shape intersects the object vertically (part of the vertical wall of the modifier is inside the object), extra perimeters are created at the boundary of the modifier. Horizontal walls are no problem even if they are inside the object.

#### STL/Config (.ZIP) where problem occurs
[Test.zip](h

[2018-08-16 07:14] ayberkozgur commented on #1126
I'm not sure either of the logic behind the initial Z raise when homing; it could make sense from the perspective of clearing the extruder from any potential object on the bed surface, but I'm guessing it's supposed and assumed to be totally clear before each print.

For now I'll go with something like `G1 Z{max(layer_z, 150)} F1200` at the end of prints as I don't have the requirement to push unp

[2018-08-16 11:29] Panayiotis-git commented on #1126
Regarding the start g-code, at the point where you move the head at 0,-3,0 in order to trap any oozed filament between the bed and the nozzle.
I've used this technique on a MK2 for about 9 months. It worked. But then the PEI has got unstuck from the bead at this corner and later it broke.

I don't now if this is still possible on a MK3 flexible steel plate.

[2018-08-16 12:15] ayberkozgur commented on #1126
Very interesting point. Maybe we could offset the waiting point and intro line by something like +50 on the x axis to not stress the corner too much? On 16 Aug 2018 13:29, Panayiotis-git <notifications@github.com> wrote:Regarding the start g-code, at the point where you move the head at 0,-3,0 in order to trap any oozed filament between the bed and the nozzle.
I've used this technique on a MK2 for

[2018-08-16 14:42] kdorff commented on #1119
This still happens with `1.41.0-beta+`.

[2018-08-16 23:04] DrLex0 opened #1144 "Certain macros do not get correct values in start/end G-code"
### Version
Slic3r 1.41.0-beta

### Operating system type + version
Mac OS X 10.11.6

### Behavior
* Certain variable macros in start or end G-code are set to zero values instead of their true values.
* _Steps needed to reproduce the problem_
  * Slice any object with the attached config and look at the gcode file.
* _Expected Results_
  * All macro names in the start and end G-code of the resulti

[2018-08-17 05:42] Patrik-svobodik opened #1145 "Dark Mode on macOS Mojave and Windows 10 and keyboard shortcuts for Mac"
Hi, would it be possible to add dark mode and shortcuts for Mac?

[2018-08-18 04:21] Nickwren opened #1147 "Feature request - move groups of objects"
To help even out loading on my print bed covering i like moving the prints around.
When printing a number of items each has to be manually moved, could a group selection be made so the whole lot can be moved together.
Thanks

[2018-08-18 09:21] zbrozek opened #1148 "Volumetric flow rate not correct with auto speed"
### Version
1.41.0 beta

### Operating system type + version
Windows 10 build 17134

### Behavior
* _Describe the problem_
Volumetric flow rate computations appear to be incorrect.
* _Steps needed to reproduce the problem_
Set all speeds to zero (auto), slice a model, generate gcode, and look at the linear vs volumetric speeds in the preview tab.
* _Expected Results_
Volumetric flow should be almo

[2018-08-18 11:56] mrjohnc commented on #1124
Coupled with this it would be really great to have the software know when it needs updating and be able to update with pressing a button. I've see a lot of software in Flatpack and the Ubuntu Software appstore get behind current versions, and this is a way around the issue

[2018-08-18 14:13] ayberkozgur commented on #1126
@Panayiotis-git I've offset the ooze trap and intro line X coordinates by +75, my intro gcode looks like this:

Although still close to the edge, I think this location would provide relatively better heat dissipation compared to the corner, extending the PEI coating lifetime.

Otherwise, I've found this intro to be quite robust so far. As long as the nozzle is clean from the previous print (which

[2018-08-18 16:18] rchancey opened #1149 "Add ability to set 'parameters' in the custom gCode section"
### Version
_Version of Slic3r used goes here_
1.41.0 beta

### Operating system type + version
Mac 10.13.6 high Sierra

### Behavior
I tried to set the bridge_fan_speed and bridge_speed so I can change those between layers. I am using a print tower and trying to change not just some of the normal temp (M104) or retraction(M207) but also want to override some of the 'parameters'

I assume I can ju

[2018-08-18 17:41] rchancey opened #1150 "Add parameter(s) for 'overhang' perimeter control"
### Version
1.41.0 beta

Mac high Sierra

It would be nice to control the speed, fan speed (including the ability to enable the fan speed a second or two before the overhang starts) , extrusion rate, etc. The overhang perimeter seems to be a HUGE factor in getting nice bridges .. and not finding a way to isolate that.

[2018-08-18 19:01] hexane360 commented on #1141
This can be done using conditional g-code. Try something like the following in your "Layer change g-code":
[code]
For more info, the macro language is documented [here](https://github.com/prusa3d/Slic3r/wiki/Slic3r-Prusa-Edition-Macro-Language).

[2018-08-18 19:26] hexane360 commented on #1120
This is definitely a problem with Slic3r's gap fill. As a temporary fix, the model slices fine if you disable "Detect thin walls".

[2018-08-18 23:08] supermerill commented on #1150
you may be interested in https://github.com/slic3r/Slic3r/issues/3950

[2018-08-19 12:52] gjelsoe opened #1151 "Outside print volume error, some are detected as to large."
### Version
1.41.0-Beta+win64

### Operating system type + version
Windows 7

### Behavior
Some large objects are detected as to large.
At the screenshot following things are done.

1. Add object
2. Rotate X 90 deg
3. Rotate Z 20 deg
4. Manual arrange or Arrange button

![slic3r_pe_error](https://user-images.githubusercontent.com/36234524/44308905-6b0e1980-a3be-11e8-9d72-a3645472e8ec.png)

Works i

[2018-08-19 14:45] dikodahan commented on #1151
I am also running the 1.41.0 beta version on the latest MacOS (10.13.6) and am experiancing the same issue.

[2018-08-19 18:20] danielegger1 opened #1152 "Part Outside print area wrong detected"
### Version
1.41.0-beta

### Operating system type + version
Windows 7 64 Bit

### Behavior
Part attached does not work on several positions because it is detected as "outside print bed".
This only appears when the part is rotated by 45°.

[config.zip](https://github.com/prusa3d/Slic3r/files/2300540/config.zip)

![image](https://user-images.githubusercontent.com/16063664/44311737-1d5cd580-a3ed-11e

[2018-08-20 07:49] K1T00 opened #1153 "[Feature Request] Load STL from DICOM"
In the medical world the ".dicom" file format is being used to store patient specific data like images made from an CT/MRI scan.
Since version 2018b, **STL** is now saved with dicom too.
Please see [http://dicom.nema.org/Medical/Dicom/current/output/chtml/part17/chapter_IIII.html](http://dicom.nema.org/Medical/Dicom/current/output/chtml/part17/chapter_IIII.html) and [http://dicom.nema.org/medical/

[2018-08-20 16:48] dlevine999 opened #1155 "Add perspective projection"
### Version
1.40.1+win64
_What OS are you using, and state any version #s_
win 10 64
### Behavior
The perspective of the 3Dview is backwards.  e.g. the front of the bed is smaller than the back.
_Is this a new feature request?_
Sort of. I know Slic3r has always done this but it seems much worse and more disorienting in the latest version.

[2018-08-20 17:28] bubnikv commented on #902
The current beta will show you a warning overlay and it will change the background color of the path preview window to red if any extrusion lies outside the print volume. It is not a full solution (ideally the software would not store the G-code in this case, or it would trim the extrusions), but it is at least something.

[2018-08-20 17:44] sav0nar0la opened #1156 "Brim destroyed by support aka. Enable supports on top of brim"
### Version
1.41.0-beta+linux64

### Operating system type + version
Mint 18.3

### Behavior

the piece to be printed has little contact area to the bed, therefore brim is needed.
Because of objects geometry, it also needs supports.

The software gives priority to the supports, so that in the first layer the brims are removed.

As result, warp occurs (lack of brim) and the piece cannot be printed.

[2018-08-20 21:07] Panayiotis-git commented on #1155
It seems strange. But it is in orthographic view which is not wrong. I think you suggest to also add an option for perspective view.

[2018-08-20 23:07] dlevine999 commented on #1155
It is not an orthographic view. With a true orthographic view parallel lines (like the sides of the build plate) would  remain parallel. I don't know what to call the view you actually have; I have never seen it used anywhere else. I strongly suspect that the original programmer was trying to do perspective and got it backwards.
 -- David R. Levine = dlevine999@yahoo.com

    On Monday, August 20,

[2018-08-21 13:09] 3Delights commented on #902
I'm sorry to say I'm a bit disappointed in this.  It was already possible to simply look at the preview and see the problem (hence the screen shots I provided).  This is a pretty bad bug for a slic3r as it means that anyone who wants to print a big object simply can't, this means that the maximum print size is less than the bed!  Unless all you want to do is print a big cube or similar.

There is

[2018-08-21 14:05] vojtechkral commented on #902
@3Delights

It's a matter of expertise. Supports are hard to get right and few people know how to go about it. For example, I'd gladly help if I could, but right now as far as I can see it would do no good and only interfere with @bubnikv 's work who is pretty much the only person who can do it. And so it makes sense for other team members to instead work on other parts of the program. There's an

[2018-08-21 18:54] dartrax commented on #1052
@mjsadaway, could you please explain how and why that would prevent collisions, i.e. collisions caused by filament runout detection, and what you mean by extruder cable?

[2018-08-22 15:43] vojtechkral commented on #1155
But they are parallel. My theory is it looks weird because the brain expects perspective and adjusts for that.

[2018-08-22 16:35] mjsadaway commented on #1052
It wouldn't prevent collisions caused by filament runout or crash detection, both of which cause the MK3 to auto home. It should help in the case where completed parts near the back of the build plate are knocked over by the large bundle of wires sticking out the back of the extruder.

Yes, it would be nice to solve the problem in every case, but I would be happy if I could rely on the "complete i

[2018-08-22 16:43] 3Delights commented on #902
While I fully understand the issues you raise with regard to allotting work to various people, it raises a flaw in within PRUSA... never have only one person who can do a certain task!  What if @bubnikv is sick or leaves the company?  You should always have more than one person who is an expect at any given job.

Secondly, as I see it, supports are one of the 3 main functions of a slicer!  The fir

[2018-08-22 17:40] bubnikv commented on #902
work to various people, it raises a flaw in within PRUSA...

I find this discussion rather amusing. Until December 2017, I was the only
person developing Slic3r PE, and time to time I was helping with the
firmware as well. Before joining Prusa3D, I worked more than a decade in
the field of custom CAD systems and computational geometry, so I had quite
a good know how of the algorithms used in Slic3

[2018-08-23 05:25] bilobro opened #1157 "Vase mode configuration not valid"
### Version
1.40.1

### Operating system type + version
macOS High Sierra 10.13.4

### Behavior
Wanted to print a model is vase mode and i am getting this error.
'Configuration not valid. The spiral vase option can only be used when printing single material objects'
I have tried with a few different stl files and i am getting the same message.  I have also tried to split the model but it says it o

[2018-08-23 08:10] geodave810 opened #1158 "Extra solid layer added across top of part that is supposed to be open"
### Version
_Version of Slic3r used goes here_1.41.0-beta
_Use `About->About Slic3r` for release versions_1.41.0-beta+win64

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
_What OS are you using, and state any version #s_Windows 7 Pro Build 7601: Service Pack 1

### Behavior
* _Describe

[2018-08-23 11:01] vojtechkral commented on #695
This is implemented in #1051

[2018-08-23 11:01] #695 closed

[2018-08-23 11:02] vojtechkral commented on #935
This is implemented in #1051

[2018-08-23 11:02] #935 closed

[2018-08-23 11:49] lukasmatena commented on #1157
I didn't manage to reproduce the issue. As far as I can tell, the model you provided slices correctly in 1.40., 1.40.1. and current master with spiral vase mode enabled. But it also looks as being a part of some bigger model. Please, provide a complete 3MF where the problem occurs.

Generally speaking, the error message that you report means that the object is composed of several parts (each with

[2018-08-23 11:52] bubnikv commented on #1158
Will the extra surface disappear if you scale the objects a bit up? Or if
you change the layer height just a tiny bit?
I believe the problem lies in how Slic3r handles object surfaces exactly
matching a slicing plane. If you change one of the parameters above, the
last slicing plane will no more overlap with the top object surface anymore.

I am working on a fix, but it is quite complex and there

[2018-08-23 12:09] bilobro commented on #1157
Looks like it was just an issue with my computer restart of my comp and slic3r fixed the problem. thanks tho!

[2018-08-23 12:09] #1157 closed

[2018-08-23 12:53] geodave810 commented on #1158
I just changed my height variable of the cylinders in openscad & that works & is an easy work around now that I know what the problem is. Take your time fixing that bug if it is a complex problem.  I really like that feature of being able to adjust the layer heights and have been using it quite a bit the last few months.
Thanks.

[2018-08-23 14:41] jimmy00784 commented on #1121
@bubnikv Any idea when we can expect a fix for this issue?

[2018-08-23 14:45] geodave810 opened #1159 "Different Layer Heights for multiple Objects"
### Version
_Version of Slic3r used goes here_1.41.0-beta

_Use `About->About Slic3r` for release versions_1.41.0-beta+win64

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
_What OS are you using, and state any version #s_Windows 7 Pro Build 7601: Service Pack 1

### Behavior
* _Describ

[2018-08-23 21:06] dlevine999 commented on #1155
Well, I'be ******. It is an optical illusion. One I knew about as a kid - many decades ago - and had forgotten.

It's still very annoying though. so this is a new feature request.  Please add perspective view.

[2018-08-23 21:31] bubnikv commented on #147
@lukasmatena is already polishing the feature.

[2018-08-24 06:51] petrzelka opened #1161 "Prusa MK2.5 profile is missing silent_mode=1"
### Version
1.41.0-beta

### Operating system type + version
OS independent

### Behavior
Latest slic3r now generates M73 codes to report progress, but for MK2.5 it doesn't generate silent codes (Q and S), only normal (P and R)
When my MK2.5 is running in silent mode and printing such gcode (from sd card) it reports "68:15R" all the time.
Later I discovered it's because silent support checkbox is

[2018-08-24 07:56] lixxbox commented on #1155
I would also prefer a perspective view.

[2018-08-24 14:01] zbrozek commented on #1032
I would imagine the correct thing to do would be to do the speed check first, slow down if necessary, then do the fan check. The checks needn't reference each other.

[2018-08-26 01:43] #512 closed

[2018-08-26 01:43] 3d-gussner commented on #512
Thanks for the implementation

[2018-08-26 11:47] bjku96 opened #1163 "Problem #include <fstream>"
### Version
_Version of Slic3r used goes here_
1.39.1

### Operating system type + version
Windows 7  64bit

### Behavior
Hello!
I hope that this is the right section to post this.

I made some major modifications on the slic3r software. (mainly about the GCode export process)
For that, I wrote a new hpp and cpp file, added them to the CMakeList in the xs folder and well, everything worked as it s

[2018-08-26 15:55] monotan commented on #1073
I wanted to confirm I am seeing similar issue with filament temperature not being correctly written to the gcode file.

Slic3rPE v1.41.0-beta+ / MacOS.

- Slice model
- Export to GCode
- using OctoPrint or SD card to get the file to the printer
- wrong filament temperature is set at the printer
- inspecting GCode file show lower temperature
- however, bed temperature is correctly set
- work around

[2018-08-27 18:46] CrNMGuy opened #1164 "Remaining time to print"
### Version
1.41.0 beta
Mk3 Firmware 3.3.1

### Behavior
Remaining time seems to be splitted :
On a 12h print in slic3r, got 8h remaining to 0h0min then 4h remaining on MK3 to 0h0min

###Solution?
Perhaps due to variable overflow (?)

[2018-08-28 13:58] bobstro commented on #1002
I am having the same issue with Slic3r Prusa Edition 1.41.0-beta+ on macOS High Sierra 10.13.6.

[2018-08-28 18:45] magkopian opened #1165 "Supports on the build plate should have a solid bottom interface for better adhesion"
### Version
1.41.0-beta

### Operating system type + version
Debian Stretch

### Behavior
When Slic3r generates supports on the build plate it doesn't use a solid bottom interface. This results to poor adhesion to the build plate, which often causes the supports to detach during a print.

![supports_slic3r](https://user-images.githubusercontent.com/1429068/44743425-26475880-ab0b-11e8-9c77-1d02911a

[2018-08-29 14:03] pentacular opened #1166 "Slicing produces some inverted layers (solid and empty are flipped)"
### Version
1.41.0-alpha2+linux64

### Operating system type + version
Debian

### Behavior
Some layers are inverted -- holes become solid and solids become holes.

Load model and slice for mk2 at 0.20 mm normal, mk3 at 0.20.
(mk2 at 0.35 works as expected, mk3 at 0.15 works as expected).

Slic3r claims that the model is manifold and without error.

I have a number of similar issues with missing l

[2018-08-29 14:33] mtmello2003 commented on #1165
+1
I agree.

[2018-08-29 17:10] DeepSOIC opened #1167 "Bug: huge unnecessary internal supports when slicing with sparse infill and single perimeter"
### Version
1.41.0+beta+win64

### Operating system type + version
Windows 10 64-bit

### Behavior

my goal: print this object FAAAST! That is, thick nozzle, and use as little material as possible.

Problem: when slicing with single perimeter and sparse infill, massive dense infill bulk is added around all sloping walls, regardless of slope direction

![single perimeter bad](https://user-images.gi

[2018-08-29 18:25] jhartlep opened #1168 "[Feature Request] Est. printtime and material usage before export gcode/send to printer"
### Version
_Version 1.40.1+win64_

### Operating system type + version
_Windows 10 Pro latest_

### Behavior
_Is this a new feature request?_ > Yes

Currently, Slic3rPE shows the **Sliced Info Panel** only after exporting the gcode or sending it to the printer.
It would be great if I could see these information after clicking on **Slice now**.

[2018-08-29 19:37] DeepSOIC commented on #1143
+1

Examples where it is useful...

I am making a handle for screwdriver bits. Or for a tap. or for a potentiometer...
The hole should be strong, so I'd like some extra perimeters. I add a cylinder, and apply 5 perimeters modification...
![handle setup](https://user-images.githubusercontent.com/8940427/44810825-a3da9980-abdb-11e8-8b04-8d3bc6f830da.PNG)

And I get this. 7 perimeters somewhere in th

[2018-08-29 20:25] DeepSOIC commented on #1143
And another example. I want to make a speaker enclosure. 3D-printing has a fantastic feature, sparse rectilinear infill. Being air permeable, it makes a good filler for the acoustic chamber. It dampens standing waves inside, as well as makes walls extremely rigid, allowing me to make walls thinner and make the speaker lighter.

But, it's hard to achieve an opening for the driver. I would like to r

[2018-08-29 22:44] jwynn6 opened #1169 "API Key not being sent to Octoprint"
### Version
Slic3rPE 1.40.1-Beta
Octoprint 1.3.9

### Operating system type + version
Arch Linux

### Behavior
When attempting to connect to octoprint from the printer settings tab, an error is encountered.  Octoprint is returning a 403 error that reads  "No API Key provided".  I have indeed included the API key in the interface so it's not that there isn't one being provided.

When running the sa

[2018-08-30 07:12] bubnikv commented on #1169
Our tester @FidelCapo found out, that the pasting of an API key does not work correctly on Linux when pasted using a right mouse button. If you copy using Ctrl-V, it works. Would you please confirm that?

[2018-08-30 07:14] bubnikv commented on #1166
@FidelCapo will it help if you process the STL through a netfabb fixing service?

[2018-08-30 09:06] FidelCapo commented on #1073
@monotan Unfortunately, I'm still not able to reproduce this issue. Can you please send me config.ini of settings at which this error occurs ? Thank you

[2018-08-30 11:38] supermerill commented on #1167
It's the "anchor" for the fill.
I added a parameter to let user change it in my fork https://github.com/supermerill/Slic3r
(Anchor solid infill by Xmm , in the fill tab)
Please write your feedback if it solve your problem or not.

[2018-08-30 11:40] supermerill commented on #1165
duplicate of https://github.com/prusa3d/Slic3r/issues/1156
(6 rows below)

[2018-08-30 13:51] jwynn6 commented on #1169
Well paint me orange and call me an extruder. That absolutely worked. I've no idea why the behavior would be different but it sure is. Using Ctrl-V instead of the right mouse button let it work like a champ.

[2018-08-30 16:52] monotan commented on #1073
Please find the attached files: config.ini, screenshot of the Filament Temperature screen, and the produced gcode file. Please let me know if you need anything else.

[config.ini.zip](https://github.com/prusa3d/Slic3r/files/2337090/config.ini.zip)
<img width="1253" alt="slic3rpe filament settings" src="https://user-images.githubusercontent.com/867563/44866547-648f6580-ac3a-11e8-894a-7a88b93f1bd7.p

[2018-08-30 19:31] tneff03 opened #1171 "Gizmos for Y-axis and X-axis"
### Version
1.41.0+win64

### Operating system type + version
Windows 7 Professional 64-bit

### Behavior

_Is this a new feature request?_ ->Yes

1.41.0 is an excellent update to Slic3r PE! I really appreciate the new "place on face" feature and the addition of the rotate about z gizmo!

In addition to the future addition of the side panel from PrusaControl, I would like to request rotation gizmo

[2018-08-30 19:54] Looxoor commented on #1165
+1

[2018-08-30 20:56] triplepoint opened #1172 "Packaged test gcode should be resliced to include time estimates"
### Version
"DRIVERS & APPS 2.2.0". which includes slic3r PE 1.41.0

### Operating system type + version
macos, high sierra

### Behavior
The release package includes several sample objects and pre-sliced gcode to go with them.

Inspecting them, the header comment reads:
[code]

Given that this recent version of slic3r includes M73 gcode commands, can we get these example files resliced in the nex

[2018-08-31 02:02] DBa2016 opened #1173 "When sending to printer, filename and option to start printing is queried late"
### Version
Slic3r version: 1.41-beta

### Operating system type + version
Win7 64 bit

### Behavior

When saving to GCode file, all details (filename) are asked for immediately, before lengthy processing takes place.
When sending to printer, the file seems first exported to a temporary location, and only then a dialog pops up, asking for filename and whether to start printing right away. This dia

[2018-08-31 07:39] dafes opened #1174 "machine_max_acceleration_extruding : Variable does not exist"
### Version
Slic3r Prusa Edition
Version: 1.40.1+win64
Build: Slic3rPE-1.40.1+win64-full-201807051331
Operating System: MSWin32
System Architecture: MSWin32-x64-multi-thread
Windows Version: Microsoft Windows [Version 10.0.17134.228]

### Behavior
After the MMU2 Config push i´m unable to export gcode for my MK2S

!!!!! Failed to process the custom G-code template start_gcode
Parsing error at line

[2018-08-31 09:37] bubnikv commented on #1174
Sorry, we have incorrectly capped the config compatibility for the Slic3r 1.40.1.  The index file
https://github.com/prusa3d/Slic3r-settings/blob/master/live/PrusaResearch/index.idx
shall contain
min_slic3r_version = 1.40.1
not
min_slic3r_version = 1.40.0

For now, you may just install the latest Slic3r 1.41.0-final from
https://www.prusa3d.com/drivers/

I have yet to release it on github.

[2018-08-31 14:35] pentacular commented on #1166
Sorry, I misdiagnosed it -- admesh doesn't help.

I've reduced it down to a small stl which reproduces the original problem.
[short_curve_debug.zip](https://github.com/prusa3d/Slic3r/files/2340428/short_curve_debug.zip)

Passing it through https://service.netfabb.com/ does produce an stl which doesn't reproduce the problem, but it also provides no feedback on what it fixed or what error might be p

[2018-08-31 14:47] pentacular commented on #1166
Cutting the bottom 0.1 or top 0.1 off that short_curve_debug model fixes the problem in the pieces produced.

It feels like this might be an issue in slic3r which is avoided by any slight adjustment.

Let me know if you have any suggestions for diagnosis.

[2018-08-31 15:10] Medalknight opened #1175 "No red, green,yellow Button MacOS"
### Version
1.41.0+

### Operating system type + version
MacOS 10.13.6

### Behavior
* _Describe the problem_
No red, green or yellow buttons to operate the window of slic3r.
  * _Screenshots from __*Slic3r*__ preview are preferred_
<img width="569" alt="bildschirmfoto 2018-08-31 um 17 05 44" src="https://user-images.githubusercontent.com/36373645/44920437-34ca8580-ad40-11e8-9749-780abd2aaebe.png"

[2018-08-31 15:27] Medalknight opened #1176 "Custom Printer Profil Window size"
### Version
1.41.0+

### Operating system type + version
MacOS 10.13.6

### Behavior
* _Describe the problem_
My own custom profile for the printer resize the quick select window from slic3r.
* _Steps needed to reproduce the problem_
generate and use a custom profil
* _Expected Results_
no resize of the windows
* _Actual Results_
window gets bigger
  * _Screenshots from __*Slic3r*__ preview are pr

[2018-08-31 20:35] vertigo235 opened #1177 "Please post the binaries, especially for linux users"
The https://www.prusa3d.com/drivers/ page directs linux users here for releases, but there is no 1.41 final release binaries.

### Version
_Version of Slic3r used goes here_

_Use `About->About Slic3r` for release versions_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
_What OS are yo

[2018-08-31 20:38] domesticatedviking commented on #1177
Yes, please post the binaries and appimage build!

[2018-09-01 05:12] kortschak opened #1178 "Recent configuration bundle push broke configuration"
### Version
Previously Slic3rPE-1.41.0-alpha2+linux64-full-201807211541.AppImage but now Slic3rPE-1.41.0-beta+linux64-full-201808061625.AppImage

### Operating system type + version
Linux Ubuntu 16.04.4

### Behavior
A configuration bundle was suggested while running Slic3rPE-1.41.0-alpha2 and allowed. After closing and re-starting another session of Slic3r a dialogue complained that the version o

[2018-09-01 05:46] tkircher opened #1179 "Camera center issue: Center of rotation is not correct after object down scaling"
### Version
1.41.0-beta-1

### Operating system type + version
MacOS Sierra

### Behavior
This behavior isn't specific to the included STL, but it's provided for reference. Any large object will do this. Import, then scale to fit on the print bed. Then any attempt to change the camera perspective causes everything to disappear. Probably due to clipping. The correct behavior would be to have the pr

[2018-09-01 07:49] bubnikv commented on #1178
Slic3r reads
https://github.com/prusa3d/Slic3r-settings/blob/master/live/PrusaResearch/index.idx
where it takes into account the first min_slic3r_version seen from the top. I have adjusted the minimum slic3r version, so after the next update you should be fine. Sorry for the inconvenience.

[2018-09-01 07:56] kortschak commented on #1178
Thanks

[2018-09-01 08:05] bubnikv commented on #147
Implemented in 1.41.0 final release.

[2018-09-01 08:05] #147 closed

[2018-09-01 08:12] bubnikv commented on #1152
Fixed in 1.41.0.

[2018-09-01 08:12] #1152 closed

[2018-09-01 08:14] bubnikv commented on #1151
This should be fixed in 1.41.0 final release.

[2018-09-01 08:14] #1151 closed

[2018-09-01 08:14] bubnikv commented on #1128
This should be fixed in 1.41.0 final release.

[2018-09-01 08:14] #1128 closed

[2018-09-01 08:17] bubnikv commented on #1178
Is it working for you now?

[2018-09-01 08:17] bubnikv commented on #1177
I will post them today. Closing for now.

[2018-09-01 08:17] #1177 closed

[2018-09-01 08:27] bubnikv commented on #1161
I have to check with the firmware guys.

[2018-09-01 08:29] bubnikv commented on #1159
Frankly I don't see a problem here. Slic3r is perfectly able to print each object with its layer height settings. Why do you think it is a problem?

[2018-09-01 08:32] bubnikv commented on #1158
I bet it is the same issue as https://github.com/prusa3d/Slic3r/issues/1166
#831
#895
#1102

As noted in https://github.com/prusa3d/Slic3r/issues/1166 :

There is a known issue with the current Slic3r, if a slice cuts exactly at horizontal surfaces of a model. I am working on a fix, but my current prototype works worse on some broken models, so it will take some time.

This is the current branch t

[2018-09-01 08:37] bubnikv commented on #1149
One cannot set variables by the conditional G-code as of now, and it would be quite tricky for most of the parameters. At the time when the conditional G-code is being interpreted, most of the slicing has already been done, so the change of most parameters would produce no effect. There is a handful of parameters for which it may make sense, but then introducing such a feature would only increase

[2018-09-01 08:38] bubnikv commented on #1148
@FidelCapo Would you please look into this?

[2018-09-01 08:38] bubnikv commented on #1147
It is on @enricoturri1966 's plate, but it may take an iteration or two.

[2018-09-01 08:40] bubnikv commented on #1145
@YuSanka @FidelCapo would you guys evaluate how our current Slic3r PE looks in dark mode on OSX Mojave? Thanks.

@Patrik-svobodik What shortcuts? It is better to not mix two issues in on github issue, better to create a new one.

@Patrik-svobodik Do you have a hint, what is not working in the dark mode?

[2018-09-01 08:41] bubnikv commented on #1144
This is a duplicate of https://github.com/prusa3d/Slic3r/issues/930

[2018-09-01 08:41] #1144 closed

[2018-09-01 08:42] bubnikv commented on #1142
@FidelCapo would you please verify this issue?

[2018-09-01 08:43] bubnikv commented on #1141
@YuSanka is working on a UI similar to the Prusa Control. It will most likely be part of 1.42

[2018-09-01 08:45] bubnikv commented on #1139
@FidelCapo would you please test this?

[2018-09-01 08:46] bubnikv commented on #1138
@vojtechkral would you please look into this issue? Thanks.

[2018-09-01 08:49] jindrichbenes commented on #1140
Prusa abs = prusa easy abs
Suggested dimensions when printing with abs are 3 to 8 cm. Are you by any chance printing something small?

[2018-09-01 08:50] bubnikv commented on #1131
@supermerill

Wasn't this your initial implementation? Does the non-bridging flow produce sufficient overlaps?

[2018-09-01 08:53] bubnikv commented on #1130
This has been implemented as part of the start G-codes for our MMU2 printer profiles.
https://github.com/prusa3d/Slic3r-settings/blob/master/live/PrusaResearch/0.2.2.ini
see the start g-code of [printer:Original Prusa i3 MK3 MMU2]

[2018-09-01 08:53] #1130 closed

[2018-09-01 08:54] bubnikv commented on #1129
Sorry, we cannot invest time into tuning your machine. You are on your own.

[2018-09-01 08:54] #1129 closed

[2018-09-01 08:57] bubnikv commented on #1123
Are you technical enough to install a Microsoft SDK with a debugger, or Visual Studio 2013, and provide us with a call stack?

[2018-09-01 08:59] scanlight commented on #1123
Never done this but am gonna do my best.

Verzonden vanaf mijn Samsung Galaxy-smartphone.

-------- Oorspronkelijk bericht --------
Van: bubnikv <notifications@github.com>
Datum: 01-09-18 10:57 (GMT+01:00)
Aan: prusa3d/Slic3r <Slic3r@noreply.github.com>
Cc: scanlight <loos_5@hotmail.com>, Author <author@noreply.github.com>
Onderwerp: Re: [prusa3d/Slic3r] program crashing when saving a preset (#112

[2018-09-01 09:01] bubnikv commented on #1119
I bet it is the same issue as #1166, #1158 #831 #895 #1102
I am looking into a fix.

[2018-09-01 09:03] bubnikv commented on #1106
@vojtechkral may we make the checkbox sticky?

[2018-09-01 09:05] bubnikv commented on #1102
This is really the same issue as
#831
#895
#1119
#1102

[2018-09-01 09:06] bubnikv commented on #1099
As of now you may just move the unwanted objects completely out of the print bed.

[2018-09-01 09:07] bubnikv commented on #1098
Is it still the problem with the current 1.41.0 final release to be released today on github?

[2018-09-01 09:08] bubnikv commented on #1083
@YuSanka we should make the width constant, independent of the content of the column.

[2018-09-01 09:11] Patrik-svobodik commented on #1145
@bubnikv Everything looks OK in dark mode, but it would look much better if the app UI turned dark as well, I meant keyboard shortcuts

[2018-09-01 09:12] bubnikv commented on #1004
@vojtechkral Could we make the last path sticky?

[2018-09-01 09:13] bubnikv commented on #1002
@YuSanka would you please look with @enricoturri1966 into harmonizing the key shortcuts, and possibly to document them on  the Slic3r PE wiki? Thank you.

[2018-09-01 09:28] bubnikv commented on #1145
I don't get it. You want the keyboard shortcuts to turn dark? Would you please mark it on your screenshot?

[2018-09-01 09:30] bubnikv commented on #1123
@vojtechkral would you please describe how to run Slic3r under a debugger?

here are the symbols for the upcoming 1.41.0 release.

[Slic3rPE-1.41.0+win64-full-201809010758.pdb.zip](https://github.com/prusa3d/Slic3r/files/2342229/Slic3rPE-1.41.0%2Bwin64-full-201809010758.pdb.zip)
[Uploading Slic3rPE-1.41.0+win32-full-201809010758.pdb.zip…]()

[2018-09-01 09:30] Patrik-svobodik commented on #1145
I want dark UI and keyboard shortcuts to be added

[2018-09-01 09:32] bubnikv commented on #1145
Nerozumím, co chcete. Jak spolu souvisí dark mode a keyboard shortcuts?

[2018-09-01 09:32] CrNMGuy commented on #1164
Hi,

thanks for reply
As specified, i'm already last firmware version

[2018-09-01 09:33] bubnikv commented on #1164
The current release is
https://github.com/prusa3d/Prusa-Firmware/releases/tag/v3.4.0-RC2

[2018-09-01 09:34] bubnikv commented on #1123
[Slic3rPE-1.41.0+win32-full-201809010758.pdb.zip](https://github.com/prusa3d/Slic3r/files/2342231/Slic3rPE-1.41.0%2Bwin32-full-201809010758.pdb.zip)

[2018-09-01 09:34] CrNMGuy commented on #1164
Oh ok, so next official one
Thanks

[2018-09-01 09:35] Patrik-svobodik commented on #1145
vůbec spolu nesouvisí, jen že bych chtěl přidat klávesové zkratky a taky Dark mode pro macOS Mojave, neměl jsem to psát do jednoho issue

[2018-09-01 09:35] bubnikv commented on #1145
A jaké klávesové zkratky?

[2018-09-01 09:43] Patrik-svobodik commented on #1145
Třeba backspace pro smazání objektu, alt/cmd + backspace pro smazání všech objektů

[2018-09-01 09:56] Patrik-svobodik commented on #1145
Mimochodem, place on face se mi nezobrazuje v nejnovější betě slic3r PE

[2018-09-01 10:59] geodave810 commented on #1159
You can close this issue then.  I thought it might be a problem.

[2018-09-01 11:54] pentacular commented on #1166
Ah, I think you're right -- scaling by 1.00001 seems to fix the problem :)

[2018-09-01 14:47] ctgreybeard commented on #147
I was looking forward to this feature but I don't see how to use it in 1.41.0+ on my Mac ...

[2018-09-01 14:54] ctgreybeard commented on #1175
Related ... I used Option-Green Dot (to maximize the window) and the top bar gets hidden under the title bar. Which makes it impossible to move because you can't grab the top of the window ...
<img width="1680" alt="screen shot 2018-09-01 at 10 51 01 am" src="https://user-images.githubusercontent.com/122104/44947069-588bdb00-add5-11e8-9825-a39c77c3872d.png">

[2018-09-01 14:58] ctag opened #1180 "Slic3r installs incompatible configuration"
### Version
(About menu is disabled) Package is version: [1.40.1-2](https://aur.archlinux.org/packages/slic3r-prusa3d)

### Operating system type + version
Archlinux

### Behavior
Slic3r prompted me to update the profiles with new MM updates, I accepted. Now Slic3r does not start, apparently because the profiles are incompatible, and the distro package has not yet updated.

I expect Slic3r to not

[2018-09-01 15:09] bubnikv commented on #1180
Unfortunately it happened, that I have pushed a wrong configuration index
online. The index online should be fine now, so your Slic3r configuration
should be fixed after you let slic3r to reconfigure. In worst case you may
need to clean your Slic3rPE config directory. Or better update your Slic3r
to 1.41.0 final.

On Sat, Sep 1, 2018, 16:58 Christopher <notifications@github.com> wrote:

[2018-09-01 15:10] ctgreybeard commented on #1175
I found a solution ...

1. Close Slic3r
1. In ~/Library/Application Support/Slic3rPE edit the file slic3r.ini
1. Change two lines
    main_frame_pos = 120,70
    main_frame_size = 1188,890
1. Use values that work for you, these worked for me.

The problem seems to be that the `main_frame_pos` `Y` value gets set to negative (mine was -47) which sets it above the bottom of the menu bar.

[2018-09-01 15:20] sarf2k4 opened #1181 "Wipe into Infill Preview"
### Version
1.41.0

### Operating system type + version
Windows 10 64bit

### Behavior
I didn't see infill being used as toolchange prime in the "print preview".

By default, T1 is orange, T2 blue, T3 cyan, T4 red, T5 green. The object is a multipart and imported into slic3r all at once. Slic3r will automatically assign those part for each one of the extruder's colour. I go into the object's prope

[2018-09-01 15:49] jkavalik commented on #1181
Did you export the gcode? From what I saw, some things are not decided during initial slicing but only during actual gcode generation - for example using extruder 0 for supports works that way, after slicing it support is shown as extruder 1 and only after gcode export the support layers are reassigned to minimize toolchanges needed and the preview shows different extruders used for different part

[2018-09-01 15:55] jkavalik commented on #1137
"Generate support material - UNTICKED" afaik means that support structures generator is entirely disabled so enforcing does nothing - you have to enable supports (but you can use the threshold of 1 to get as little of them as possible, 0 means automagic so not usable here) and then enforce what you need:
![gate_support](https://user-images.githubusercontent.com/5812825/44947635-22b81800-ae10-11e8-

[2018-09-01 16:44] dalgibbard opened #1182 "Second brim + skirt added to object at layer 3.31 of Z height"
### Version
1.40.1+win64

### Operating system type + version
Windows 10 64bit Version 1803 (Build: 17134.228)

### Behavior
* Sliced object with brim has the expected brim on the first layer, but then an additional brim is added at 3.31mm - resulting in printing outside of the model, and a consistent failure

* Use this STL: https://www.dropbox.com/s/6dnsgsqw4227srm/WhoopCase_FingAZ%20%284%29.stl

[2018-09-01 17:39] FlailAway opened #1183 "Auto-Center not working"
### Version
Slic3r Prusa edition-1.41.0+Linux64
Downloaded the .Appimage this morning

### Operating system type + version
Ubuntu 16.04 all up to date

### Behavior
Subject says it all. For a Cartesian printer, it is placing the incoming object at 0,0 (Left-Front corner) rather than the center of the bed. I have to manually move the object before slicing. The Beta version was fine for centering.

[2018-09-01 18:29] geeksville opened #1184 "Estimated print time no longer shows on my MK3"
### Version
1.40.1

### Operating system type + version
linux, 64 bit

### Behavior
Previously I was using 1.40.1-beta1 and the resulting gcode when printed on my marlin 3.3.1 MK3 would happily show the estimated time to completion on the printer LCD.  (I had enabled the slic3r printer checkbox for 'include time estimates' - I forget the exact wording).  That option now seems to be missing from th

[2018-09-01 19:34] dalgibbard commented on #1182
For what it's worth, I put the STL through makeprintable.com and, although the text layers are a bit weird, it's fixed the random brim issue and is currently printing OK. Must be a weird issue with the STL not being handled well in slic3r.

[2018-09-01 19:58] Braccoz commented on #1073
i have this issue too.

basically, the "other layer" temperature is completely ignored, and the "first layer" temperature is set in the gcode, BUT -5°. (so if i set 205 it sets 200, if i set 203 it sets 198 and so on).

still present on 1.41.0

[2018-09-01 21:58] ctag commented on #1180
Thanks for the clarification.

It looks like the updated version won't be available for my distro for a while, and I wasn't able to build it manually. So I reconfigured 1.40.1 and it appears to be working properly again.

[2018-09-01 21:58] #1180 closed

[2018-09-01 22:48] geeksville commented on #1184
Just in case it is useful here's a gcode file:

[notimes.gcode.zip](https://github.com/prusa3d/Slic3r/files/2342829/notimes.gcode.zip)

[2018-09-01 23:53] geeksville commented on #147
@bubnikv Do you know where I would find this feature in the 1.41.0 final GUI?  On my linux-64 bit machine I've tried right/left clicking on faces and looking in the menus without luck.  Thanks!

[2018-09-01 23:56] geeksville commented on #1184
oops - somehow I ran an old version of Slic3r!

[2018-09-01 23:56] #1184 closed

[2018-09-02 00:03] bubnikv commented on #147
It is the third icon in the scene at the left side of the window.

On 1:53AM, Sun, Sep 2, 2018 Kevin Hester <notifications@github.com> wrote:

[2018-09-02 08:44] sarf2k4 commented on #150
Hi,

It's been one year since the last post. Currently using 1.41.0 final release. I am not sure if I should add more into this topic/issues about my suggestion or open another issues about the following suggestion.

Wipe into infill is ok but the prime pillar still get generated anyway unless I turned the prime pillar off manually. The thing is, between "wipe into infill" on or off, both the prim

[2018-09-02 08:52] sarf2k4 commented on #1181
Thank you, didn't know that I had to export the gcode in order to see that feature

[2018-09-02 08:52] #1181 closed

[2018-09-02 09:15] bubnikv commented on #800
Too bad, we did not manage yet.

On Sun, Sep 2, 2018 at 8:17 AM Sapanonic <notifications@github.com> wrote:

[2018-09-02 09:25] bjku96 commented on #1163
I made some changes to my code so that I had to include fstream only in the .cpp file and not the .hpp part.
Now it works fine.
It would be nice to know  what the difference is but for now this issue is solved.

[2018-09-02 09:29] Braccoz commented on #1073
found the culprit: i had "ooze prevention" on. So basically the ooze prevention option is bugged, and does not produce appropriate gcode.

[2018-09-02 12:44] ScanTraxx27 opened #1185 "No anchor for bridge infill if infill is 0%"
### Version
Slic3r PE 1.41.0+win64

### Operating system type + version
Windows 10 x64 - Version 10.0.17134

### Behavior
* Describe the problem:
Bridging can only be effective if the bridge lines cross the perimeters lying below so that the beginning and end of every bridge line have something to rest on. Otherwise the lines will just sack down without any halt.
However, this is exactly what Slic

[2018-09-02 14:56] sarf2k4 commented on #150
I'm sorry, it was my bad that I didn't export and compare the previews directly. I guess I should close this since this feature has been achieved

[2018-09-02 14:56] #150 closed

[2018-09-02 15:25] tommy11490 opened #1186 "New object arrangement based on svgnest not working properly with big objects"
### Version
Slic3rPE-1.41.0+win64-full-201808301410

### Operating system type + version
Win 10 64 bit
### Behavior
Objects, that are longer than 243.99 mm in X dimensions are not being arranged on build plate anymore. The button "arrange" does not do anything when object is bigger than 243,99 mm.
I have tested that the arrangement works when stl is exactly 243.99mm or less. But as soon as its mor

[2018-09-02 16:47] BastR commented on #924
A small update, after reading the documentation I reformulated the French translation of the buttons so that they are smaller so there is more space for the bed preview. I took the opportunity to translate all the sentences introduced by the new version of Slic3r PE.

This is the first time I've done this, if I understood correctly I have to propose a PR of my fork?

**Before:**
<img width="1440"

[2018-09-02 17:39] M-a-t-t-S-m-i-t-h opened #1187 "Building for Windows with CMake and Visual Studio fails without "Release" DCMAKE_CONFIGURATION_TYPES"
### Version
1.41.0
SHA1 ID: 22569de00fb05d3e69695d1a07819b795bbde134

### Operating system type + version
Windows 10 64 bit

### Behavior
When running the cmake command on line 65 of doc/How to build - Windows.md:

The build fails with the following error:

The offending line in xs/CMakeLists.txt:507 is:

The reason for the failure is that the variable reference CMAKE_BUILD_TYPE evaluates to an em

[2018-09-02 19:16] stahlfabrik commented on #1140
Yes and no:-)

I learned a lot about printing in ABS-T. I agree that the profile in Slic3r does work. I learned how to add a 1perimeter cylinder and specifically print that at 5mm/s. This way by varying the diameter, I was able to add cooling time. So I had cylinders for 10, 20, 30 and 40s. With that trick, I managed to get stuff, like the fan nozzle (for MK3) printed. I also tried to print the ex

[2018-09-02 19:16] #1140 closed

[2018-09-02 21:15] GrkMunga opened #1188 "Single Extruder Multi Material Option injects M907 into Gcode"
### Version
Slic3rPE-1.41.0+win64

### Operating system type + version
Windows 10

### Behavior
Enabling the Single Nozzle Multi Material option in Printer Settings causes the M907 command to be inserted into the gcode. This causes the Wifi Duet to enter an error state and stop the print. Oddly tho it the M907 command is only inserted when the option is enabled. When disabled, that command is nowh

[2018-09-02 21:55] Anima1000000 commented on #1148
I have the same issues only with Gyroid and 3D Honeycomb infills. Extruder skips steps during those infills, suggesting that the pressure is too high.

[2018-09-03 04:44] alomex21 opened #1189 "Going to settings crash(freeze) the whole slic3r"
### Version
1.41.0-beta+win64

### Operating system type + version
Windows 10 Pro 64-bit
### Behavior
When importing any model, trying to open setting on a specific model, it crash the application without creating the 'Not responding' message from windows
Cleaned every file created from the zip extracted and the profiles, but still freeze.

[2018-09-03 07:38] bubnikv commented on #1189
crash the application without creating the 'Not responding' message from
windows

What do you mean with "opening settings"? Double clicking on an object?

The behavior described looks similar to
https://github.com/prusa3d/Slic3r/issues/1123

Would you maybe work with @vojtechkral to install a debugger and produce us
a crash report, as described at the end of #1123? Thanks.

On Mon, Sep 3, 2018 at

[2018-09-03 07:45] bubnikv commented on #1189
Does the slic3r crash, or does it "just" close? Are you technical enough to
enable crash dump collection for Slic3r and provide us with the crash dumps?

https://docs.microsoft.com/en-us/windows/desktop/wer/collecting-user-mode-dumps

On Mon, Sep 3, 2018 at 9:38 AM bubnikv <bubnikv@gmail.com> wrote:

[2018-09-03 07:48] marcaurelkiefer commented on #870
I'm using a MK3. Love this feature, thanks for implementing it!

[2018-09-03 08:01] bubnikv commented on #870
So the original request has been satisified. Closing.

[2018-09-03 08:01] #870 closed

[2018-09-03 08:01] FidelCapo commented on #1145
@Patrik-svobodik nezaznamel jsem nezobrazování "place on bed" ve verzích 1.41.0-beta2 ani 1.41.0. Jste si jistý, že jste nebyl v "Preview" okně? V náhledu se tato funkce nezobrazuje.

[2018-09-03 08:10] #873 closed

[2018-09-03 08:13] vojtechkral commented on #1004
@bubnikv Yes, I believe that should be sufficient... I'll look into it...

[2018-09-03 08:37] FidelCapo commented on #1142
I can confirm that if the config bundle is selected as a filament preset, it overwrite some print or printer settings.

[2018-09-03 09:09] supermerill commented on #1131
Yes, it was in my initial implementation, as I used 3DHoneycomb as a baseline.
Month later, i removed it because it create more problems than it resolve.

Yes. (result below are with 0.9 bridging reduction & 0.4 line width)
At 0.35mm, it increase it from 0.13 to 0.15.  (not-bridge extrude more than bridged)
At 0.2 mm, it reduce the section from 0.13 to 0.09  (I printed almost only 0.2 and no probl

[2018-09-03 10:07] Patrik-svobodik commented on #1145
měl jsem nejnovější verzi z gitu, pak jsi tam nahrál novější a tam to je

po 3. 9. 2018 v 10:01 odesílatel HurkaF <notifications@github.com> napsal:

[2018-09-03 11:46] vojtechkral commented on #1123
@scanlight Hi, I've created a short tutorial on how to produce a crashdump: https://github.com/prusa3d/Slic3r/wiki/Enabling-crashdump-collection-on-Windows

Would you please be so kind as to create the crashdump and share it with us so that we can have a look at what's going on in there? Thanks!

[2018-09-03 11:52] tjcolejr commented on #1126
I found that heating the pinda probe itself to a temp higher than it would usually ever be when starting a print reduced the z height variance more than probing a hot bed with a pinda that may, or may not be warm already.  For instance, when you start a new print shortly after finishing one, the pinda is warm.  When starting a new print on a dead cold printer, the pinda is cold.  This DOES make a

[2018-09-03 12:03] bubnikv commented on #1189
@vojtechkral created a short tutorial on how to produce a crashdump: https://github.com/prusa3d/Slic3r/wiki/Enabling-crashdump-collection-on-Windows

Would you please be so kind as to create the crashdump and share it with us so that we can have a look at what's going on in there? Thanks!

[2018-09-03 12:35] jindrichbenes commented on #1126
First of all, we were unable to replicate the issue, during testing, the nozzles practically didn't leave ooze on bed. Secondly, letting nozzle cool down and heat up again added some 75 seconds to start print time, That can be unpleasant to some users, to which, mesh bed leveling takes too long already as it is. Third issue would be, that should there be any leftover  plastic on cooled nozzle, thi

[2018-09-03 12:49] SafSys opened #1190 "Support issues with small bases"
### Version
1.41.0+win64

### Operating system type + version
Windows 10 64 bit

### Behavior
This has been something I noticed a couple of years ago when slicing a tricky shape. At the time I made a test object to ensure I understood the problem - this is attached.
[TestSupports.zip](https://github.com/prusa3d/Slic3r/files/2345441/TestSupports.zip)

Briefly: The support function only knows to sup

[2018-09-03 13:30] ayberkozgur commented on #1126
@tjcolejr I did not test this but it does make sense to "preheat" to known temperatures and calibrate/level with those.

What's more, I realized that `first_layer_temperature[0]-70` is not completely enough to keep PETG from oozing (160 degrees), there's just a little bit that comes out but still there is ooze. I think a global 140 (or maybe 150 degrees, needs to be tested) would be better in the

[2018-09-03 13:45] FidelCapo commented on #1139
@bubnikv I can reproduce this issue

[2018-09-03 13:47] tjcolejr commented on #1126
The oozing during mesh bed leveling using the standard gcode is simply not debatable.  It has been a complaint for at least 2 years.  And if the variance of the pinda's accuracy due to temperature wasn't an issue, then the pinda 2 would not have a temperature sensor.  Heating the pinda and bed to a consistent temperature well above ambient prior to probing eliminates the temperature variable.
____

[2018-09-03 13:57] FidelCapo commented on #1175
We know about this issue and @vojtechkral working on a repair.

[2018-09-03 13:59] tjcolejr commented on #1139
Here is the relevant portion of my startup gcode:

M104 S130 ; set extruder temp
M140 S60; set bed temp
G28 W; home without mesh bed leveling
G1 X125 Y100 F10000; move to the middle of the bed
M190 S60; wait for bed temp
M104 S[first_layer_temperature] ; set extruder temp
M140 S[first_layer_bed_temperature] ; set bed temp
G80; mesh bed leveling
M190 S[first_layer_bed_temperature] ; wait for bed te

[2018-09-03 14:14] pleppik opened #1191 "Material usage does not include wipe tower"
### Version
1.41.0+
### Operating system type + version
MacOS

### Behavior
The estimate of material used in a multimaterial print does not appear to include the material used in the purge tower.

To reproduce this:

1. Set up a multimaterial print with the MMU profile, wipe tower enabled. Slice the object and export the gcode, noting the time and material used.
2. Disable the wipe tower, re-slice

[2018-09-03 15:06] bubnikv commented on #1191
@lukasmatena would you please look into this issue? Thanks.

[2018-09-03 15:11] joeynuggetz commented on #1126
Tried running this code on my MK2 and latest slic3r won't export after slicing.
Failed to process the custom G-code template start_gcode
Parsing error at line 4: Invalid utf8 sequence
M104 S{first_layer_temperature[0]-70} ;

I guess that's not available at the firmware level that us MK2 users are stuck with.

[2018-09-03 16:02] bubnikv commented on #1126
slicing.

By my mistake, you received Slic3r profiles incompatible with your current
Slic3r. Sorry about that. The best for you is to update your slic3r:
https://github.com/prusa3d/Slic3r/releases

On Mon, Sep 3, 2018 at 5:11 PM joeynuggetz <notifications@github.com> wrote:

[2018-09-03 16:10] jweaver100 opened #1192 "Slic3r will not export if you delete an object off the bed"
### Version
1.41.0+win64

### Operating system type + version
Windows 7

### Behavior

In Slic3r 1.40.0, if you had items off the bed (blue) you could not slice or export.. But in 1.41.0 its now possible to slice when you move objects off the bed (Which is good).

But, if you delete an object whilst exporting, you cannot slice/export any more jobs until you restart slicer.

To reproduce

1. Add 2

[2018-09-03 16:39] WarrenSchultz commented on #1099
That is handy, but it would be helpful to be able to disable the object in-place also. Super-low priority with the out-of-bed functionality, but also useful if you have a large number of small objects.

Alternatively, if there became group selection tools and movement, that would also help more than just this request.

[2018-09-03 16:55] joeynuggetz commented on #1126
I'm already running 1.41.0.

[2018-09-03 23:31] Area5142 commented on #1165
The need for support with _solid first layer_ depends on the used filament.
Printing mostly in PETG and flex _solid first layer_ will give me problems removing the support from the build plate as these materials sticks very well to the PEI surface.

A better solution would be to specify a first layer support density in percent, where 100% is solid.
It could be a new parameter in the filament tab,

[2018-09-04 00:04] alomex21 commented on #1189
Hey I'm back, sorry for the delay.

Ok I tried the crashdump but sadly the application it just "freezes", hence it doesn't produce any report for it. Double clicking a model also freeze the slic3r aside of the right click on model->Settings. I've tried with the newest release(1.41.0) and also having the same problem.
Is there anything that Slic3r creates aside of the application folder itself?

[2018-09-04 02:04] tobymurray commented on #1168
I believe this is a duplicate of #800

[2018-09-04 05:48] magkopian commented on #1165
@Area5142 When you print pretty much any object the first layer is always solid anyway, how printing supports in any different that this? If you have difficulty removing supports from the build plate when you print in PETG then you should have the same problem with removing the object itself.

[2018-09-04 05:51] Massa0815 commented on #1165
+1 That would help very much for my cheep Asian PEI sheet ;)

[2018-09-04 07:38] bubnikv commented on #1148
This instructs Slic3r to do exactly what you are seeing: It tries to feed the filament into the extruder at a constant speed, so there will be a constant pressure in the nozzle. It is not an error, it is the intended behavior.

That is a completely different issue: These infills are printed with a bridging flow to ensure, that the partially overlapping infill lines support each other. The problem

[2018-09-04 07:48] bubnikv commented on #1192
This looks like one of the "background processing" issues, which we hope to fix by refactoring the background processing from Perl to C++. We hope to do it for the 1.42 release, keep your fingers crossed.

[2018-09-04 08:02] bubnikv commented on #102
I am looking into this issue after a long time. I have identified the following issues:

1) Bridging flow incorrectly applied to the vertical separation gap, making the gap wider if the bridging flow correction is smaller than 1.
2) Supports printed at the bridging flow distance even in cases where the bridging flow is not used.
3) Infills printed with a bridging flow: There is an artificial gap a

[2018-09-04 08:17] vojtechkral commented on #1175
Yep, probably a duplicate of #1116

[2018-09-04 08:36] vojtechkral commented on #1187
Thanks, I'll fix this...

[2018-09-04 09:28] supermerill commented on #1185
![ok](https://user-images.githubusercontent.com/6536403/45022876-9424e000-b035-11e8-8510-a4189007dd10.png)

can't reproduce

[2018-09-04 11:51] Area5142 commented on #1165
@magkopian a one layer high print is difficult to remove as it flexes with the steel sheet and only can be removed with a scraper. Taller models will have something to _grip on_, be more stiff and easier to remove just bending the steel sheet (MK2.5/MK3).
If I try to pull or bend the PEI sheet to release the support it will just break and leave the the solid first layer behind.

A filament paramet

[2018-09-04 11:59] ScanTraxx27 commented on #1185
Thanks for the reply.
I've just tried it once again and suddenly it worked - I got the same result as you!
Then I realized that last time I had infill set to 0% because there's no need for infill here (except maybe for extending the layer time) and that reproduced the problem.

Soo, should I just let this issue be closed and open a new one with the correct steps?

[2018-09-04 12:03] magkopian commented on #1165
@Area5142 Isn't that the case for a non-solid interface layer as well? From my personally experience, I think that if a support breaks and only thing that remains behind is the interface layer in both cases you need a scraper. By the way, if you use a sheath around your supports it minimizes the chances of that happening.

[2018-09-04 12:56] Area5142 commented on #1165
@magkopian my experience with PETG is that the non-solid support releases the build plate with the model. If the bond gets stronger the support will break before releasing the PEI surface and leave the solid layer behind.

[2018-09-04 13:34] supermerill commented on #1185
just rename this issue, i will be able to create a fix now i understand the problem.

[2018-09-04 13:41] ScanTraxx27 commented on #1185
Thanks! Good luck on fixing the problem!

[2018-09-04 14:49] Area5142 opened #1193 "Auto-center parts conflicts with new Arrange parts"
### Version
Version 1.41.0+win64

### Operating system type + version
Windows 10 Pro x64

### Behavior
Using _Arrange_ to arrange 12 copies of a simple part places 11 parts on the build plate and 1 on the virtual build plate.
Turning on _Auto-center parts_ in _Preferences_ will center both the physical build plate and the virtual as one. The arranged parts are moved off the build plate and made un

[2018-09-04 16:28] zbrozek commented on #1148
I think you've missed my point. It's exactly what I _want_, but it's not what I think I'm getting. Compare the two screenshots. One claims the same volumetric flow rate (2.7 mm^3/sec or so?) across the entire part yet the other claims that linear speed varies from ~16 mm/sec to ~60 mm/sec[1]. That's simply too wide a range to make any sense. It's not plausible. It seems like an arithmetic error.

[2018-09-04 17:30] ayberkozgur commented on #480
Any update on this? PETG filaments needing extra retraction is a crucial use case for this improvement.

[2018-09-04 18:17] tbrummel commented on #1141
Since this is being worked on, I figured I'd ask here if the bug relating to color change extrusion will be fixed as well.  When an M600 is encountered, the printer stops, changes filament, and then asks if the filament has been changed successfully.  When you say "Yes", then the printer extrudes more filament just before going back to the object to print!  This, obviously, is bad news - you have

[2018-09-05 01:28] M-a-t-t-S-m-i-t-h opened #1194 "Application hangs indefinitely during import/repair of STL model"
### Version
1.41.0
SHA1 ID: 22569de

### Operating system type + version
Windows 10 64 bit

### Perl + wxWidgets binary distribution
wperl64d-5.24.0-2018-03-02.7z

### Additional dependencies
slic3r-destdir-64.7z

### Build instruction
cmake .. -G "Visual Studio 12 Win64" -DCMAKE_CONFIGURATION_TYPES=RelWithDebInfo

### Debugger
Microsoft Visual Studio Community 2013
Version 12.0.40629.00 Update 5

[2018-09-05 03:13] austinvojta commented on #1179
I miss when the "0" key would reset the camera to a fixed distance away along with resetting to an isometric view. Not sure why they removed that in a recent update, but I too would like that back.

[2018-09-05 07:50] FidelCapo commented on #1179
Thank you for report. I can reproduce this issue.

[2018-09-05 10:44] YuSanka commented on #817
Correct extruder selection is implemented here (https://github.com/prusa3d/Slic3r/commit/3e549c153d508ba2cd5cea41ee8bd35b53b87596) and will be a part of Slic3rPE 1.42

[2018-09-05 17:23] scott0122 opened #1197 "[FEATURE REQUEST] Add option to change support interface pattern"
### Version
1.41.0

My printer has dual nozzle. I use HIPS as support material with PC. When I set contact z distance to 0, Slic3r PE generate interface in different pattern. You can look at the first 3 attached pictures. I don't think it is a good pattern because the base support pattern can not hold it well.
I think interface pattern like picture 4 should be a good solution.

Can you add an opti

[2018-09-05 19:34] alecplumb opened #1198 "RepRapFirmware/Duet3d Upload Date Incorrect"
### Version
Slice3r Prusa Edition 1.41.0+

### Operating system type + version
MacOS 10.13.6

### Behavior
When I upload gcode to my DuetWiFi from Slic3r, the reported date of the upload is May 9, 2018 (5/9/2018) instead of September 5, 2018 (9/5/2018).

When I upload files from DWC or from cura they show the correct date.

[2018-09-05 19:37] alomex21 commented on #1189
@bubnikv  I found the problem! I installed the Prusa drivers(https://www.prusa3d.com/drivers/) for the mk2s and while replacing files from GitHub from new versions time to time, it create some weird problems that I can’t describe precisely. What I did for fixing the problem is put the folder from the zip of a latest version of slic3r to the desktop or anywhere except the Prusa3D folder from defaul

[2018-09-05 19:43] alomex21 commented on #1189
I Cleaned the cache from AppData and now it is working from Prusa3D folder

[2018-09-05 20:18] mloidl commented on #1198
This is already fixed with #1162

[2018-09-05 21:20] trevjonez opened #1199 "Question about output bounding box and octoprint"
### Version
[code]
### Operating system type + version
OSX 10.13.5

### Behavior
Exported gcode has negative bounding box and octoprint warns about it when spooling file to print

#### STL/Config (.ZIP) where problem occurs
[stl_gcode.zip](https://github.com/prusa3d/Slic3r/files/2354578/stl_gcode.zip)
Input STL file and resulting gcode file ^^

I don't see any errant behavior within Slic3r PE or w

[2018-09-05 21:57] #1189 closed

[2018-09-05 21:58] Calvin6 opened #1200 "MM V1 Issue"
### Version 1.41
_Version of Slic3r used goes here_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version Windows 10 64Bits

### Behavior
* _Describe the problem_
I have a prusa Mk2s with multimaterial v1, and the gcode generated by the slicer gets the message "incomplete file" in every confi

[2018-09-06 07:10] #1200 closed

[2018-09-06 07:11] bubnikv commented on #1200
This is really a request to the firmware team. The firmware checks for the
"motor power off" M code at the end of the G-code file, but it there are
parameters stored there as comments. Now we have more parameters stored by
Slic3r, so the firmware guys should increase the range from the end of the
file to look for the "motor power off" M code. They did change that for the
MK3 and MK2.5 firmware, bu

[2018-09-06 11:52] mikezs opened #1201 "2D bed doesn't display"
### Version
1.41.0+

### Operating system type + version
macOS 10.13.6

### Behavior
* 2D bed preview disappeared in alpha3 of 1.41.0:
![screen shot 2018-09-06 at 12 43 10](https://user-images.githubusercontent.com/1911467/45155334-92445380-b1d2-11e8-9713-0a57001c66c7.png)
![screen shot 2018-09-06 at 12 43 30](https://user-images.githubusercontent.com/1911467/45155335-92445380-b1d2-11e8-8b2c-19926

[2018-09-06 11:56] bubnikv commented on #1201
@enricoturri1966 Would you please look into it? Thanks.

[2018-09-06 12:14] bubnikv commented on #1201
It is not a bug, it's a feature. We removed it on purpose, as not many were
using it.

You may set the top view using the View menu to achieve very much the same
effect. Does it satisfy you?

On Thu, Sep 6, 2018 at 1:52 PM Mike Bignell <notifications@github.com>
wrote:

[2018-09-06 13:42] mikezs commented on #1201
I was under the impression it was fairly well used, as it's one of the top level screen elements. I've certainly be using it for a number of years (before PE). Is there any technical issues for keeping it? I don't see why it not being heavily used by everyone is a reason to remove?

It's similar, and also very useful, but having it in 2D view previews the skirt and it's much easier to position thi

[2018-09-06 18:33] brotherchris opened #1202 "Disregard Machine Limit settings and use default firmware settings"
### Version
1.41.0

### Operating system type + version
Win 10 64

### Behavior
The machine limit settings in the printer settings tab override the default firmware settings on the printer with Gcode commands at the start of the print.

Is there away to ignore the machine limit settings in slic3r and use the default firmware options instead?

[2018-09-06 18:58] scott0122 opened #1203 "Build Wx-0.9932 fail with VS2013, Is there anyone can provide <slic3rPE>/local-lib to me?"
I'm build Slic3r PE following steps on https://github.com/prusa3d/Slic3r/blob/master/doc/How%20to%20build%20-%20Windows.md
But failed on building Wx-0.9932.

Is there anyone can provide <slic3r>/local-lib to me?

Thanks..

[2018-09-07 00:16] Calvin6 commented on #1200
Thanks for the explanation!

[2018-09-07 02:46] PxT opened #1204 "Infill text is truncated on object settings window"
### Version
1.41.0+

### Operating system type + version
macOS 10.13.6

### Behavior
Some text is not displayed correctly on object settings window
* Load a model
* Double click it from 3D view
* See text "Wipe into this object's"
(see screenshot)
I think this should read "Wipe into this object's infill"

<img width="1165" alt="screen shot 2018-09-06 at 7 42 02 pm" src="https://user-images.githubu

[2018-09-07 03:28] JesusFreke commented on #601
Hmm. I think this feature could be used as a workaround for the problem that #1095 describes, but I agree with the author of that issue that I don't understand why that particular case is causing a collision warning. While I do understand why the particular case I describe causes a warning.

[2018-09-07 03:50] bubnikv commented on #1202
Why would you do that? The machine limits are there to keep the firmware
and the slic3r's time estimator on the same page.

On Thu, Sep 6, 2018, 20:33 Chris <notifications@github.com> wrote:

[2018-09-07 03:51] bubnikv commented on #1204
@YuSanka would you please look into it?

On Fri, Sep 7, 2018, 04:46 PxT <notifications@github.com> wrote:

[2018-09-07 04:35] brotherchris commented on #1202
Because I have been using slic3r for years as a non-propriotary slicer and use it for about 30 different printers and they are not all Prusa. Now I would have to update all the settings on every machine and the new ones coming in before I get my first print out.

Going forward is it Prusas intent to only allow Prusa printers the use of slic3r?

Thanks for the response.

[2018-09-07 04:48] bubnikv commented on #1202
If you are not going to fill in the machine limits page, the print time
estimates will be off. There is nothing prusa specific here. If you don't
care about the print time estimates, switch slic3r to the reprap firmware
flavor.

On Fri, Sep 7, 2018, 06:35 Chris <notifications@github.com> wrote:

[2018-09-07 05:06] brotherchris commented on #1202
That works for me. Thanks again.

On Sep 6, 2018 11:48 PM, "bubnikv" <notifications@github.com> wrote:

If you are not going to fill in the machine limits page, the print time
estimates will be off. There is nothing prusa specific here. If you don't
care about the print time estimates, switch slic3r to the reprap firmware
flavor.

On Fri, Sep 7, 2018, 06:35 Chris <notifications@github.com> wrote:

[2018-09-07 07:13] rmoravcik commented on #1016
Hi all,

I tried to track down the problem and it's seems there is a problem with function wxImage_to_wxBitmap_with_alpha():

[code]

Linux is using the BROKEN_ALPHA branch of code and this codes seems to be returning wxBitmap with 24 bits depth and alpha information lost on my systems (Ubuntu 18.04/18.10 alpha/beta).

If I remove the BROKEN_ALPHA branch of code in this function, everything start

[2018-09-07 07:33] #1204 closed

[2018-09-07 07:35] YuSanka commented on #1204
Thanks for your report.

[2018-09-07 07:58] rmoravcik commented on #1016
I'm using wxWidgets 3.0.4 and GTK3.

This is strange, I've just downloaded a source code of wxWidgets 3.0.4 and this is the implementation of wxBitmap::NewFromPNGData() used on Windows and Linux:

[code]
The code will create an wxImage from PNG data and at the end it's using the same constructor
`wxBitmap::wxBitmap (const wxImage &img, int depth=wxBITMAP_SCREEN_DEPTH)`
as the non BROKEN_ALPHA to c

[2018-09-07 08:12] vojtechkral commented on #1203
What is the error?

[2018-09-07 08:27] bubnikv commented on #1203
With the binary packages provided, you should not need to compile wxwidgets
at all. Everything is precompiled already.

On Fri, Sep 7, 2018 at 10:12 AM Vojtech Kral <notifications@github.com>
wrote:

[2018-09-07 09:01] scott0122 commented on #1203
I see. I found that all lib required are precompiled in wperl64d-5.24.0-2018-03-02.7z's site/lib.
So it is not necessary to run 'perl Build.PL' & 'perl Build.PL --gui' ?

[2018-09-07 09:34] bubnikv commented on #1203
I am not quite sure now, it has been a long time since I set up my
development environment. They should not hurt.

Please make sure you have your environment variables set by running
the C:\wperl64d\cmdline_init.bat

On Fri, Sep 7, 2018 at 11:01 AM scott0122 <notifications@github.com> wrote:

[2018-09-07 12:26] rmoravcik commented on #1016
I installed Ubuntu 16.04 to chroot. That Ubuntu has wxWidgets 3.0.3 and GTK2 2.24.30.

And it seems I found difference in behavior between these two versions. Maybe someone more skilled will have an idea... If you have a look to this function:

[code]
Data variable:
- wxWidgets 3.0.3 and GTK2 - data is valid only if bitmap was created with BitmapCache::mksolid() with some data and invalid for bitm

[2018-09-07 12:56] bubnikv commented on #1016
Thanks for your investigation. Should we then set the BROKEN_ALPHA symbols
for GTK2 only and everything will be golden?

On Fri, Sep 7, 2018 at 2:26 PM Roman Moravčík <notifications@github.com>
wrote:

[2018-09-07 15:43] bubnikv commented on #1016
@YuSanka Would you please integrate the contribution? Thanks.

[2018-09-07 20:07] scott0122 commented on #1203
Finally, I successfully built the slic3r PE.
If you build Slic3r PE using wperl64d-5.24.0-2018-03-02.7z and slic3r-destdir-64.7z, you should not execute "perl Build.pl" and "perl Build.pl --gui". It will retrieve all necessary libraries from cpan.org again and cause wx build errors.

And the following files should be saved in "utf-8 with BOM" format.  Otherwise it will cause the cl.exe compilation

[2018-09-07 20:31] scott0122 commented on #1197
Ha! I have done this function myself. And expanded the support pattern.

![image](https://user-images.githubusercontent.com/39105828/45241304-7fd73080-b31e-11e8-9fba-afa6044817a4.png)
![image](https://user-images.githubusercontent.com/39105828/45241324-8f567980-b31e-11e8-8885-157dc3ed33b3.png)
![image](https://user-images.githubusercontent.com/39105828/45241368-ccbb0700-b31e-11e8-9d5d-fa55c3837618

[2018-09-08 01:22] PikminRed opened #1206 "Remove or add option to skip "Send G-Code to printer host" dialog box"
On previous versions, clicking the "Send to printer" button would slice the file and send the gcode to Octoprint, but on this version, it slices it and then pops up another dialog box asking for a directory and whatnot before sending. Previously with large slices it would finish and automatically upload, but now you have to babysit slic3r until it finishes slicing which is a bit of a hassle.

[2018-09-08 04:41] hanswwilson opened #1207 "MMU - Change Temperature/Material Purge Order Issue"
### Version
1.41.0+win64

### Operating system type + version
Windows 10 Professional

### Behavior
When printing an object using multiple dissimilar materials that use different print temperatures the order in which the temperature change, material change, and purge event becomes important to prevent extruder jams. Currently the behavior of multi-material sliced objects using different print temp

[2018-09-08 05:32] akash1769 opened #1208 "Weird artifacts as of this release 1.41.0 x64"
### Version
_Version of Slic3r used goes here_

_Use `About->About Slic3r` for release versions_1.41.0 x64

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
_What OS are you using, and state any version #s_ Win 10 Pro latest

### Behavior
* _Describe the problem_ artifacts showing up that

[2018-09-08 07:08] rmoravcik commented on #1016
Thank you very much.

I'm observing one more visual glitch on the latest Ubuntu with GTK3. wxBitmapComboboxes of presets on Tabs are resized weirdly, so it's not possible to see an icon. This is how they looks on latest Ubuntu with GTK3:

![slic3r_gtk3_1](https://user-images.githubusercontent.com/2954118/45251384-89c05a00-b345-11e8-90f6-44963d885796.png)

If I compile Slic3r using wxWidgets using

[2018-09-08 12:47] jkavalik opened #1211 "3mf file with multiple parts gets loaded as multiple objects without a prompt to load as multipart"
Trying 1.41.0 I have a problem loading some multipart 3mf files (the ones generated by Meshmixer) - I am not asked if it is single multipart object or multiple objects, instead it is loaded as multiple and each is moved to the base (but not autoarranged).

It works fine in 1.41.0-beta.
In 1.41.0 it seems to work fine with 3mf files which were created by Slic3r Plater->Export plate as 3mf function.

[2018-09-08 16:40] Hal1949 opened #1212 "Make the export of "Machine limits" into the G-code optional"
### Version
Slic3rPE-1.41.0+win32

Copyright © 2016-2018 Prusa Research.
Copyright © 2011-2017 Alessandro Ranellucci.
Slic3r is licensed under the GNU Affero General Public License, version 3.

### Operating system type + version
Windows 7  Ultimate SP1

### Behavior
All appears to function well up to the point of clicking on the PRINT button.  Bed and Hotends heat up as should, but when the bed t

[2018-09-08 20:55] gnydick opened #1213 "ooze shield and z-hop don't work together"
1.40.1+win64

Windows 10 pro 64

when using the ooze prevention and z-hop between layers, the shield doesn't catch any drippings because the nozzle is lifted. There needs to be a lowering, wipe shield, lift beyond shield, lower onto target set of moves.

[2018-09-08 20:57] gnydick opened #1214 "ooze prevention not lowering temperature"
1.40.1+win64

Windows 10 pro 64

the temperature doesn't lower when switching tools, as described. I checked g-code, and it's not there.

[2018-09-08 22:19] jltx1 opened #1215 "error in filling narrow gaps in 1.4.1"
### Version
1.4.1.0+

### Operating system type + version
High Sierra

### Behavior
slic3r is not filling narrow spaces anymore.  It used to.

![image](https://user-images.githubusercontent.com/28034983/45259112-c9f5fb80-b38a-11e8-8571-09c95ee782af.png)

How it used to work correctly:
![image](https://user-images.githubusercontent.com/28034983/45259130-0e819700-b38b-11e8-9db2-81623a2a0448.png)

##

[2018-09-09 00:01] BerndJM commented on #1106
I think a pre-checked checkbox would be a good solution.
Even if there is already a print in progress nothing bad happens, Octoprint silently ignores the "print immediately" command.

[2018-09-09 02:07] jltx1 commented on #1215
figured it out.  I got a bad merge (it seems) of presets and somehow the gap fill speed got set to zero which apparently disables it.  Not sure where that went wrong.  It did ask me if it was ok to update presets and I agreed.  I restored the value and working again.

[2018-09-09 02:07] #1215 closed

[2018-09-09 09:14] Braccoz commented on #1214
ooze prevention is actually bugged... if i select it, it will take the first layer temperature, lower it by the setting value and never change it again.

[2018-09-09 09:40] nessatse commented on #1212
Ran into the same problem today.  Your default feedrates and acceleration are now being overridden by the values in Printer Settings->Machine Limits.  Edit those to correspond to your own printer and the problem should be fixed.

There should really be an option to disable this new feature

[2018-09-09 09:56] nessatse opened #1216 "Machine limits reset when 'Supports Silent Mode' is toggled"
### Version
Slic3r Prusa Edition
Version: 1.41.0+win64
Build: Slic3rPE-1.41.0+win64-full-201809010758
Operating System: MSWin32
System Architecture: MSWin32-x64-multi-thread
Windows Version: Microsoft Windows [Version 10.0.17134.228]

### Behavior

Whenever you toggle 'Supports silent mode' under Printer Settings->General, all the settings under 'Machine Limits' are reset to their built in values.

[2018-09-09 13:53] Hal1949 commented on #1212
Thanks so much …

From: Eddie Stassen [mailto:notifications@github.com]
Sent: Sunday, September 09, 2018 5:40 AM
To: prusa3d/Slic3r
Cc: H.S. Ringleben, Jr.; Author
Subject: Re: [prusa3d/Slic3r] Slic3rPE-1.41.0 (#1212)

Ran into the same problem today. Your default feedrates and acceleration are now being overridden by the values in Printer Settings->Machine Limits. Edit those to correspond to your

[2018-09-09 13:56] Hal1949 commented on #1212
Thanks so much ..

From: Sebastianv650 [mailto:notifications@github.com]
Sent: Sunday, September 09, 2018 6:21 AM
To: prusa3d/Slic3r
Cc: H.S. Ringleben, Jr.; Author
Subject: Re: [prusa3d/Slic3r] Slic3rPE-1.41.0 (#1212)

Your default feedrates and acceleration are now being overridden by the values in Printer Settings->Machine Limits. Edit those to correspond to your own printer and the problem sho

[2018-09-09 15:49] pleppik opened #1217 "[FEATURE REQUEST] Display count of tool changes"
### Version
1.41.0+

### Operating system type + version
All

### Behavior
The single most important factor in optimizing multimaterial prints is minimizing the number of tool changes.

Currently there does not appear to be any way to see how many tool changes there are in the sliced model.

It would be very useful to display the number of tool changes after slicing the model to make it easy to se

[2018-09-10 07:43] FidelCapo commented on #1214
@gnydick Can you send me a configuration file? Thank you

[2018-09-10 07:48] FidelCapo commented on #1073
If I understand everything correctly, there are two issues here.
The first issue did not change the temperature when the material was changed. This is fixed and fix will be part of the next release.
The second “issue” concerns the ooze prevention function that I think works properly. If this feature is turned on and a single extruder or multimaterial printer with one extruder is set, the function

[2018-09-10 08:13] Braccoz commented on #1073
not correct. i have 2 extruders on my printer. say i slice a print that only uses 1 extruder. then the bug appears, when in reality the setting should be ignored

[2018-09-10 08:17] FidelCapo commented on #1073
@Braccoz Can you send me a configuration file? Thank you

[2018-09-10 09:44] vojtechkral commented on #1203
@scott0122 Thanks, I'll update the Windows build doc.

UTF-8 with BOM is problematic, if I recall correctly, the problem was that it makes MSVC compiler interpret the string literals and transform them according to the system locale. We don't want that, and so the current solution has been to save source files in UTF-8 _without_ BOM and have MSVC copy the strings verbatim (byte by byte), which we

[2018-09-10 11:15] #1211 closed

[2018-09-10 11:33] FidelCapo commented on #1208
@akash1769 These artifacts you describe are not supports but solid infill. It appears there because you have the feature "Ensure vertical shell thickness" that tries to keep wall thickness by adding infill.

Was this explanation helpful to you? Can I close this issue?

[2018-09-10 14:51] rackley096794 opened #1218 "Implement DPI scaling support"
### Version
1.41.0

### Operating system type + version
Windows 10 1809  (same issue is present on earlier versions)

### Behavior
* When using high resolution monitors, the user interface is fuzzy
* To repro, set monitor scaling to something larger than 100% (e.g. 125%, 150%, etc).
* Expected results are that the UI is correctly and cleanly rendered
* Actual result is the UI is fuzzy

DPI scaled

[2018-09-10 17:49] daktylus commented on #1218
+1

and adding the request to use a higher resolution picture of the Printbed (It was better in an older version but it was lately swapped for a low-res 512x512 pixel image. Name: "mk2_top.png")

[2018-09-10 21:10] DrJuJu opened #1219 "Upload to Printer Host - naming dialogue issue"
### Version
1.41.0 win64

### Operating system type + version
Windows 10 version 1803

### Behavior
The dialogue for naming the file that is sent to the printer, by default, only shows the last nine characters plus ".gcode", even though the dialogue box has enough space to show more of the filename. see attached.

I applaud the addition of layer height, material etc. but it would be nice to see th

[2018-09-10 23:52] gime2012 opened #1220 "Layer editing not working"
### Version
Slic3rPE-1.41.0+win64-full-201808301410

### Operating system type + version
Microsoft Windows (MSWin32)  [Version 10.0.17134.228]

### Behavior
I am unable to select layer editing since it is greyed out. I have enabled variable layer height in Printer Settings tab and have set the min layer height at 0.07 mm and max layer height at 0.25 mm. I select the object on the plater and am abl

[2018-09-11 00:42] DBa2016 commented on #1219
Workaround: press "Home". The whole file name is there, it is just not immediately visible.

[2018-09-11 06:41] vojtechkral commented on #1219
I've got a fix for this, it's just not yet released...

[2018-09-11 06:47] FidelCapo commented on #1220
@gime2012 Unfortunately, I'm not able to reproduce this issue. Can you please send me config.ini ? Thank you

[2018-09-11 07:12] bubnikv commented on #1220
The layer editing is only enabled for OpenGL 2.0 and newer. What OpenGL
version does Slic3r report you when you execute menu -> System Info?

On Tue, Sep 11, 2018 at 8:47 AM HurkaF <notifications@github.com> wrote:

[2018-09-11 07:19] bubnikv commented on #1217
@lukasmatena would you please add this statistics? Thanks.

[2018-09-11 07:52] tamasmeszaros commented on #1193
Hello and thank you for the feedback. The auto-center is a known bug, it will be addressed in the next releases. As to the arrangement: this is a very interesting case where there seems to be space left for the last item but in reality, if you consider the minimum distance which has to be maintained, there is no room left. If you enlarge the print bed slightly (6 mm is enough for the X axis) then

[2018-09-11 11:07] bubnikv commented on #1220
Then no wonder that the layer editing is not working. It requires OpenGL
2.0 or newer.

On Tue, Sep 11, 2018 at 12:22 PM gime2012 <notifications@github.com> wrote:

[2018-09-11 11:19] zmast opened #1221 "Custom G-code file extension (.hvs) in output_filename_format not maintained, replaced with .hvs.gcode"
### Version
1.41.0+

### Operating system type + version
macOS 10.13.6

### Behavior
* _Describe the problem_
When the parameter output_filename_format contains a custom file extension, for instance `.hvs`, the "save as" dialog will still force the extension to be `.gcode`, resulting in a file named `filename.hvs.gcode`.

* _Steps needed to reproduce the problem_
  * In _Printer Settings > Output

[2018-09-11 11:42] gime2012 commented on #1220
I have updated the OpenGL and now it works. Thank you!

[2018-09-11 11:42] #1220 closed

[2018-09-11 12:06] bubnikv commented on #1221
What is the .hvs extension?
I suppose the input field expect you to give the file name without the
extension. Why do you want to change the extension?

On Tue, Sep 11, 2018 at 1:19 PM Zmaster <notifications@github.com> wrote:

[2018-09-11 12:35] zmast commented on #1221
My 3D printer, a Cubicon Style, requires files with that extension (plus some custom G-CODE), it won't see .gcode files. The .hvs extension is probably named after the manufacturer (HiVision Systems).
So, having Slic3r save the output file with the correct extension avoids having to rename the file manually.

The default value for that field is `[input_filename_base].gcode`, so one would expect th

[2018-09-11 17:01] akash1769 commented on #1208
You the man! Thanks

Yes you may close da issue

[2018-09-11 17:03] scott0122 commented on #1203
1>C:\local\Slic3r-PE\xs\src\slic3r\GUI\GUI.cpp : warning C4819: The file contains a character that cannot be represented in the current code page (950). Save the file in Unicode format to prevent data loss
1>C:\local\Slic3r-PE\xs\src\slic3r\GUI\GUI.cpp(340): error C2001: newline in constant
1>C:\local\Slic3r-PE\xs\src\slic3r\GUI\GUI.cpp(342): error C2144: syntax error : 'void' should be preceded b

[2018-09-11 17:09] scott0122 commented on #1203
@vojtechkral After saving thoese files in utf-8 with bom format by ultraedit, All compilation errors are gone.

[2018-09-11 17:58] blithe74 opened #1222 "The configuration aren't saved"
### Version
1.41.0+win64

### Operating system type + version
Windows 7 Professional, SP1, x64, Russian

### Behavior
During start of the program (slic3r.exe) appears  the window "Slic3r error":
![message](https://user-images.githubusercontent.com/6023788/45377863-4ac82800-b615-11e8-83dc-d3f16aff86a8.jpg)

The folders:
C:\Users\Internet\AppData\Roaming\Slic3rPE\filament\
C:\Users\Internet\AppData\

[2018-09-12 01:39] hexane360 opened #1223 "Source for slic3r.exe shims used in releases?"
The Slic3rPE windows releases seem to come packaged with 3 simple exes (slic3r.exe, slic3r-console.exe, slic3r-noconsole.exe) that start a Perl environment. Is the source for these hosted anywhere?

[2018-09-12 06:39] bubnikv commented on #1222
Did you redirect the "C:\users\internet" folder somehow using Windows redirect point?

[2018-09-12 06:40] bubnikv commented on #1203
Cool. Closing then.

[2018-09-12 07:47] vojtechkral commented on #1203
(I'd like to leave this open to remind myself to update the doc and perhaps fix the GUI.cpp encoding problem.)

[2018-09-12 12:52] boelle opened #1224 "how to change bed graphics?"
is it possible to change the bed graphics for non prusa printers?

i just updated to the latest version and want to put some graphics on my mendel90 just like the prusa printers have logo etc

[2018-09-12 13:12] boelle commented on #1089
so i had time to update the software and the issue is still the same

the start of my gcode still have this in it:

M201 X9000 Y9000 Z500 E10000 ; sets maximum accelerations, mm/sec^2
M203 X500 Y500 Z12 E120 ; sets maximum feedrates, mm/sec
M204 P2000 R1500 T2000 ; sets acceleration (P, T) and retract acceleration (R), mm/sec^2
M205 X10.00 Y10.00 Z0.20 E2.50 ; sets the jerk limits, mm/sec
M205 S0

[2018-09-12 13:37] Panayiotis-git commented on #1224
Check the folder:
<Slic3rPE folder>\resources\icons\bed

[2018-09-12 13:42] sebas76 opened #1225 "Test for percent entered as an absolute value"
### Version
Slic3rPE-1.41.0+win64

### Operating system
Windows 10 Pro 64 bits - Version 1803

### Behavior
Slicing a simple object (a disk with 3 holes) and get bad result : the infill go through and beyond the perimeters as you can see here :
[picture](https://user-images.githubusercontent.com/21216559/45428717-1a7a9b00-b6a2-11e8-8d72-e388b929aca2.jpg)
I have checked on slic3r and s3d without an

[2018-09-12 13:42] boelle commented on #1224
found the folder

if i have a printer called "Mendel90" how do i add bed graphics to it? should i add files called

mendel90_top and mendel90_ bottom ?

i was looking for a setting somewhere but found none

[2018-09-12 14:00] bubnikv commented on #1224
Sorry, there is no support for a custom bed bitmap yet. It's not on
purpose, we just did not have time to make it configurable.

On Wed, Sep 12, 2018 at 3:42 PM Bo Herrmannsen <notifications@github.com>
wrote:

[2018-09-12 14:30] scott0122 commented on #1203
@vojtechkral Not only GUI.cpp. Some of them are compilation errors, some of them are just warning.

[2018-09-12 17:03] blithe74 commented on #1222
Yes link to folder. But from Menu of program -> the folders is displayed correctly, and original Slic3r work properly.
May be need use another Windows application function or check the Path to really folder or link. You can insert debug message in program from many Windows application function, and I send result to You.

С уважением, Александр Шуковилов

[2018-09-12 19:30] AbeFM commented on #102
I've been fighting this to varying degrees for a couple months now. I've been working exclusively in PLA.

![img_20180906_102108](https://user-images.githubusercontent.com/42385/45447718-4b98a280-b685-11e8-8de5-f9f8b7d6e911.jpg)
and
![img_20180911_160137](https://user-images.githubusercontent.com/42385/45447729-54897400-b685-11e8-9092-fef4a4045063.jpg)

I'm quite keen on making my bottom surfaces

[2018-09-12 21:35] hexane360 commented on #1089
@boelle

That's the correct behavior. Note the `M204` line is using the new `Pxxx Rxxx Txxx` format instead of the old `Sxxx Txxx` format. Just set the "extruding" and "retracting" accelerations in Printer Settings->Machine Limits, and that'll correspond to the values given to the `M204` line. Also confirm that your other machine limits are correct for your printer.

If you want to override the tr

[2018-09-12 21:45] cyrusjk opened #1226 "Platter is spelled wrong"
### Version
1.41.0

_Use `About->About Slic3r` for release versions_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
Ubuntu 18.04
### Behavior

In english, the word "Platter" has two "t"s, not one.

_Is this a new feature request?_
Nope.
#### STL/Config (.ZIP) where problem occurs

[2018-09-12 22:19] boelle commented on #1089
well it just does not work with marlin firmware

i will try and double check that machine limits are the same as those in firmware, but last time i check it did matter if i set machine limits to what the firmware had

[2018-09-13 01:03] BerndJM commented on #1225
Have a look at your "Infill/perimeters overlap" setting (Print Settings -> Advanced)
There's a missing **%** sign so your overlap is set to 25**mm** ...

[2018-09-13 04:27] taz43mca opened #1227 "Wrong reading on LED after installing V1.41.0"
Version 1.41.0
Slic3r PE and Prusa Control
Operating system type + version: Windows Ver 10
The temperature on my LED screen on a Prusa i3 MK2.5 does the following:
PLA - The first layer goes down with a reading of 215/215 then on second layer, using Slic3r PE or Prusa Control goes to 200/210 (veries 199-201). Then after about 20 to 40 layers (varies) it goes to 210/210.
The reading of time where i

[2018-09-13 07:03] bubnikv commented on #1222
How exactly did you create the link? What kind of link? I know around three
options: The Explorer shortcut, the hard link and the soft link.

Sure, that is basically the Windows Explorer in action, which interprets
the redirections correctly.

The original Slic3r still uses Perl in this code.

There is a long standing issue with the boost library that we are using now
in regard to interpreting win

[2018-09-13 07:03] bubnikv commented on #1222
These issues may be related:
https://github.com/prusa3d/Slic3r/issues/1123
https://github.com/prusa3d/Slic3r/issues/732

[2018-09-13 07:11] bubnikv commented on #102
This is my current prototype.

following issues:

   1. Bridging flow incorrectly applied to the vertical separation gap,
   making the gap wider if the bridging flow correction is smaller than 1.
   2. Supports printed at the bridging flow distance even in cases where
   the bridging flow is not used.
   3. Infills printed with a bridging flow: There is an artificial gap
   added between the brid

[2018-09-13 07:14] bubnikv commented on #1225
Thanks @BerndJM for your investigation.
@YuSanka would you please add a validation to this parameter, so one will not enter an excessive number by mistake? Thanks.

[2018-09-13 07:20] Chreutz commented on #102
Hey @bubnikv . Thank you for the update :-). I look forward to trying it out. Could you maybe be convinced to add an "advanced" option to disable including the nozzle diameter in the support distance calculation? This would allow users to dial in a distance themselves that fit their needs.

[2018-09-13 07:39] bubnikv commented on #102
including the nozzle diameter in the support distance calculation?

I don' think it is needed or wished. I believe that may of the issues were
due to the bugs / limitations of the previous algorithm.

On Thu, Sep 13, 2018 at 9:20 AM Chreutz <notifications@github.com> wrote: