[2018-03-14 16:09] bubnikv commented on #772
I mean, if there is a gap, than it is a bug and it should be fixed. But I suppose you would like to have a bit of overlap of the bridging flow with the supporting layer.

[2018-03-14 16:17] bubnikv commented on #768
As a workaround you may set a lower number of perimeters inside a modifier mesh.

I agree that the feature you described would be useful, but it is not straightforward to implement, so I don't think it will come soon.

[2018-03-14 16:19] bubnikv commented on #759
Solved by the conditional G-code. Closing.

[2018-03-14 16:19] #759 closed

[2018-03-14 16:22] VanessaE commented on #772
I figured it would be fine to have just a tiny, automatically-set overlap.  Maybe ¼ of the nozzle diameter or so.

[2018-03-14 16:23] VanessaE commented on #768
A modifier mesh would be cumbersome to use for the part in question.

[2018-03-14 16:23] bubnikv commented on #752
What do you mean with auto zoom? Do you mean auto-centering of an object to the center of the build plate? You can disable that in the application preferences.

[2018-03-14 16:24] bubnikv commented on #750
@coreyward If you find any print with larger print time estimate discrepancy, please share the data with us and we will check that.

[2018-03-14 16:25] bubnikv commented on #750
Guys, please provide sample data, otherwise I would have to close this issue without resolution. Thank you.

[2018-03-14 16:29] bubnikv commented on #748
I don't understand the proposal either. Would you please expand on that?

[2018-03-14 16:32] bubnikv commented on #745
Thanks for your proposal. We are looking around for a solution to run the G-code generator at the end of the slicing process automatically.

[2018-03-14 16:35] bubnikv commented on #744
Isn't the "magical" number the minimum layer height defined for the extruder at the printer profile->extruder page? This value came with the smooth variable layer height editing, and its purpose is to avoid extruding unrealistic thin layers.

[2018-03-14 16:36] bubnikv commented on #743
We have a wiki page.
https://github.com/prusa3d/Slic3r/wiki/Slic3r-Prusa-Edition-Macro-Language
Closing.

[2018-03-14 16:36] #743 closed

[2018-03-14 16:48] VanessaE commented on #772
After all, bridging infill overlaps 100% over its anchor edges, and it doesn't seem to be a problem.

[2018-03-14 16:52] bubnikv commented on #732
Sorry, but the Windows reparse points (those made by mklink /J) are not supported well by the boost::filesystem library. I am not sure whether we should invest time into finding a workaround, as I don't expect many of the Slic3r users to hack around with the directory reparse points on Windows.

[2018-03-14 17:04] bubnikv commented on #729
@chilternflyer Did the update of the profiles solve your issue?

[2018-03-14 17:21] bubnikv commented on #721
This weird movement goes away, if you disable the "avoid crossing perimeters" settings.

This is a duplicate of https://github.com/prusa3d/Slic3r/issues/231 and many other issues https://github.com/prusa3d/Slic3r/labels/path%20planning

I am closing this one as it is a duplicate.

[2018-03-14 17:21] #721 closed

[2018-03-14 17:23] bubnikv commented on #720
@vojtechkral updated the CMake scripts. Does this work for you?
https://github.com/prusa3d/Slic3r/blob/master/doc/How%20to%20build%20-%20Windows.md

[2018-03-14 17:25] LaserBee commented on #750
Hi, sorry, what kind of data should I provide?

On 14 Mar 2018 4:25 pm, "bubnikv" <notifications@github.com> wrote:

[2018-03-14 17:25] bubnikv commented on #717
This should be working with the current master, and it will be part of the upcoming 1.40 release. The 3mf format is supported, and the complete config.ini is included into both the 3mf and amf file formats. Closing.

[2018-03-14 17:25] #717 closed

[2018-03-14 17:27] bubnikv commented on #711
Isn't your issue the same as https://github.com/prusa3d/Slic3r/issues/732 ?

[2018-03-14 17:29] bubnikv commented on #701
No response for a month, closing.

[2018-03-14 17:29] #701 closed

[2018-03-14 17:32] bubnikv commented on #698
Would you please zip and attach the content of your Slic3rPE directory, or export and attach your config bundle? That would help us to test quickly. Thanks.

[2018-03-14 17:33] bubnikv commented on #697
Too little information provided, no response in a month, closing.

[2018-03-14 17:33] #697 closed

[2018-03-14 17:39] bubnikv commented on #692
Did you install other applications into the main Applications folder the same way as you did it with Slic3r?

Reading the following discussion, maybe you need to adjust the rights to the Slic3r.dmg file yourself after you moved it to the main Applications folder, so it will be accessible to everyone?

https://forums.macrumors.com/threads/can-i-install-and-application-and-have-it-available-for-all-

[2018-03-14 17:41] bubnikv commented on #667
Did not receive a response in two months, closing.

[2018-03-14 17:41] #667 closed

[2018-03-14 17:44] bubnikv commented on #689
Didn't receive any feedback for a month. Closing.

[2018-03-14 17:44] #689 closed

[2018-03-14 17:46] bubnikv commented on #685
We did not receive a response in a month, in particular we did not receive the G-code to test on our printers. Closing.

[2018-03-14 17:46] #685 closed

[2018-03-14 17:50] bubnikv commented on #656
Closing this one as it is a duplicate of https://github.com/prusa3d/Slic3r/issues/253 .

[2018-03-14 17:50] #656 closed

[2018-03-14 17:53] tbedore commented on #685
Sorry, I never got an email about your previous response, I just saw these.  I don't have the gcode file anymore for it, and the sound was not coming from any pulleys or anything, it was coming from the buzzer in the LCD.

[2018-03-14 17:54] tbedore commented on #685
But in addition, since the newest drivers, I haven't had these issues since.

[2018-03-14 18:01] bubnikv commented on #639
@vojtechkral works on downloading the configuration profiles into Slic3r. I am sure he will also add a notification on new Slic3r version being available for download.

[2018-03-14 18:14] bubnikv commented on #584
We have fixed one issue in 1.39.1: When printing a single material print with the multi-material Slic3r profile, the Slic3r did not pull the filament into the cooling tubes. We expected that one will print the single material prints on the multi material printer with the "MM Single Mode" profile, so we mistakenly did not include the parking of the filament into the cooling tubes for the "MM Multi"

[2018-03-14 18:14] #584 closed

[2018-03-14 18:16] jimbo777 commented on #794
sorry - computer error

I am attaching the suggested files:
[x-carriage-back.zip](https://github.com/prusa3d/Slic3r/files/1812381/x-carriage-back.zip)

Slic3r 1.39.1
windows 10 with latest updates
the printed object does not conform to the .stl file in dimensions - this is only internal dimensions, the external measurements are ok
I have tried this several times with exactly the same result, some

[2018-03-14 18:18] chilternflyer commented on #729
Hi,
No it didn't really solve it.
However, the recently released version of it (1.39.1) has had its profiles tweaked and they are working very well. My Mk3 is now printing clear ABS better than my MK2S. So yeah I'm really happy with it!
You can close this issue now. Thank you for you help.

[2018-03-14 18:18] #729 closed

[2018-03-14 18:25] bubnikv commented on #502
The following new controls are checked into the current master, they will make it into the Slic3r PE 1.40.

![image](https://user-images.githubusercontent.com/5830947/37423108-4bf8d5d0-27bd-11e8-8e3f-3208e0af3764.png)

[2018-03-14 18:25] #502 closed

[2018-03-14 18:29] bubnikv commented on #459
Build volume check has been implemented in the current master by @enricoturri1966, it will be part of the Slic3r PE 1.40

https://github.com/prusa3d/Slic3r/commit/523b297738c6fb66b1f5f96fdc4ad3d51c6adf7a

[2018-03-14 18:29] #459 closed

[2018-03-14 18:33] bubnikv commented on #354
@vojtechkral is working on that.

[2018-03-14 18:38] bubnikv commented on #254
I am closing this issue for now. One day, when we fully port Slic3r from Perl to C++, it would be easier to produce a Windows XP build, but then the XP will be dead for good anyway.

[2018-03-14 18:38] #254 closed

[2018-03-14 18:49] bubnikv commented on #685
Great to know the issue solved itself :-)

On Wed, Mar 14, 2018 at 6:54 PM, tbedore <notifications@github.com> wrote:

[2018-03-14 18:52] bubnikv commented on #750
A config file (go to file->export config), an STL, the G-code, the time
estimated and the actual time shown by the printer. All this data is
required for us to reproduce your scenario in house and track the possible
issues. Best if you are running our printer :-), then we can print the
G-code while watching the printer, otherwise we could at least analyze the
data provided, whether it contains som

[2018-03-14 18:54] LaserBee commented on #750
Okay, thank you. I am running an Anet A8, so it's *almost* like one of
yours. :)

I am planning a big print in the next couple days, can I give you the data
for that? At he moment, I am only printing half-hour things, which I don't
believe will demonstrate the problem very well...

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-f

[2018-03-14 18:54] bubnikv commented on #794
The outer dimensions should be quite precise. If they are not, then your printer is not correctly calibrated. What kind of printer are you printing on?

The FDM technology is known to shrink small holes due to the internal stresses left in the filament extruded by the tiny nozzle orifice.

[2018-03-14 18:57] bubnikv commented on #750
@LaserBee Well, the time estimator simulates our version of the Marlin firmware, so there may be some differences. We would rather tune the time estimator against our machines, as we have a full control over the parameters. With a 3rd party printer, you may have some differences in the firmware (some limits, CPU overload etc), which we have no way (and resources) to troubleshoot.

[2018-03-14 19:01] Patronics commented on #788
That’s the thing, there is no clear error message, but the last 10 lines or so of the screenshot are the error message.
Here’s a link to the text form of the log:
https://gist.github.com/Patronics/10db9ff5f6d676742d3ad330cf5be38b
I see that in addition to the error messages at the bottom there’s also 'error: ‘copy’ is not a member of ‘Slic3r::qi’’

[2018-03-14 19:07] bubnikv commented on #788
Which version of boost? Can you compile an up to date boost? We are using 1.63.

[2018-03-14 19:09] bubnikv commented on #155
I have removed the unsupported "pillars" support pattern from Slic3r PE with https://github.com/prusa3d/Slic3r/commit/61ae78432ce92adb47ea6a7eb3aca65bb353459e
Closing.

[2018-03-14 19:09] #155 closed

[2018-03-14 19:11] bubnikv commented on #144
This issue is stalled, most likely fixed in 1.39.1. Closing.

[2018-03-14 19:11] #144 closed

[2018-03-14 19:13] bubnikv commented on #112
Implemented by @enricoturri1966  in the current master. It will be part of the upcoming Slic3r PE 1.40.

[2018-03-14 19:13] #112 closed

[2018-03-14 19:15] bubnikv commented on #92
Implemented by @supermerill, merged into the current master. It will be part of the upcoming Slic3r 1.34 release.

[2018-03-14 19:15] #92 closed

[2018-03-14 19:16] jimbo777 commented on #794
sorry again, Original Prusa MK2 about 14 months old. Has been working excellent. Actually the outside dimensions are very exact, I have also tested with a calibration cube. I am concerned with the inside dimensions. They are small and the upgraded parts I printed may not work. I have printed a part for the steel rod which should measure 8mm but printed to 7.87 and there was no way to make it fit.

[2018-03-14 19:17] bubnikv commented on #23
Implemented by @enricoturri1966 in the current master. It will be part of the upcoming Slic3r PE 1.40.

[2018-03-14 19:17] #23 closed

[2018-03-14 19:19] bubnikv commented on #7
The current master implements AMF / 3MF import / export, and both the AMF and 3MF formats now include the print/filament/printer profiles, so the AMF and 3MF formats now serve the purpose of a project file.

[2018-03-14 19:19] #7 closed

[2018-03-14 19:22] LaserBee commented on #750
Yup, I understand that. If you'd like to close the ticket, that's cool. The
estimate seems to be closer again to what it was. I suspect it's my cheap,
chinese knock-off printer that sometimes just decides to take it's time. :)

Thanks for all your help (and an amazing product!)

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free

[2018-03-14 19:26] bubnikv commented on #794
I suppose this is not a new issue. You may try to lower the extrusion multiplier by a couple of percent, but in general one needs to just model the holes a bit bigger for FDM.

Your issue is actually a duplicate of https://github.com/prusa3d/Slic3r/issues/515
and there is a lot of information available at https://github.com/prusa3d/Slic3r/issues/515.

[2018-03-14 19:36] bubnikv commented on #736
This is a duplicate of https://github.com/prusa3d/Slic3r/issues/316
Supports are generated per object, and collisions of objects (and their supports) are not tested for by Slic3r.

[2018-03-14 19:36] #736 closed

[2018-03-14 20:02] bubnikv commented on #465
For reference, Cura implementation of the adaptive cubic infill: https://github.com/Ultimaker/CuraEngine/issues/381

[2018-03-15 03:50] BETLOG commented on #752
I do not mean "auto-center parts", I already have that disabled.

![slic3rprusaedition-1 39 1-beta-prusa3d-linux64_2018-03-15--13-39-05](https://user-images.githubusercontent.com/12265451/37443231-9b2680aa-2856-11e8-882a-0abdbd9e883c.png)
Open slic3r, default zoom

![slic3rprusaedition-1 39 1-beta-prusa3d-linux64_2018-03-15--13-39-59](https://user-images.githubusercontent.com/12265451/37443247-b19

[2018-03-15 07:40] bubnikv commented on #756
Discussed with Jindrich, our print expert and Slic3r profile tweaker, he thinks we should make it a default feature without any additional checkbox.

Should we print the perimeter before or after the usual 1st layer support?

[2018-03-15 09:07] misan opened #795 "PrusaResearch.ini config bundle errors out when loading on Linux Slic3r"
### Version
Slic3r Prusa Edition-1.39.1-prusa3d-linux64
Commit 7c027ee

### Operating system type + version
Ubuntu 16.04 64-bits

### Behavior
When loading the new PrusaResearch.ini config bundle in Slic3r it errors out:

Loading of a config bundle /home/misan/Descargas/PrusaResearch.ini failed:
Unknown config option
It happens every time I attempt it.

Same result if using Slic3r-1.39.1-alpha-pru

[2018-03-15 10:07] #795 closed

[2018-03-15 10:08] bubnikv commented on #795
There were some new config keys, which this Slic3r version does not understand yet.

Thanks for your vigilance. I see some of you want to live on the edge :-)

[2018-03-15 10:16] bubnikv commented on #760
Verified by @FidelCapo with the integration build 1.40.0-alpha.249.
@enricoturri1966 Would you please look into this? Thanks.

[2018-03-15 10:18] bubnikv commented on #551
confirmed by @FidelCapo on 1.37.2 and our latest integration build 1.40.0-alpha.251.

[2018-03-15 10:18] bubnikv commented on #551
@enricoturri1966 Would you please look into this issue? Thanks.

[2018-03-15 10:21] bubnikv commented on #392
@FidelCapo was not able to reproduce this issue. He tested on 1.35.5 and on our latest integration build 1.40.0-alpha.249.

There is an issue with the cancellation of the slicing core, which is still partially written in Perl. I suppose this issue will go away in 1.41, when the complete slicing backend will be rewritten into C++.

[2018-03-15 10:22] bubnikv commented on #618
@FidelCapo confirmed this bug on Windows with 1.37.2 and with the latest integration build 1.40.0-alpha.249

There is an issue with the cancellation of the slicing core, which is still partially written in Perl. I suppose this issue will go away in 1.41, when the complete slicing backend will be rewritten into C++.

[2018-03-15 15:10] vojtechkral commented on #649
Seems to me this is a duplicate of #87

[2018-03-15 15:10] #649 closed

[2018-03-15 15:12] vojtechkral commented on #650
Can you please elaborate what you mean by:

The standard way right now of authenticating to Octoprint is via the API key. Is this insufficient for you?

[2018-03-15 15:43] SamuelSVD commented on #756
I think we should print the perimeter before the usual 1st layer support. This way the first layer will be able to adhere to the perimeter, reducing the probability for error.

[2018-03-15 16:15] Tirpitz93 commented on #650
My octo server is behind ha proxy with basic auth, so I cant upload directly. the whole server is inaccessible until authentication has succeeded.

[2018-03-15 16:50] bubnikv commented on #756
Jindrich has the same opinion.

[2018-03-15 16:53] vojtechkral commented on #650
@Tirpitz93 Ah, I see now what you mean. I'm not sure I see the reason for having this feature though. Can you describe your usecase or why you need it? Ie. specifically what the benefit is over authorization via an API key? Honestly I don't think we have enough cycles to implement it unless there is a convincing reason to do so...

[2018-03-15 16:58] bubnikv commented on #750
@sepotvin Thanks, @FidelCapo will verify your print.

[2018-03-15 17:44] vojtechkral commented on #783
The upcomming release uses a new backend code for device discovery, and so this is not going to be applicable any more.

[2018-03-15 17:44] #783 closed

[2018-03-15 17:57] vojtechkral commented on #294
There is a new implementation of Slic3r's http communication via libcurl, comming up in the following release. It should be able to handle redirects, https or otherwise. If it doesn't work in the future, feel free to open a new issue.

[2018-03-15 17:57] #294 closed

[2018-03-15 20:18] comps commented on #744
Thanks for pointing that out - yes, that seems to have an effect on it. There is a limit (contact z distance below 0.01 causes the interface to be ignored even if I set minimum layer height to 0 or 0.001), but the setting definitely has an effect.

To state the obvious, the issue here is that this isn't about minimum layer heights, but about support-to-model Z distance separation (which itself isn

[2018-03-15 22:35] Squid116 opened #797 "Feature Request: Fan on for n layers above overhang/bridges."
Printing in PETG I have observed that the a bridge will print perfectly due to the bridging fan settings, however when it prints the next layer the bridge begins to sag - due to the heat retention and transfer properties of PETG.  You can get around this and print nice bridges by having the fan always on, but that impacts the rest of the part's strength - so is not ideal.  If there was an option t

[2018-03-16 08:55] bubnikv commented on #744
I suppose your report is a duplicate of one of the following: https://github.com/prusa3d/Slic3r/labels/supports

Most likely https://github.com/prusa3d/Slic3r/issues/102 and https://github.com/prusa3d/Slic3r/issues/612

May I close this issue as a duplicate?

[2018-03-16 10:02] tuxmobil opened #798 "Add vase mode to the settings modifiers"
### Version
1.39.1

### Operating system type + version
Win10

### Feature Request
I'm looking for a way to start a print with regular perimeters etc. and then change to vase mode
at a specific height. My understanding is that the settings modifiers would be the way to
apply those changes to an object in general, but vase mode is not offered as a setting there.

Changing from vase mode back to reg

[2018-03-16 11:04] comps commented on #744
Reading through them, the issue seems similar, but not really the same. However if you believe a possible fix would be the same for both, sure, close the issue.

[2018-03-16 12:37] #784 closed

[2018-03-16 12:43] bubnikv commented on #730
This has been fixed with https://github.com/prusa3d/Slic3r/commit/efeda3dcdcd8fc83dbbe9c93e4a959c1254a68be
and it will be part of Slic3r PE 1.40.

[2018-03-16 12:43] #730 closed

[2018-03-16 17:37] #177 closed

[2018-03-16 18:15] dartrax commented on #781
Where exactly do I have to unzip the slic3r-destdir-64.7z to?
I now have:
[code]
Is that correct? It looks like it can't find anything of that.
I'm getting:
[code]

[2018-03-16 18:34] bubnikv commented on #781
You have to update the perl distribution according to
https://github.com/prusa3d/Slic3r/blob/master/doc/How%20to%20build%20-%20Windows.md
, or just update C:\wperl64d\cmdline.bat to:

set PATH=%PATH%;c:\wperl64d\site\bin;c:\wperl64d\bin
set PERL_CPANM_HOME=c:\wperl64d\cpanm
set SLIC3R_STATIC=1
set CMAKE_PREFIX_PATH=C:\local\slic3r-destdir-64\usr\local
"C:\Program Files (x86)\Microsoft Visual Studi

[2018-03-16 21:08] dartrax commented on #781
I already did that. I looked into cmdline_init.bat and noticed the Path C:\local\slic3r-destdir-64\usr\local\. Therefore, I concluded that I have to unzip slic3r-destdir-64.7z in such a way that this path exists.
Still the same, something is missing...

[2018-03-17 05:51] Patronics commented on #788
OK, after updating boost (and installing ExtUtils::Typemaps and ExtUtils::XSpp based on other error messages), the make completes successfully, however the next step in the directions, running `ctest --verbose` gives the following error:
`2: /usr/bin/perl: symbol lookup error: /home/pi/Slic3r/t/../local-lib/lib/perl5/arm-linux-gnueabihf-thread-multi-64int/auto/Slic3r/XS/XS.so: undefined symbol: _Z

[2018-03-17 06:04] BlazingAngel665 opened #799 "3D render window running slowly after windows update"
### Version
1.386.6-win64

_Use `About->About Slic3r` for release versions_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
Windows 10.0.16299.309

### Behavior
* _Describe the problem_
When the software opens, it runs very slowly as long as any of the 3D render window tabs are selected

[2018-03-17 08:57] bubnikv commented on #781
[code]

This is not quite correct, it should be
[code]

[2018-03-17 09:04] bubnikv commented on #788
Seemingly a wrong boost library is being loaded. You may try your luck with
compiling the dependencies statically. We currently use the following
process on our Linux build server to collect and compile static
dependencies:

https://github.com/prusa3d/Slic3r/blob/master/doc/deps-build/unix-static/Makefile

Don't forget to set
export SLIC3R_STATIC=1
export CMAKE_PREFIX_PATH=$DESTDIR/usr/local
when

[2018-03-17 09:06] bubnikv commented on #799
This issue has been worked around in the last official release.
https://github.com/prusa3d/Slic3r/releases/tag/version_1.39.1

Please report whether the Slic3r update helped. Thank you,.

On Sat, Mar 17, 2018 at 7:04 AM, Charlie Garcia <notifications@github.com>
wrote:

[2018-03-17 16:00] LaserBee commented on #750
Hi again. Here's the data I can provide you. It was only an XYZ test cube,
but Slic3r estimated 22:30, and the actual print time was 29 minutes. Both
the bed and the nozzle were pre-heated, so that is actual print time.

Gcode, stl, config.ini incuded and Marlin Configuration.h files are
included.

On Wed, Mar 14, 2018 at 6:57 PM, bubnikv <notifications@github.com> wrote:

<https://www.avast.com/s

[2018-03-17 17:51] ManuelMcLure commented on #750
I don't know if this will help since it's not a Prusa machine, but this file was estimated at 12:59:33 and took about 14:50 to print.
Machine is physically an Anet A8 with the motherboard replaced with an Arduino 2560 + RAMPS 1.4, running bog-standard Marlin 1.1.8.
[PrintTime.zip](https://github.com/prusa3d/Slic3r/files/1821905/PrintTime.zip)

[2018-03-17 18:12] Sebastianv650 commented on #750
Just for info, current marlin has a similar, but most likely not equal planner compared to prusafw.

[2018-03-17 20:00] Patronics commented on #788
I managed to fix the problem, and didn’t need to compile the dependencies statically. It turned out the problem was that since make had succeeded in compiling around half the files before getting to the one it failed at, once I updated boost to 1.66 and ran make again it didn’t recompile the already made files from the old boost version. Deleting the build directory and redoing the procedure from

[2018-03-18 04:52] Patronics opened #800 "Feature Request: Show the estimated time of a print when slicing, before save/export"
### Version
N/A

### Behavior
* _Describe the problem_
When slicing a file, it Slic3r does not show the estimate of how long the print will take until you export the gcode.
* _Steps needed to reproduce the problem_
Slice a model
* _Expected Results_
Slic3r displays the estimated duration of the print with current settings when the "Slice now" button is pressed
* _Actual Results_
Slic3r does not sh

[2018-03-18 08:15] dartrax commented on #781
Thanks for spotting that!
It‘s working now, I can start it in VS2013 and it even stops at breakpoints and I can view variable values. That will help debugging and polishing my preferred-seam-location feature :)

[2018-03-18 10:07] bubnikv commented on #750
@LaserBee You did not manage to attach the files.

Such a huge error most likely indicates an incorrect Slic3r configuration.

@ManuelMcLure

That is about 11% of time difference. Unfortunately you test on a machine, which we do not own, so we cannot verify your experiment. I would rather wait for data indicating discrepancies on our machines, where we could pin-point the cause easier.

[2018-03-18 10:30] LaserBee commented on #750
I've double checked that I have put those acceleration, jerk, &c settings
in correctly. I have the four lines at the top of my starting gcode. What
other configurations might contribute to this?

On 18 Mar 2018 10:07 am, "bubnikv" <notifications@github.com> wrote:

[2018-03-18 11:34] govido commented on #792
I have also problems with slicing errors in the new stable build 1.39. 1.37 and 1.38 worked more reliably. Is there already a precompiled alpha or is self-compiling of version 1.40 needed?

[2018-03-18 12:04] bubnikv commented on #750
Do you have the firmware flavor set to Marlin in Slic3r PE?

On Sun, Mar 18, 2018 at 11:30 AM, LaserBee <notifications@github.com> wrote:

[2018-03-18 12:08] bubnikv commented on #792
Would you please post the models?

Some of the fixes we did may break other models. Luckily for 1.40 we are integrating some more intelligence to work around a wider set of model errors.

[2018-03-18 12:14] LaserBee commented on #750
Yup! Firmware is marlin. And I haven't changed anything else really except
the usual temperature and layer settings.

On 18 Mar 2018 12:05 pm, "bubnikv" <notifications@github.com> wrote:

[2018-03-18 12:46] govido commented on #792
![image](https://user-images.githubusercontent.com/12106056/37565930-6b93aecc-2ab2-11e8-9583-628ba8f82e80.png)

[extruder_test.zip](https://github.com/prusa3d/Slic3r/files/1822650/extruder_test.zip)

Hope this helps

[2018-03-18 12:48] Lyr3x commented on #480
Any news on this? Would really appreciate this feature 👍

[2018-03-18 13:01] bubnikv commented on #480
We are looking into something like this. We are currently collecting requirements, as of which parameters to allow overriding inside the filament profile.

[2018-03-18 13:03] bubnikv commented on #792
@govido
It looks to me with the current alpha. More test cases are appreciated.

[2018-03-18 13:12] govido commented on #792
![image](https://user-images.githubusercontent.com/12106056/37566201-48591862-2ab6-11e8-9666-63c9c3443121.png)
Found another model from an abandoned project with similar behavior.
[carriage module test.zip](https://github.com/prusa3d/Slic3r/files/1822672/carriage.module.test.zip)

[2018-03-18 13:18] govido commented on #797
+1
I think this would be especially great for printing very thin layers beyond 0.15mm. these overhangs tend to curl an sag down very often. Also an option to spin the fan x-seconds in advance would be great. Depending on how long the fan needs to get up to 100% speed.

[2018-03-18 14:25] bubnikv commented on #792
So far so good with the latest alpha.

On Sun, Mar 18, 2018 at 2:12 PM, govido <notifications@github.com> wrote:

[2018-03-18 18:39] grigorig opened #801 "Add "reset to preset" button"
### Version
1.39.1

### Behavior

When I play around with the settings, I often encounter the situation that I want to go back to a "clean slate", i.e. the current preset. It looks like this isn't easily possible right now, or at least not easily accessible. As a work around, I usually select a different preset and then switch back to the other preset again. But this is a bit annoying.

I think it

[2018-03-19 08:01] bubnikv commented on #801
Interestingly enough, we are working on a richer feature than that. We are introducing user presets / system presets concept, and there will be an "undo" button for returning to a system preset value or your saved value, all nicely color coded. Stay tuned :-)

[2018-03-19 08:02] bubnikv commented on #801
This is something @YuSanka is working on at the front end and @vojtechkral at the backend.

[2018-03-19 09:15] daktylus commented on #800
+1  !!

It is annoying if you want to tweak the print time and have to save the gcode every time to see the effect of your changes.

Simple Solution: This would simply be possible with saving the gcode in a temporary file every time it is sliced.

[2018-03-19 09:24] kwaad2 opened #803 "Feature Request: Guide Holes in object when cut"
Requested Feature: When you cut an object in two, allow the option to put "pins" that will cut out guide holes that are perfectly aligned to both sides of the cut part.
Pin could be simply a length of filament, or possibly even "user determined" diameter, length, and number of guide pins.

The problem
* After cutting an object it can be sometimes difficult to align them up perfectly when you are r

[2018-03-19 09:28] bubnikv commented on #803
I am afraid this is quite an advanced feature, which will not be implemented any time soon.

Why don't you use the MeshMixer or Fusion360 or any other CAD for this?

[2018-03-19 09:36] kwaad2 commented on #803
I am not very good with Fusion 360, and I have yet to work with MeshMixer. (It's something that I plan on learning to do though)
I only posted it here (no hurry), as I thought it would be a good feature for an amateur with little to no experience with the advanced software. It would also be a bit of a stand-out feature (to me at least), as I don't know of anything that can do this in a "user frien

[2018-03-19 13:44] bubnikv commented on #530
We were not able to reproduce this issue and there was no response from the issuer, and we were not provided the source data to reproduce this bug due to licencing issues. Closing.

[2018-03-19 13:44] #530 closed

[2018-03-19 15:38] #448 closed

[2018-03-19 15:39] bubnikv commented on #448
The repeated G1 Fxxx entries are now filtered with https://github.com/prusa3d/Slic3r/commit/ebf0ef48f148cbbaa50674492ea0790147ed982d.

[2018-03-19 18:50] hbogs commented on #475
@supermerill Nice :) Maybe open up a PR and see if its possible to get it merged upstream?

[2018-03-20 01:44] rongith commented on #790
The same here with Solidworks, nVidia M4000 and slic3r. I need to see what happens next time the issue occur.

[2018-03-20 03:37] triplepoint commented on #800
There was a discussion at some point of encoding the print time and material usage estimates into a structured-data comment at the top of the exported gcode, such that it could be read by an octoprint plugin or the printer itself to display more accurate estimates.

It seems like if we generated these estimates before exporting the gcode file, it would be a lot easier to insert these comments.

Th

[2018-03-20 10:16] FidelCapo commented on #750
@sepotvin
I tried to print your gcode on our MK3 printer and the total print time was 15H 44M, which is a bit less than the estimate of your slicer which was 16H 10M 33S. Did you print from an SD card or, for example, over an octoprint? In prints over octoprint, there may be differences in estimated time and real-time printing. Did you try using a different SD card?

[2018-03-20 10:23] bubnikv commented on #475
We will discuss this feature internally first. The general rule is to try
to keep the number of parameters low, so we need to justify adding another
parameter.

On Mon, Mar 19, 2018 at 7:50 PM, Håkon <notifications@github.com> wrote:

[2018-03-20 10:26] FidelCapo commented on #750
@ManuelMcLure I tried to print your STL with your configuration on our MK2 printer and the total print time was 13H 3M, which is a bit less than the estimate of slic3ru which was 12H 59M. Unfortunately, I do not have the opportunity to test this case on the same printer as yours (Anet A8).

[2018-03-20 13:33] PaulKlinger commented on #800
The estimates are already included in the gcode, at the end of the file.

[2018-03-20 15:39] LaserBee commented on #750
Another attempt to attach the files!

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.com
<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
<#DAB4FAD8-2DD7-40BB-A1B8-4E2AA1F9FDF2>

On Sun, Mar 18, 2018 at 10:07 AM, bubnikv <notifications@github.com> wrote:

[2018-03-20 21:42] ManuelMcLure commented on #750
Fair enough - I'll have to see if I can figure out what's slowing things down on my printer. It could be OctoPrint since that's what I use to control the printer. I'm not getting any skips/layer shifts so I don't think it's that the printer can't physically achieve the speeds/accelerations specified in the file, but I don't notice any stuttering either.

[2018-03-20 21:54] bubnikv commented on #750
It is quite possible, that OctoPrint does not quite keep up with the
printer. In that case the Marlin firmware slows down the print artificially
to avoid stuttering. As long as OctoPrint keeps up somehow, the printer
slow down is smooth, therefore not obvious.

On Tue, Mar 20, 2018 at 10:42 PM, ManuelMcLure <notifications@github.com>
wrote:

[2018-03-21 22:58] sepotvin commented on #750
@FidelCapo
I'm printing via the SD Card that came with the printer. I tried with a different one and got the same result. The only setting I changed (except for the Z tuning) is the Stealth mode. Would using Stealth mode increase the print time?

[2018-03-23 03:33] sindjinn opened #805 "Stops and extrudes, visualization errors"
### Version
1.39.1-prusa3d-win64
Win10

While printing the "heatbed-cable-cover.stl" the printer stops in the middle of hole and extrudes a lot of filament.   The amount of material reaches up to the top of the nozzle (possibly more, I stop it).  I believe this is an error in the slicing.

Things I have tried:
-  0.20 and 0.16 layer heights
-  different orientations for the parts
-  printed on dif

[2018-03-23 07:04] jonbet83 opened #806 "Under extrusion after layer change/travel/retraction"
### Version
1.39.1

I'm getting under extrusion after layer change/retraction/ travel move. nothing seems to resolve it.

Even with no retraction enabled the layer Z seam is there but straight after is slight under extrusion which leaves an imperfection visible to the eye compared to the layer above or below. Model run fine in S3D without this happening.

Extra restart/de-retraction speeds didn't

[2018-03-23 08:56] FidelCapo commented on #805
@sindjinn Thanks for the report. I've tested your print settings and found the settings that caused it.

In print settings - Flow - Brigde flow ratio: You have set 90 (The correct setting is 0.8)

I suppose you wanted to enter 90%, but this setting does not allow you to enter percent.
In future print settings, we'll adjust this parameter so that the maximum value that can be entered is 2.

[2018-03-23 08:56] #805 closed

[2018-03-23 14:40] #666 closed

[2018-03-23 23:53] jneilliii commented on #791
I can confirm I have this issue as well with latest 1.39.1 windows x64 release.

![image](https://user-images.githubusercontent.com/5249455/37857700-bfeb5cca-2ed3-11e8-8058-3fec2d29b036.png)

[2018-03-24 00:01] jneilliii commented on #791
I just did a little testing and by changing the name, saving the print settings, and then putting it back and saving the print settings again, it appears to be working again. Until I restart the program.  Once I restart the program the error returns.

[2018-03-24 23:44] jneilliii commented on #791
Some additional information.  This seems to only be an issue if there are more than one filename tokens.  If you only have 1, then restarting the application does not make the error reoccur.

[2018-03-24 23:48] jneilliii commented on #791
Acually looks like it might be a specific issue with [filament_preset} token.  I tried a couple of different ones, like [input_filename_base]_[hour]_[minute].gcode and that works without issue as well.

[2018-03-25 00:27] sindjinn commented on #805
Thank you so much for your help!!  Indeed, I thought that was a percentage.

[2018-03-25 23:34] supermerill opened #807 "No bridge if no solid bottom layer if zero bottom layers configured"
### Version : master
(ok on 39.1)
### Operating system type + version
windows 10 home

### Behavior
Seems like the bridge area is merged into the normal one. Anyway, it's not sliced correctly anymore.

#### STL/Config (.ZIP) where problem occurs
39.1 beta:
![bridge_39 1](https://user-images.githubusercontent.com/6536403/37881274-cc9a35fe-3095-11e8-891a-15a2874b6a7d.png)

branch master:
![bridge_ma

[2018-03-26 07:44] sarf2k4 opened #808 "[Bug] Overhang Threshold Adjustment Crash due to Background Processing restart"
### Version
1.39.1

### Operating system type + version
Win 10 64bit

### Behavior
Adjusting the Support>Overhang Threshold eventually crash the slicer if the value is too low. I've tested several times with part 3 of the model below ranging between 10-15' in an increment of 1', the slic3r kept crashing and had to reload the slic3r.

Same goes for part 2, changed to 4' from the default 45', slicer

[2018-03-26 07:47] bubnikv commented on #808
It may really be connected to the background processing. I just reviewed
how the background processing is implemented and there are ugly race
conditions. I am currently rewriting the background processing part.

Are you able to reproduce the crash with background processing disabled?

On Mon, Mar 26, 2018 at 9:44 AM, sarf2k4 <notifications@github.com> wrote:

[2018-03-26 07:51] sarf2k4 commented on #808
@bubnikv, I'm unable to produce the same crash/problem if I were to turn off "background processing". Even with the same value I inserted to produce the crash when "background processing" were turned on, and same model too

[2018-03-26 08:07] bubnikv commented on #808
Thanks. I will concentrate my efforts to fix the background processing
then. There are quite some number of issues connected with the background
processing and the background processing cancellation (which happens when
you delete an object from the plater and the calculation is running for
example).

On Mon, Mar 26, 2018 at 9:51 AM, sarf2k4 <notifications@github.com> wrote:

[2018-03-26 08:28] sarf2k4 commented on #808
I'm no advanced programmer, but maybe you could add a bit of delay before the background processing starts to do its job after a parameter has been changed probably around 1 second or adjustable delay perhaps?

[2018-03-26 09:46] FidelCapo commented on #807
Thanks for the report. I can not reproduce your issue. Can you please send your configuration file (File - Export config) so I can find the cause of the problem? Thank you

[2018-03-26 09:53] FidelCapo commented on #806
@jonbet83 I'm sorry, but I donť have enough data to try to reproduce your problem. Please send me STL and config files (File - Export Config) and what printer model do you have. Thank you

[2018-03-26 10:26] jonbet83 commented on #806
Hi,

Thanks for the reply, I have some pictures and ill post the Gcode file.

![img_5935](https://user-images.githubusercontent.com/36709357/37900938-9937911e-30e7-11e8-9d5f-927b7f2c4c1d.jpg)
![img_5933](https://user-images.githubusercontent.com/36709357/37900939-994e68e4-30e7-11e8-800c-77a21924d8d7.jpg)

Its a MK3 with latest firmware.

The problem isn't limited to that file its been happening wi

[2018-03-26 10:28] jonbet83 commented on #806
[GITHUB.zip](https://github.com/prusa3d/Slic3r/files/1847412/GITHUB.zip)

Heres the other files, sorry for the lack of detail in the first instance :)

[2018-03-26 12:29] FidelCapo commented on #806
@jonbet83 Can I ask about the kind of filament you used to print with this configuration? Because of the temperature in the configuration it does not look like PLA.

[2018-03-26 12:59] jonbet83 commented on #806
Hopefully I’ve exported the correct one, it’s the first time I’ve exported a config, it was printed in Prusa PLA, 215 nozzle first layer with 210 after and a heated bed at 60. It was the material that was provided with the printer.

Also if there’s any doubt with the files I sent, I was using the default profiles provided in slic3r PE for a mk3 afterwards with the exact same results.

To rule out

[2018-03-26 21:38] LaserBee opened #809 "Feature request: Overhang Speed Settimgs"
I'm not sure how to phrase this right (or even if this is the right forum)...

I can only get clean overhangs if I print much slower than the 60mm/s I normally do. So if I have a model with lots of overhangs, I have to print the whole thing slowly (including all the bits where speed isn't an issue).

Would it be possible to include a setting where I can slow it right down *only* while doing overha

[2018-03-26 22:38] supermerill commented on #807
@FidelCapo i forgot to try an other config, as it's almost the standard one. It happens when you set the number of solid bottom layer to 0.

[2018-03-26 23:10] jonbet83 commented on #806
Apologies  for the mistake, please see the correct config export.

[MK3_config_new.ini.zip](https://github.com/prusa3d/Slic3r/files/1849838/MK3_config_new.ini.zip)

[2018-03-27 13:03] ir-fuel opened #810 "Sequential printing: Order of objects not known"
### Version

1.39.1-beta1

### Operating system type + version
macOS 10.12.6

### Behavior

I tested it in 2 different ways. One was duplicating an imported object, second one was importing 2 stl files.

Print settings >> Output options >> "Complete individual objects" is checked, yet after slicing in the `Preview` window I can see that both objects are printed as if the checkbox was not checked.

[2018-03-27 14:07] bubnikv commented on #810
The G-code is correct, just the preview does not display the lines by time, but by layers.

[2018-03-27 16:59] Sebastianv650 commented on #809
This one becomes requested more often I think. See #767

[2018-03-28 00:36] vernieg opened #811 "Export G-code takes a very long time - unusual behavior"
### Version
1.39.1-prusa3d

### Operating system type + version
macOS HighSierra 10.13.3 (17D102)

### Behavior
* _Describe the problem_
Consistently takes a very long time to generate the gcode on some models with layer editing done on some layers.

* _Expected Results_
It should only take seconds, it doesn't even take a minute for most.

* _Actual Results_
Several minutes, feels like forever but

[2018-03-28 07:44] FidelCapo commented on #807
@supermerill This is an unusual combination of settings and object. You have 4 solid top layers, 0 solid bottom layers and 20% infill. Slicer does not have to do (and do not do) bridges at all because it has no bottom solid layers. What you see in the first layer as "bridge" is the first top solid layer. If you set the top solid layers to 2, you will see that this first layer "bridge" will only be

[2018-03-29 06:54] f0lie opened #812 "Wildly incorrect print times for Makerbot firmware"
### Version
1.39-1

### Operating system type + version
Manjaro Linux 17.1.7

### Behavior
* Wildly incorrect print times with Makerbot firmware
* Change the firmware to Makerbot, slice, and export g-code to see the problem. I was trying to print the centering cone with a flat base from [a stand-alone spool holder.](https://www.thingiverse.com/thing:508896). The problem goes away if I use Marlin f

[2018-03-29 12:47] enricoturri1966 commented on #812
This issue should be fixed by: https://github.com/prusa3d/Slic3r/commit/bf295b903968d75845bc9898fa880e2b91e4121d

[2018-03-29 12:48] vernieg opened #813 "Missing middle layers on Preview - 1.39.1-prusa3d-linux64"
### Version
1.39.1-prusa3d-linux64

### Operating system type + version
Linux Mint 18.3 Sylvia, 4.16.0-999-lowlatency #201803282203 SMP PREEMPT Thu Mar 29 02:09:31 UTC 2018 x86_64 x86_64 x86_64 GNU/Linux

### Behavior
Preview with missing middle layers.

![screenshot from 2018-03-29 20-44-39](https://user-images.githubusercontent.com/37242799/38089456-0d3f10a8-3392-11e8-80b4-f056fb281ad6.png)

###

[2018-03-29 12:59] enricoturri1966 commented on #813
I have tried this model with our latest alpha and it gets sliced properly by it.

[2018-03-29 13:04] bubnikv commented on #813
@FidelCapo Please add this model to our test set.

[2018-03-29 15:33] Stoffies opened #814 "Feature request: Recategorise Compensation Variables"
### Version
1.36.2

_Is this a new feature request?_
Yes
Is it possible to put "Elephant Foot Compensation" and "XY Size Compensation" setting under Filament Settings -> Advanced -> Filament Properties ? Shrinking coefficients are mostly material dependant and thus would be more of use in this category. Not going to make a "ABS" and "PLA" setting in "Print Setting tab, because that's what the "Fil

[2018-03-29 23:07] pinkpiggy opened #815 "[BUG] 200% extrusion width is applicated only on first object on buildplate"
### Version
Slic3r 1.37.2 - Prusa (maybe the newer ones as well, didnt try)

### OS
Hackintosh (Mac OSX El Capitan)

### Printer
Rebelix X2

### Behavior
2 simple objects on single buildplate (XY_Idler from Hypercube) in a same time printed different width of first layer. My own settings for first layer extrusion width is 200% of first layer height 130% of layer height 0.2mm. It is not visible fro

[2018-03-30 07:55] jgastonraoul commented on #792
I've some sort of similar problem with a model...
![capture d ecran 2018-03-27 a 16 19 32](https://user-images.githubusercontent.com/204580/38129624-1837e84a-3400-11e8-8282-f3ec34d1cc09.png)

@bubnikv Can you tell me if the problem is the same with the latest alpha ?

[poignee droite27.stl.zip](https://github.com/prusa3d/Slic3r/files/1863012/poignee.droite27.stl.zip)

[2018-03-30 11:33] BETLOG commented on #752
I only just now realised I forgot to mention that.
I concur that it is related, and anomalous.

[2018-03-31 04:27] Itox001 opened #816 "Errors and missing layers on preview when slicing from Repetier Host"
### Version
Slic3r PE 1.39.1

### Operating system type + version
Windows 7 64 bit

### Behavior
When slicing Benchy (yes, the good old benchy) I get missing layers in the Repetier Host 2.0.5 preview, and lots of messages saying "Unable to close this loop having X points" in the console. It looks like this:
![image](https://user-images.githubusercontent.com/25753956/38159508-fcbf73e6-3466-11e8-98d

[2018-03-31 07:28] cnqdlcq opened #817 "It seems the multi-color is limited to 4 extruders, and the smart wipe tower doesn't work. can you remove it or increase it to 10 or more? thanks."
### Version
_Version of Slic3r used goes here_

_Use `About->About Slic3r` for release versions_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
_What OS are you using, and state any version #s_

### Behavior
* _Describe the problem_
* _Steps needed to reproduce the problem_
  * _If thi

[2018-03-31 18:59] dtandersen opened #818 "Quality of life: Custom gcode editor"
* CTRL-A should select all in custom gcode text boxes
* Tool tip should be moved from the text box to the label so it doesn't cover text box

[2018-03-31 22:52] manuel-binpar opened #819 "[Feature request] Support material: generate on print only"
Hello folks

As it sounds, I would like to know if you can consider to build an option to select where the support material will be printed on. I'm using a lot of TPU and support material generated on the build plate is not useful in certain cases.

Thank you and keep the good work!

[2018-04-01 22:02] JoschaMiddendorf opened #820 "Bug: Tiny gap gets ignored and replaced with infill."
### Version
1.39.1-prusa3d

### Operating system type + version
macOS High Sierra 10.13.4 (17E199)

### Behavior
* _Describtion the problem_
  * _Slic3r is just generating infill where a gap should be._
* _Steps needed to reproduce the problem_
  * _slice this [part](https://gumroad.com/l/OxKwn)_
* _Expected Results_
![image](https://user-images.githubusercontent.com/19818109/38177895-08ff3392-360

[2018-04-02 15:24] Panayiotis-git commented on #818
The tooltip could also be moved to an (i) icon next to the field.
Also, if there are a lot of lines in the text box, it shouldn't scroll to the top when we switch to another window and then return back.

[2018-04-03 07:10] FidelCapo commented on #792
@jgastonraoul This model sliced ok with the latest alpha.

[2018-04-03 07:16] jgastonraoul commented on #792
@FidelCapo Thanks for the test.
Is there a way to download this alpha (for Mac) somewhere or do I have to build it by myself ?

[2018-04-03 11:55] dartrax commented on #752
Today I got this ;)

![image](https://user-images.githubusercontent.com/15105943/38247760-a3d110ea-3746-11e8-883a-aaf9fffeb820.png)

[2018-04-03 15:34] dartrax commented on #810
I had the same effect today, assuming that it was a fault of slic3r while indeed it generates GCode correctly. Second, gcode.ws does not show a sequential preview also, even if "sort by Layer Z" is unticked.
So, while a sequential gcode preview would be very nice (S3D has it), a hint that is not visible in preview could be added to the tooltip in the meantime.
Is there a way to check in what order

[2018-04-03 15:48] bubnikv commented on #810
hint that is not visible in preview could be added to the tooltip in the
meantime.

Which tooltip? The "sequential print"?

important to avoid collisions.

No, there is currently no way. They are printed in the order they are added
to the platter.

I believe the mainline Slic3r has a way to visualize and change the order,
we may implement something similar in 1.41.

On Tue, Apr 3, 2018 at 5:34 PM,

[2018-04-03 15:56] dartrax commented on #815
Sure that it is a problem with GCode? The generated GCode of first layer left and right are looking identical (same color, color = extrusion mm per move mm) in gcode.ws
Is the distance between nozzle and build plate equal?

![image](https://user-images.githubusercontent.com/15105943/38260576-3cce1682-3768-11e8-892f-2c71d14d6743.png)

[2018-04-03 16:55] supermerill commented on #787
As i understand, the overlap just increase the area to fill.
If you want to implement a fix, it should be done by the filling algorithm (only rectilinear is used for solid infill. If fact redesigning the functionality entirely, a big job.

[2018-04-03 18:02] dartrax commented on #810
The "Complete individual objects:"-Tooltip.

[2018-04-03 18:31] pinkpiggy commented on #815
@Dartrax
the distance between nozzle and build plate is pretty equal. I did measurement before print and everything was ok. As well as when i print 1 bigger object (or even smaller on the position of the second object), everything is fine. Only possibility i see is Slic3r OR repetier firmware (i am using 0.91)

[2018-04-03 21:57] fgardt opened #822 "[Feature Request] Add more changeable settings to object settings"
### Version
1.39.1-prusa3d

### Operating system type + version
MacOS 10.13.3

### Behavior
So we can change quite a lot of stuff in the object settings already, but it would be awesome to be able to change even more.

<img width="733" alt="bildschirmfoto 2018-04-03 um 23 40 43" src="https://user-images.githubusercontent.com/17144010/38277913-66c0b8d2-379a-11e8-92dc-bb993657051d.png">

Currently o

[2018-04-04 09:04] #812 closed

[2018-04-04 09:25] daktylus commented on #818
+1

[2018-04-04 23:23] spa1428 opened #823 "Post-processing script launches another instance of Slic3r and throws invalid file type error"
### Version
1.39.1-prusa3d-win64
### Operating system type + version
Windows 10 Home edition

### Behavior
I have a perl script defined in Post-processing scripts section of the Output options that calls GPX.exe to create the .x3g file.  When I click on Export G-Code, the .gcode file is created and I see "Running post-processing scripts..." in the status bar.  However, instead of GPX running, a ne

[2018-04-05 05:04] foreachthing opened #824 "Gyroid not filling this model correctly"
### Version
1.3 dev Slic3r (_not_ Prusa!)

### Operating system type + version
Windows 7 x64

### Behavior
(According to @supermerill I am to report this issue here)

- Load part attached
- Load config
- Switch to Layers tab and observe infill:
![image](https://user-images.githubusercontent.com/10420187/38347887-7ff1d7c8-389e-11e8-8c2f-6a8ca0b96eee.png)
  - Infill missing in red area

Expected: "s

[2018-04-05 05:11] foreachthing opened #825 "Gyroid does not respecting Overlap setting"
### Version
1.3 dev Slic3r (_not_ Prusa!)

### Operating system type + version
Windows 7 x64

### Behavior
(According to @supermerill I am to report this issue here)

- Load part attached
- Load config
- Switch to Layers tab and observe infill OVERLAP.

Expected: "same" infill and overlap settings as Cubic:
![image](https://user-images.githubusercontent.com/10420187/38348068-f40fdef6-389f-11e8-8d2

[2018-04-05 08:41] vojtechkral commented on #824
Yes, we've observed the issue as well. I believe it is fixed by 4611b5094e87c93faf95d36a2690ec232dc5e962 in Slic3r PE master.

[2018-04-05 08:41] #824 closed

[2018-04-05 09:08] foreachthing commented on #824
Ok ... thanks!
Now: how can I get this to slic3r/Slic3r?
Or, how can I get a working Windows version of Slic3rPE with this fix? I'm not allowed to install all the required software to compile it myself...

[2018-04-05 09:34] bubnikv commented on #824
It is just the line 77 of
https://github.com/prusa3d/Slic3r/commit/4611b5094e87c93faf95d36a2690ec232dc5e962
Easy fix, single word typo.

On Thu, Apr 5, 2018 at 11:08 AM, Gilbert <notifications@github.com> wrote:

[2018-04-05 15:37] v-mat opened #827 "compiling in OSX"
### Version
1.38.5 and 1.39.1

### Operating system type + version
OSX 10.12.6

### Behavior
Have been trying to compile slic3d with no luck. Following instructions on:

https://github.com/slic3r/Slic3r/wiki/Running-Slic3r-from-git-on-OS-X

Getting stuck at "BOOST_DIR=~/boost_1_64_0 SLIC3R_STATIC=1 perl Build.PL".  This seems to run fine, but when I invoke "perl slic3d.pl", I'm getting this messag

[2018-04-05 16:43] vojtechkral commented on #827
That wiki page is likely to be out of date. I'll have a look and try to help...

[2018-04-05 18:04] v-mat commented on #827
Thanks for the quick reply. I've kept digging, but haven't made much progress. I've also tried to compile with cmake (by running "cmake .. -DCMAKE_BUILD_TYPE=Release"),  but this ends with "-- Configuring incomplete, errors occurred!".  Here are some the error messages shown:

"Imported targets and dependency information not available for Boost version"
"Unable to find the requested Boost librarie

[2018-04-05 20:40] v-mat commented on #827
Thanks bubnikv. I'm afraid "export SLIC3R_STATIC=1" didn't help with the BOOST issue, but "cmake .. -DBOOST_ROOT:PATHNAME=~/boost_1_64_0/" seems to have taken care of it.

Now I'm running into the following:

"Could NOT find TBB (missing: TBB_LIBRARIES) (found version "2017.0")"

I actually don't see a /lib under my /tbb, nor in https://github.com/wjakob/tbb...

[2018-04-05 20:52] bubnikv commented on #827
https://github.com/wjakob/tbb...

You have to build tbb first.

On Thu, Apr 5, 2018 at 10:40 PM, v-mat <notifications@github.com> wrote:

[2018-04-05 22:00] v-mat commented on #827
Oops, you're right. I've just built it with brew (couldn't find how to with cmake) and set the environment variables as you said above. I'm still running into the same error though, i.e.:

"Could NOT find TBB (missing: TBB_LIBRARIES) (found version "2018.0")"

If I do have to compile with cmake, could you please share how?

[2018-04-05 22:21] Patronics opened #828 "Feature request: Add "Hybrid Sequential Printing" for when some objects are too tall"
### Version
Slic3r PE 1.39.1 (not really relevant)

### Operating system type + version
MacOS (not really relevant)
### Behavior
* _Describe the problem_
When slicing multiple objects where some (but not all) are taller than the extruder clearance, slic3r should offer to slice them such that it still prints as many of the short objects as possible sequentially, then moves on to print the taller on

[2018-04-05 22:25] scalablecory commented on #828
It seems a better feature would be more dynamic: print as much of an object as clearance would allow before moving to the next one. This way all the small ones would be printed perfectly, while the large one would print some millimeters at a time.

[2018-04-06 02:05] Patronics commented on #828
@scalablecory that would be interesting! My intuition says that might risk creating seams when it transitioned to another object for a while, before going back to the now much cooler object. I don't have a ton of experience with 3D printing yet though, so that intuition may very well be wrong, in which case that sounds like a good technique.

[2018-04-06 05:58] yschroeder opened #829 "Feature Request: More/other buttons for rotations"
More often than not, I design my own models. The STL export of my CAD program always exports the way I designed my model and this often does not match the best print orientation.

Then, I have to rotate my models 180° around X (or Y) because the are upside down (sometimes only 90°). There are very few cases where I need to rotate my model in 45° steps around Z and yet these are the only buttons th

[2018-04-06 06:38] bubnikv commented on #829
@enricoturri1966 will rework the 3D scene manipulators in the Slic3r PE 1.41.
@YuSanka will provide a UI panel for manipulating the object transformation matrix in a similar fashion to PrusaControl.

[2018-04-06 06:47] bubnikv commented on #827
To build tbb statically, just

unpack https://github.com/wjakob/tbb
go to the tbb directory
create a build directory
change to the build directory
run
cmake .. -DTBB_BUILD_SHARED=OFF -DTBB_BUILD_TESTS=OFF
-DCMAKE_POSITION_INDEPENDENT_CODE=ON

That should be all to it.

On Fri, Apr 6, 2018 at 12:00 AM, v-mat <notifications@github.com> wrote:

[2018-04-06 15:38] ctilley83 opened #830 "OSX edit box keyboard shortcuts interfering with program initialization"
### Version
1.39.1-prusa3d

### Operating system type + version
Mac OS X 10.13.4

### Behavior
Upon a clean install of slic3r PE, if you have any keyboard shortcuts on your system, it does not ignore them. So when slic3r is initializing the "Custom G-Code" portion of the software, if you have a keyboard shortcut "S0" or "T0" it populates the text you have assigned to those shortcuts.

[Here is a s

[2018-04-06 22:20] workshopninja opened #831 "Triangle mesh slicing bug"
Prusa Edition - 1.39.1

MacOS 10.10.5

My STL files seem clean in the 3D render but some holes have a layer put on top in the gcode preview.

![screen shot 2018-04-06 at 15 24 17](https://user-images.githubusercontent.com/38145276/38446775-baa770f6-39ae-11e8-8740-0fbe2342a79f.PNG)
![screen shot 2018-04-06 at 15 24 06](https://user-images.githubusercontent.com/38145276/38446776-bad20bc2-39ae-11e8-8

[2018-04-07 00:36] nerocide commented on #791
As far as my last build from **master branch** (**version_1.40.0-alpha-285-gc6623bb2**), it works like a charm now.

Any confirmation?

[2018-04-07 10:58] stelgenhof opened #832 "Inconsistent color usage"
### Version
version_1.40.0-alpha-389-gd4af06e6

### Operating system type + version
Arch Linux

### Behavior
The color assigned to the various text labels are not consistent. (See attached screenshot).

![slicer_colors](https://user-images.githubusercontent.com/529544/38454208-b7bdc1e8-3a9d-11e8-872c-d80d2e32e6b5.png)

For example the labels "Color", "Diameter" have a dark color, while "Extruder"

[2018-04-07 13:44] BETLOG opened #833 "[REQUEST] boot and idle fan speed"
Most fans have a minimum PWM required before they will begin spinning from no rotation.
However if a fan is already spinning it will continue to do so with extremely low PWM frequency. Usually much lower than required to motivate it from a stationary condition.

Adding the options below would enable the user to use significantly lower fan speeds.

* "boot" duration (ms)
Number of milliseconds the

[2018-04-09 12:49] vojtechkral commented on #832
Hi, thanks for the report.

This should be now fixed by 388deb71ab5d03116ef5ec1266c39eea8fb51520 .

[2018-04-09 12:52] #832 closed

[2018-04-09 14:10] stelgenhof commented on #832
@vojtechkral Thanks for the quick fix! I'll have a look tomorrow to see how it looks like.

Cheers! Sacha

[2018-04-09 18:29] Patronics opened #834 "Crashes (Segmentation Fault?) when slicing large, complex STL"
### Version
1.39.1

### Operating system type + version
MacOS 10.13.3

### Behavior
* _Describe the problem_
Slic3r crashes when slicing this detailed globe file (included in the zip).
* _Steps needed to reproduce the problem_
import globetest1_north.stl into slic3r, clicking OK when it offers to scale it down to fit the bed. Click slice.
* _Expected Results_
it slices the file successfully.
* _Ac

[2018-04-09 18:46] Patronics commented on #834
Additional experimentation reveals that with this remeshed to 90,000 triangles (with meshmixer) version of the file [globetest1_north_reduced_tris_90k.stl.zip](https://github.com/prusa3d/Slic3r/files/1891290/globetest1_north_reduced_tris_90k.stl.zip) It will successfully slice the file at the default scale it reduces it to after importing, but will immediately crash like before if I slice it after

[2018-04-10 02:29] stelgenhof commented on #832
@vojtechkral Compiled it and I can confirm it is fixed. Looks good!
Thanks again for the quick fix.

[2018-04-10 09:01] vojtechkral commented on #832
@stelgenhof Great, thanks for testing!

[2018-04-11 16:50] EvilGTV commented on #813
I've just figured something strange out - I've been having trouble with slicing a couple of things, most annoyingly the cover for the Drakon extruder where it just wanted to fill in the dragon logo.  Also I had the same problem slicing Benchy inside Repetier as someone else here, and then I came across this dice file here while looking and I had the same problem as the OP.

But this is where thing

[2018-04-11 17:03] EvilGTV commented on #816
Try this:  Go into the slicer manager in Repetier Host, and add to the end of your path to Slic3rPE executable: --gui

so you should have:

C:\whatever directory\Slic3r-1.39.1-prusa3d-win64-full-201803010855\slic3r-console.exe --gui

Doesn't matter if you use console or noconsole, worked on both for me.

If it works, perhaps you could post a note here, where I've replied to another post:
https://g

[2018-04-12 02:58] mer2329 opened #835 "feature request: add skirt and brim settings to object settigns"
first i want to thanks all contributors for their work on slic3r PE.

and also a feature request
i would like to set skirt and brim options per object.
for example if im printing both a tall thin object and a wide object at the same time, i would like to set the thin object to be able to use a brim and the wide object to not use a brim.

[2018-04-12 03:14] ntsarb opened #836 "Feature request: Select the regions where support material rule should be applicable"
Hi,

This is a feature request. In some cases, support material is required only for particular features of an object. For example, in a particular design, I don't want to use support material below a particular layer, while it is needed from that layer up to a certain other layer.

It would be very useful to be able to select the regions of an object, wherein support material should be used (acco

[2018-04-12 06:29] workshopninja commented on #831
Sweet,

Thanks a lot.

Isaac gollan
workshopninja@gmail.com

[2018-04-12 11:34] supermerill commented on #836
If you use a modifier mesh
http://slic3r.org/blog/modifier-meshes
, specify an impossible overhang threshold (so no support for the object)
and set a good overhang threshold for the modifier mesh
Will it work?

[2018-04-12 11:44] bubnikv commented on #836
Sorry, this will not work.

I plan to work on supports in the 1.41 version, we hope to implement some support editing.

[2018-04-12 12:58] tkircher commented on #820
It's not really a bug. Features below a certain size are ignored on purpose.

[2018-04-13 08:36] cerdeira commented on #836
That would be really great!

[2018-04-13 11:14] zoff99 commented on #751
also support is outside of the object (in X and Y direction). like on the image above.
very strange. sometimes it will create support on top of a top layer, which can not even work.

[2018-04-13 12:00] enricoturri1966 commented on #834
This issue should be fixed by: https://github.com/prusa3d/Slic3r/commit/359e7e4d32225d485c36c4733ba9f3847d5c80b5

[2018-04-13 13:50] BerndiDasBrot commented on #816
I had the same problem. It worked for me.

[2018-04-13 16:39] bubnikv commented on #834
The fix will be part of Slic3r PE 1.40. Closing.

[2018-04-13 16:39] #834 closed

[2018-04-15 10:42] hyperair opened #837 "slic3r-prusa 1.39.1 reports that it is 1.39.0"
### Version

1.39.1

### Operating system type + version

Ubuntu 17.10

### Behavior

SLIC3R_VERSION in libslic3r.h in https://codeload.github.com/prusa3d/Slic3r/tar.gz/version_1.39.1 is defined as `1.39.0`, which causes the wrong version to show up in the about dialog and generated gcode files.

[2018-04-15 22:57] manuel-binpar opened #838 "[BUG] Slic3r keeps warning about Detect Bridging perimeters if disabled"
### Version
1.39.1

### Operating system type + version
Windows 10

### Behavior
* _Describe the problem_
Slic3r keep warning about enabling "detect bridging perimeters" if disabled and "generate support material" is enabled.
* _Steps needed to reproduce the problem_
In "Print settings: Layer and perimeters", disable "detect bridging perimeters AND keep enabled "generate support material"
* _Expec

[2018-04-16 06:45] sej7278 commented on #800
I noticed it doesn't even show the time when you export the gcode - you have to export it a second time for it to work. Its always in the file though - is it reading the value back from the file or something stupid?

Debian Sid.

[2018-04-17 00:40] Itox001 commented on #816
When I do that, Repetier reverts to using the default Slic3r PE 1.36.2 for some reason. If I remove the --gui option, then it uses 1.39.1. Weird. Any ideas?

[2018-04-17 04:04] EvilGTV commented on #816
You're right - I hadn't noticed that, since I hadn't actually specifically checked the version number in the config window inside Repetier.  So setting --gui somehow makes it completely ignore the path you've set, which seems rather stupid.

And no, I have no idea!

[2018-04-17 07:09] maxdarkdog opened #840 "layer number in preview"
### Version
Slic3r-1.39.1-beta1-prusa3d-win64-full-201802221543

### Operating system type + version
Win7 Ultimate 67bit

### Behavior
I think there is a big need to add a "layer number" indicator on the slice preview.

Why:
I use a post processing Script to do multicolor prints as the one here (and many more i did with another slicer)
![28576844_10212782870979239_5743448981779236083_n](https://us

[2018-04-17 07:12] bubnikv commented on #840
Actually there is a macro processing language in Slic3r PE
https://github.com/prusa3d/Slic3r/wiki/Slic3r-Prusa-Edition-Macro-Language

Not the most user friendly option, but with the Slic3r 1.38.5, you can now use the custom layer change G-code for that purpose. For example, the following line will trigger the color change action when changing to Z=5.2:

{if layer_z==5.2}M600{endif}

There may be

[2018-04-17 13:04] #240 closed, assigned to nobody

[2018-04-18 07:28] bubnikv commented on #830
Unfortunately this is a feature of the wxWidgets UI toolkit, which Slic3r uses.
We would have to patch the wxWidgets library on OSX to disable the macro expansion. Actually we did that already once for the "beautification" of punctuation characters, but to do it once again requires quite some effort.

So one day we will fix that, but I am not sure whether we will manage it in 1.40.

[2018-04-18 07:30] bubnikv commented on #817
You should be able to enter the number manually using the keyboard. Does it work for you?

[2018-04-18 07:33] bubnikv commented on #811
@FidelCapo Would you please verify this problem? Thanks.

[2018-04-18 07:53] bubnikv commented on #809
Duplicate of #767, closing.

[2018-04-18 07:53] #809 closed

[2018-04-18 07:56] bubnikv commented on #807
@supermerill What should be the expected behavior? Do you expect Slic3r to produce bridges even if you have zero bottom layers configured?

[2018-04-18 08:00] bubnikv commented on #806
We have investigated similar issue recently. It seems that our Slic3r profiles have the lower threshold of the "cooling slow down" set too aggressively, and reducing the print speed too aggressively leads to these issues. Will the print improve if you print multiple copies of the object at once? Printing multiple copies of the object at once will extend the time to print a single layer over the co

[2018-04-18 08:02] bubnikv commented on #801
It will be part of the upcoming 1.40 beta, closing.

[2018-04-18 08:02] #801 closed

[2018-04-18 08:03] bubnikv commented on #800
We will implement automatic export of G-code in 1.41. Unfortunately it will not be part of the upcoming 1.40 beta yet.

[2018-04-18 08:05] bubnikv commented on #799
No response, and likely this issue has been fixed with 1.39.1. Closing.

[2018-04-18 08:05] #799 closed

[2018-04-18 08:09] bubnikv commented on #792
@FidelCapo Please add this model to our test database.
This issue will be fixed in the upcoming 1.40 beta. Closing.

[2018-04-18 08:09] #792 closed

[2018-04-18 08:12] bubnikv commented on #778
This is something to be possibly implemented in 1.41, where we plan to rewrite this piece of code from Perl into C++.

[2018-04-18 08:27] bubnikv commented on #732
See
https://svn.boost.org/trac10/ticket/10900
https://svn.boost.org/trac10/ticket/11873
https://svn.boost.org/trac10/ticket/11057
https://svn.boost.org/trac10/ticket/9016
https://svn.boost.org/trac10/ticket/5649

We will likely wait for the Boost guys to fix it.

[2018-04-18 08:28] bubnikv commented on #748
Unclear proposal, no response, closing.

[2018-04-18 08:28] #748 closed

[2018-04-18 10:46] blithe74 commented on #732
Hi dear!
The original slic3r do not have this problem.
For solution a problem, You can assemble special version for me, which will show on display some debugging information, and  I  send  screenshots to you.

С уважением, Александр Шуковилов

[2018-04-18 10:47] bubnikv commented on #732
This is interesting. I suppose the Prusa Slic3r has this code already
converted from Perl to C++.

Thanks for your offer, but I believe I can debug your issue myself.

On Wed, Apr 18, 2018 at 12:46 PM, blithe74 <notifications@github.com> wrote:

[2018-04-18 12:51] blithe74 commented on #748
I apologize that so long couldn't respond to your last letter.
I understand that the algorithm of calculation of amount of plastic is very difficult. But You can't consider the fluidity and parameters of glue for each plastic. With certain values of a stream and step I printed ideal filling of the top layer, but at the same time the perimeters and the infill had a bad filling. If I printed the ide

[2018-04-18 13:00] blithe74 commented on #732
The hint..., in original slic3r everything works properly. May be they used a another API function?
My offer for debuging stay as actual.

Excuse me for my English...

С уважением, Александр Шуковилов

[2018-04-18 13:13] supermerill commented on #807
@bubnikv yes. I see no adverse effect.
I was messing a bit with bottom /bridge layer on my side, and discover that. It's detected as bridge because it's over nothing but somehow, it doesn't translate to a bridge behavior.
If you don't have the time to mess with it, i can look a bit more into that. Depends if you agree with it or not.

[2018-04-18 17:30] bubnikv commented on #698
@rongith By the way, do you get the same issue with 1.39.1? We changed this part of code from Perl to C++, so maybe your issue has already been solved.

[2018-04-18 17:30] bubnikv commented on #705
@enricoturri1966 Didn't you fix this issue already?

[2018-04-18 19:56] rongith commented on #698
Sorry not to answer quickly to your first request. For now I don't have the use of 100+ print settings anymore as I have done some cleanup and I use to keep Prusa settings as legacy settings for reference but your settings has decreased a lot this year. But in a near future I will go again to more than 100 print settings.
I just checked I can now select all print settings that are in the folder wh

[2018-04-18 19:56] #698 closed

[2018-04-18 21:30] porlock opened #841 "underexrusion patern on wals"
### Version
Slic3r-1.39.1-prusa3d-win64-full-201803010855

### Operating system type + version
Windows 10 64bit

### Behavior
I get stange underexrusion  patern on wals where layer stars, i try almost everything

1) lowering retraction and detraction speed
2) Inceasing extruder stepper courrent
3) inceasing extruder spring tension

[problem.zip](https://github.com/prusa3d/Slic3r/files/1925874/prob

[2018-04-18 21:36] jonbet83 commented on #806
@bubnikv So i set up 9 of the cute little bunnys and let the print run, it did indeed fix the problem i was seeing. so thanks.

It does lead me to the question is the only way to stop this happening by disabling the min layer time or is there a fix coming?

i remember when i was looking at the gcode analyser the external perimiter was printed faster than the inside even with a slower external prin

[2018-04-19 00:55] BManx2000 opened #842 "Cut tool causes gcode export dialog to default to Slic3r executable directory"
### Version
1.39.1-prusa3d-win64

### Operating system type + version
Windows 10

### Behavior
When I use the cut tool on a model, the export gcode dialog opens on the location of the slic3r executable (C:\Program Files\Prusa3D\Slic3rPE). It should open on the location of the original STL file like it normally does.

_Is this a new feature request?_
No

[2018-04-19 06:37] enricoturri1966 commented on #705
Yes, this issue should be fixed by https://github.com/prusa3d/Slic3r/commit/659eb3412b132350bafad6a9c8fd74feaa5560fd

[2018-04-19 07:31] bubnikv commented on #705
Closed with 659eb34, it will be part of the upcoming 1.40.

[2018-04-19 07:31] #705 closed

[2018-04-19 19:09] dereulenspiegel opened #843 "Missing layers/gap in model causing print fails"
### Version
1.39.1

### Operating system type + version
macOS 10.13.3

### Behavior
I am trying to slice a model from Thingiverse (https://www.thingiverse.com/thing:2787282). Unfortunately at a height of 23.2mm I get a gap in the model. At first I thought that this is probably a preview problem, but the actual print failed at exactly this part of the model. The model may be problematic so I tried

[2018-04-19 21:30] N4rki commented on #720
Hi bubnikv, sorry for not getting back; that message whether it worked now for me somehow slipped through the cracks. I just cloned the newest master and followed the instructions in the guide.
Building via Visual Studio work fine but when I run it, I get an error and perl exits with code 255 (0xff). It says:
[code]
I get the same error though when I try to run via `perl slic3r.pl`.

I'm not in ne

[2018-04-20 06:42] stelgenhof commented on #837
I can confirm this as well. For the development branch version, it would be nice to indicate this is a development version.

[2018-04-20 07:59] brendjord commented on #843
i had similar problem with a fan shroud i tried to print.
i fixed it with turning of "detect thin walls". maybe this will work for you to :)

[2018-04-20 08:01] bubnikv commented on #843
@FidelCapo Would you please check this?

[2018-04-20 08:06] dereulenspiegel commented on #843
@brendjord Thanks for the hint, but the problem persists wether I turn on or off the option "Detect thin walls". Although this time I didn't try to print it, but in the preview the layer ist still missing, so I guess it won't print anyway.

[2018-04-20 08:33] cerdeira commented on #843
In my opinion its a problem with the model it self.
To thin wall?
Simplify3d also shows problems when slicing it.

[2018-04-20 09:36] dereulenspiegel commented on #843
Ok, but for me as a user I want to have either one of two things:
* Slice the model as Cura does and create printable gcode
* Warn me about a problem with this model making it obvious for me that the generated gcode is probably not printable

Currently the only feedback I get with such models is my printer creating spaghetti :)
So even if this model is problematic/broken I still see a bug or at le

[2018-04-20 13:32] DanyboyInSwitzerland opened #844 "ChangeRequest - move settings to where they belong"
### Version
_1.39.1-prusa3d-win64_
### Operating system type + version
Win10Pro, Version 1709, OSbuild 16299.371

### Behavior
Feature/Change request
Printing-speeds are heavily depending on the material. However, the speed-settings are within the print-settings, where procedural aspects and geometries are defined, like how many perimeters, what type of infill, etc. All Settings, that are not depe

[2018-04-20 13:49] EvanWise opened #845 "First layer extrusion width changes not being applied to support material"
### Version
_Version of Slic3r used goes here_
1.39.1-prusa3d-win64
_Use `About->About Slic3r` for release versions_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
_What OS are you using, and state any version #s_
Windows 10 Pro 64 bit
### Behavior
* _Describe the problem_
Previously h

[2018-04-21 02:45] stelgenhof opened #846 "Sliced Info and Info exceed view port (partly invisible) on Plater UI"
### Version
`git rev-parse HEAD`: 987ef3730a9ef43244022013829e8aeb2cc501e5

### Operating system type + version
Arch Linux (Kernel: 4.15.15-1-ARCH)

### Behavior
The Sliced Info and Info information exceeds the view port size on Plater UI. The view port is not scrollable so part of the information is invisible (See screenshot).

![screenshot from 2018-04-21 11-40-04](https://user-images.githubuser

[2018-04-21 12:23] stelgenhof opened #847 "'Undo' icons rendered poorly"
### Version
`git rev-parse HEAD`: 987ef3730a9ef43244022013829e8aeb2cc501e5

### Operating system type + version
Arch Linux (Kernel: 4.15.15-1-ARCH)

### Behavior
When changing some settings of your presets, an 'undo' icon appears but is rendered poorly making it hard to see. (See screenshot, top and Hostname field example)

![screenshot from 2018-04-21 21-10-34](https://user-images.githubuserconte

[2018-04-21 16:33] tomseffect opened #848 "Feature Request: ramp up layer cooling fan over X layers (or X seconds)"
one of the main problems i am still encountering with slic3r PE, even after a lot of tuning - is the "elephant foot" caused by too much cooling (even with the e3d v6 silicone sock and ~30% cooling), especially if perimeters are printed before the infill.
what i end up doing, to avoid this elephant foot, is (tediously) manually "ramping up" by sending an M106 command of increasing values (increasin

[2018-04-21 16:36] Itox001 commented on #843
Are you slicing directly from slic3r's platter or using repetier? I get the same issue on 1.39.1 even with benchy when slicing from repetier host.

[2018-04-21 16:49] kfazz commented on #843
i'm hitting this same bug, using repetier host. the version of slic3r pe included with repetier (1.36.2-prusa3d-64) doesn't have this bug. 1.39.1 does. i was able to reproduce the failure on several different models.

The attached zip contains the stls & scad i currently have this problem with.
[Prusa_i3_MK2_Clone_Extruder_for_8_12_18_mm_sensors_and_MK8_Hobbed_Pulley_1_Screw_better_cable_loop_edit

[2018-04-21 18:32] LarsTT commented on #843
Just joining in here. I'm having the same problem when trying to print these:
https://www.thingiverse.com/thing:2410748

Slic3r Prusa Edition, Version 1.39.1-prusa3d-win64
I've checked the generated G-code in both Repitier Host and S3D.
However S3D slices them without problem, both slicers are set with the same manual extrusion width.

![slicer problem -s3d succes](https://user-images.githubuserco

[2018-04-21 21:00] kfazz commented on #843
just confirming that the missing layers seen in the preview affect the gcode as well. I tested the previous release, version 1.38.5-prusa3d-64. It does not have the issue, and I was able to correctly slice the stls i was having a problem with.
Also, i was able to make a correct file fail by changing the $fn value in the scad, specifically, changing "$fn= n" to "$fn = 360" in polyholes.scad. That c

[2018-04-22 09:44] dereulenspiegel commented on #843
I am using Slic3r Platter.

[2018-04-22 13:53] ghost opened #849 "Skirt / Brim generation is not respecting table operating size"
### Version
1.39.1-prusa3d

### Operating system type + version
macOS 10.13.4 (17E199)

### Behavior
Skirt / Brim generation is not respecting table operating size

If object is placed very near to table edge, brim and/or skrit is generated outside table, hence gcode also instructs printer to print outside operational dimensions.

[2018-04-22 13:55] karek314 opened #850 "Slic3r does not limit height of objects"
### Version
1.39.1-prusa3d

### Operating system type + version
macOS 10.13.4 (17E199)

### Behavior
Slic3r does not limit height of objects in respect of printer config.

[2018-04-22 22:44] vernieg commented on #843
#813  is a similar issue.

[2018-04-23 06:46] enricoturri1966 commented on #752
This issue should be fixed by: https://github.com/prusa3d/Slic3r/commit/f8b1dc550685a8ca76c4d7a810151eabf08db2c1

[2018-04-23 06:48] enricoturri1966 commented on #850
Out of print volume detection (taking in account also the height) has been introduced starting with: https://github.com/prusa3d/Slic3r/commit/bdd2d725c83fca0d3a84f19cf9ae25ce2525cbb9

[2018-04-23 08:58] YuSanka commented on #847
@stelgenhof , Thank you for your report. It's fixed in https://github.com/prusa3d/Slic3r/commit/9a1dbfa6cf4fbef9c9ad92972f23aa246c9d6701. Quite soon it will be in master branch.

[2018-04-23 14:30] repetier commented on #816
I made some tests as I'm currently updating slicers in Repetier-Host. The problem is not the --gui parameter, it is handling of the model. When you slice over host model gets exported as uncompressed amf file, which I also attached here, and that model gets the errors.

It gets also the same errors if I add the amf file directly in slic3r, but if I use the original benchy it works. On the other si

[2018-04-24 13:59] rongith opened #851 "External perimeters not along external model shape"
### Version
_Version of Slic3r used goes here_
1.39.1

### Operating system type + version
Windows 10 x64

### Behavior
I try to get nice small pulley but the external perimeter profile does not match what I would like. Here 3 tries.

- Left: Slic3r without "External perimeters first". Profile not good.
- Center: Slic3r with "External perimeters first". Profile good but seems not good.
- Right: Cu

[2018-04-24 16:34] vojtechkral commented on #650
No response for a long time, closing. Feel free to comment further if needed.

[2018-04-25 04:17] mvasilakis opened #852 "Purge Lines don't respect z-offset value"
### Version
1.39.1-prusa3d

### Operating system type + version
Mac OS 10.13.4

### Behavior

Slic3r generated g-code doesn't respect Z offset for purge lines

Set Z offset, slice model, print. Any purge lines created before the model print starts will print at the live z setting and not respect slic3r z-offset.

Not command-line slicing issue_

When a purge line is drawn I expect it be at live-z

[2018-04-25 07:27] Tirpitz93 commented on #650
because my printer is behind basic authentication before it even gets to the octoprint api authentication. AFAIK the only thing that would be required is sending authentication headers in the requests already being made.

[2018-04-25 09:13] bubnikv commented on #806
This topic is similar to https://github.com/prusa3d/Prusa-Firmware/issues/602
and we are currently reworking the cooling logic.

[2018-04-25 09:14] bubnikv commented on #536
We have found that the current cooling logic does indeed cause a lot of issues with our i3 MK3 printer, see  prusa3d/Prusa-Firmware#602 , and we are currently reworking the cooling logic.

[2018-04-25 09:16] bubnikv commented on #841
I suppose you are printing the inner perimeters before outer perimeters, you also have the inner perimeter speed higher than the outer perimeter speed, and you have the cooling slow down enabled.

We are currently dealing with a similar issue. Normally the inner perimeters are printed faster than the outer perimeters, so you usually end up with a blob at the external perimeter, when the pressure f

[2018-04-25 09:26] jonbet83 commented on #806
I can see where the confusion is between this and some of the issues on 602 but this is a totally different problem (which your aware of the fix so it’s all good on this) 602 seems no further forward unfortunately

[2018-04-25 09:42] bubnikv commented on #806
@jonbet83

I cannot make sense of it.

[2018-04-25 10:35] jonbet83 commented on #806
I don’t think anyone can tbh, it must be as frustrating for us as it you at prusa, I know there’s loads of idea being bounded around, what’s your thoughts on it all?

[2018-04-25 10:55] karek314 commented on #850
For which version of release is it planned to include https://github.com/prusa3d/Slic3r/commit/bdd2d725c83fca0d3a84f19cf9ae25ce2525cbb9

[2018-04-25 11:02] bubnikv commented on #850
Slic3r PE 1.40. We are reaching an internal alpha as of now.

On Wed, Apr 25, 2018 at 12:55 PM, Unhandled Exception <
notifications@github.com> wrote:

[2018-04-25 12:51] #850 closed

[2018-04-25 17:59] rongith commented on #844
It is apparently already under study: https://github.com/prusa3d/Slic3r/issues/480
And Alexrj implemented an override feature for 1.3.0 milestone: alexrj#3643 in original Slic3r.

[2018-04-26 02:28] ccfoo242 opened #853 "Sliced model has big gap in it"
### Version
1.39.1-prusa3d-win64

### Operating system type + version
Windows 10

### Behavior
Slice MainBody.stl from [https://www.thingiverse.com/thing:2844119](url)
Big gap in part of it. Tried with Cura 3.3 and it slices correctly.
If you rotate on its side it slices correctly.

#### STL/Config (.ZIP) where problem occurs
![slicerproblem](https://user-images.githubusercontent.com/6061719/39282

[2018-04-26 06:59] DanyboyInSwitzerland commented on #844
Hello rongith,
Oh, so obviously despite browsing and looking for I did not see it... My bad...
Thanks for the reply!
And please keep up the work!The only problem I really have are the supports - otherwise it's a great piece of software! :)
Cheers,Daniel
-------- Ursprüngliche Nachricht --------Von: rongith <notifications@github.com> Datum: 25.04.18  19:59  (GMT+01:00) An: prusa3d/Slic3r <Slic3r@no

[2018-04-26 07:13] redangel1984 commented on #853
I observed the same issue but only with version 1.39.1 here are two of
model is:
https://www.thingiverse.com/thing:847941

and used the same settings on both versin with different result(see below):
[Slic3r_PE_config_0.3mm_ini.zip](https://github.com/prusa3d/Slic3r/files/1950073/Slic3r_PE_config_0.3mm_ini.zip)

1.39.1
![slic3r_pe_1 39 1](https://user-images.githubusercontent.com/6376213/39290855-4

[2018-04-26 07:35] bubnikv commented on #853
@FidelCapo Please retest with 1.40-alpha and put the model into our set of test objects. Thanks.

[2018-04-26 10:06] porlock commented on #841
is there any workaround to this issue ? should i print external perimeter first ?

[2018-04-26 10:33] redangel1984 commented on #853
I thought the issue might be the key ring, but after splitting the model, the layers are still missing:
![GitHawk Upload by redangel1984](https://i.imgur.com/iHn65hQ.jpg)

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2018-04-26 12:47] mvasilakis commented on #853
@bubnikv is 1.40-alpha pre-compiled?

[2018-04-26 13:16] bubnikv commented on #853
We don't really want to share the alphas, but there will likely be a public
beta released in a week or two.

On Thu, Apr 26, 2018 at 2:47 PM, mvasilakis <notifications@github.com>
wrote:

[2018-04-26 13:17] bubnikv commented on #841
No, but you can print either multiple copies of the object at once, or you
may disable the cooling slow down, or you may lower the infill and inner
perimeter speeds close to the outer perimeter speed.

On Thu, Apr 26, 2018 at 12:06 PM, porlock <notifications@github.com> wrote:

[2018-04-26 13:36] mvasilakis commented on #853
@bubnikv I figured as much but since you mentioned it above I figured I'd ask. Looking forward to the beta 😃

FWIW I had a similar break in a lithophane made from 3dp.rocks and mesh corrected in mesh mixer. It displayed fine on screen unlike OP's but the g-code was split in 2 parts and floating in thin air about 20 mm behind the model at the correct z height.

I unchecked Ensure vertical shell thi

[2018-04-26 13:55] ccfoo242 commented on #853
@mvasilakis  I did try detect thin walls, which helped with this problem on a different model, but it didn't change this one. Haven't tried the other options.

[2018-04-26 14:24] mvasilakis commented on #853
@ccfoo242 I had to remove those options to fix the model in my case. If they're not selected then one of those is not the issue. Possibly just a similar problem caused by a different reason.

[2018-04-26 14:47] monoverse opened #854 "OctoPrint upload does not show error message when host address given w/o port number"
### Version
slic3r: 1.39.1-prusa3d-linux64
octoprint: 1.3.8
### Operating system type + version
Ubuntu 16.04.4

### Behavior
* _describe the problem_
OctoPrint upload wrongly states that an upload was successful but file does not show up in OctoPrint when ip address given for octoprint server does not include the port number (default: 5000)
* _Steps needed to reproduce the problem_
  in Slic3r und

[2018-04-26 15:36] bubnikv commented on #854
@vojtechkral Is it working in 1.40-alpha now? Thanks.

[2018-04-27 08:44] stelgenhof commented on #847
Thanks @YuSanka ! By any chance, was the 'develop' branch removed?

[2018-04-27 09:00] vojtechkral opened #855 "Incorrect slicing of a fractal-like model"
### Version
Current 1.40 alpha, 1.39.2

### Operating system type + version
Current Arch Linux

### Behavior

Gaps are being enclosed from above by other layers.

![z1](https://user-images.githubusercontent.com/424891/39354121-ec98e318-4a09-11e8-84be-f6ceb63beb44.png)

#### STL/Config (.ZIP) where problem occurs

The STL is generated by OpenSCAD 2015.03-3 using the following code:

[code]

[2018-04-27 09:46] vojtechkral commented on #854
@monoverse In the upcomming release the Octoprint support has been re-done from scratch and should work better. According to my tests, this sort of error should be meaningfully reported, as well as incorrect API keys. We just haven't released it yet, sorry about that, we're in the process of stabilization of other larger features... Please stay tuned.

[2018-04-27 12:15] YuSanka commented on #847
@stelgenhof , we use "updating" branch for development integration now.

[2018-04-28 02:50] #371 closed

[2018-04-28 17:41] porlock commented on #841
i disable cooling slow down but it does not help, shout i do all things you metnion at the same time ?

[2018-04-28 17:46] dartrax commented on #342
I've uploaded an updated compiled version for Win 64bit on my release page:
https://github.com/dartrax/Slic3r/releases/tag/version_1.40.0-alpha

[2018-04-28 18:08] loudaslife commented on #727
I ran into this same problem and was quite annoyed, so I managed to compile a version that removes this arbitrary restriction. In `xs/src/libslic3r/Print.cpp` I commented out the following lines:

    if (this->regions.size() > 1)
        return "The Spiral Vase option can only be used when printing single material objects.";

Compiling with these lines disabled fixes the issue and allows me to us

[2018-04-28 23:12] porlock commented on #841
unfortunately version 1.39.2-beta helps nothing in my case :(
![img_20180429_010818167](https://user-images.githubusercontent.com/18246301/39401642-6155c4aa-4b4a-11e8-81ed-67721ff21f6a.jpg)

[2018-04-29 21:04] Itox001 commented on #816
Tested the new 1.39.2 beta, problem still persists.

[2018-04-30 22:00] ir-fuel opened #856 "Fan speed not changed when printing in MMU mode on material change"
Never mind. Seems fan is turned off with M107. Was only looking at M106 commands in the gcode file ...

[2018-04-30 22:31] #856 closed

[2018-05-01 09:40] vojtechkral commented on #855
@FidelCapo STL file:
[recur-bug-2.stl.zip](https://github.com/prusa3d/Slic3r/files/1963436/recur-bug-2.stl.zip)
(pretty much any configuration)

[2018-05-01 10:44] bjku96 opened #857 "Visual Studio XS Project incomplete"
### Version

Slic3r Prusa Edition 1.39.1

### Operating system type + version
Windows 7 64bit

### Behavior

Hello,
I'm trying to build slic3r with Visual Studio 2013. I did everything described in this tutorial:
 https://github.com/prusa3d/Slic3r/blob/master/doc/How%20to%20build%20-%20Windows.md
When I use Nmake to compile it, everything works fine and slic3r can be launched via Perl.

The Proble

[2018-05-01 13:07] Tirpitz93 commented on #650
This has nothing to do with octoprint. In my setup basic authentication is managed through HAProxy, then I log in to octoprint again. which I manage through SSH. This means that octoprint continues to serve on plain http on the loopback IP and only the "secure" https haproxy faces the internet.

[2018-05-01 16:38] vojtechkral commented on #650
@Tirpitz93 Yes, I understand. Maybe the best solution would be the ability to add arbitrary http headers.

[2018-05-01 19:49] tracernz commented on #650
That's a rather peculiar setup. What I have done is install https://github.com/OctoPrint/OctoPrint-ForceLogin. So users must login to access anything through the web interface, but the API key still works for Slic3r etc. It does feel rather fragile relying on a plugin to load to enable auth requirement, and the default Octoprint setup is quite woeful in a number of ways in terms of security, compl

[2018-05-02 07:12] vojtechkral commented on #650
Well, perhaps the proxy serves other purposes as well. Although I still think even then it would be better to have the proxy verify the API key rather than using the basic auth. I'm not very keen on an explicit support for basic auth, since it would be interface-wise confusing with Octoprint login, but we could add support for it via arbitrary http headers, which might be useful for other reasons

[2018-05-02 07:16] vojtechkral commented on #857
@bjku96 Which Perl bundle are you using? Do you have either `wperl64`, `wperl64d`, or `wperl32` directory in your `C:\`?

I think the bug is that in the MSVC props file I only added an entry for `wperl64d` and forgot the others. Will fix.

[2018-05-02 09:31] Tirpitz93 commented on #650
This seams to be a relatively common set up  AFAIK,
it is documented here: https://printoid.net/access-octoprint-from-the-internet/  as well as in other places.
This one odes mention the authkey in the config, but I haven't had a chance to test that set up.
https://github.com/foosel/OctoPrint/wiki/Setup-on-a-Raspberry-Pi-running-Raspbian

[2018-05-02 10:35] ir-fuel opened #858 "Printing time calculation completely wrong"
### Version

1.39.1-beta1-prusa3d

### Operating system type + version
macOS 10.12.6

### Behavior

Running a Prusa i3 mk2s MMU print, it tells me the estimated print time is 8h 31m, but my printer does it in approx 3h

#### STL/Config (.ZIP) where problem occurs
[config.ini.zip](https://github.com/prusa3d/Slic3r/files/1966871/config.ini.zip)
<img width="1383" alt="screen shot 2018-05-02 at 12 33

[2018-05-02 11:04] vojtechkral commented on #857
@bjku96 Hopefully the above commits should fix the problem. Would you be so kind as to re-test with the two above commits (they're in `master`)? You'll have to re-generate the Visual Studio files.

[2018-05-02 12:10] Tirpitz93 commented on #650
I agree that https should be used. and in my case is. but that guide had a helpful diagram to illustrate the setup.

[2018-05-02 15:27] bjku96 commented on #857
**@vojtechkral**  So, to make sure that there is nothing else wrong with my slic3r-files I cloned them again from git, executed build.pl  and the cmake command. (This time with wperl64 )
The XS-Project is still incomplete. (XS.cpp is missing).
I already used wperl64**d**  before and had the same problem.
I dont know if it has something to do with this but when Build.PL tries to install all depende

[2018-05-02 15:57] BirkBinnard opened #860 "Missing layer"
### Version
1.39.2 Beta

### Operating system type + version
Windows 10/64

### Behavior
Slicing resulted in what looks like 1 missing layer and 1 over-thick layer. This object is the egg from https://www.thingiverse.com/thing:2887652 scaled up to 200% size

![egg](https://user-images.githubusercontent.com/27872327/39534513-98dc80d2-4de6-11e8-9c2d-21d24b08dd46.jpg)

#### STL/Config (.ZIP) where pr

[2018-05-03 03:14] ManuelMcLure opened #861 "Small bits of support are generated where there is nothing to support."
### Version
1.39.1-prusa3d-win64

### Operating system type + version
Windows 10 64 bit

### Behavior
* _Describe the problem_
Small bits of support material get generated where there is nothing to support
* _Steps needed to reproduce the problem_
Slice the attached STL with the attached config.
* _Expected Results_
Support only generated where it's supposed to be (under the hexagonal cutouts belo

[2018-05-03 03:33] dharris2112 commented on #547
Sorry for the long delay on feedback.

I tried the batch file variation based on #514 but that had no effect. I tried this on the latest version: Slic3rPE-1.39.2-beta.

Thanks

[2018-05-03 10:05] stelgenhof opened #862 "Contents of the GCode fields are not visible"
### Version
1.40.0
git rev-parse HEAD: 20d9bda87e8a8e83a6a9c905120156180d5e935d

### Operating system type + version
Arch Linux 4.16.5-1-ARCH

### Behavior
The contents of the gcode fields in the "Printer" tab are not visible. I have created a printer preset based on the system MK2S preset. Even the start/end gcode fields of the system preset are not visible.

If I try typing in on of these fields

[2018-05-03 10:50] ichbinscheisse commented on #817
Yes, entering the number by keyboard works and wipe tower includes those color.

With a certain amount of colors the wipe tower will exceed the print bed dimensions.
Could the wipe tower start a new row as soon as the end of the print bed is reached?

[2018-05-03 11:18] stelgenhof commented on #847
@YuSanka In the latest master branch (20d9bda87e8a8e83a6a9c905120156180d5e935d), the icons looking superb now!

[2018-05-03 11:18] #847 closed

[2018-05-03 11:31] stelgenhof opened #863 "Crash when reducing copies in 2D/Previews/Layers windows"
### Version
1.40.0
git rev-parse HEAD: 20d9bda87e8a8e83a6a9c905120156180d5e935d

### Operating system type + version
Arch Linux 4.16.5-1-ARCH

### Behavior
When reducing the number of copies in the main 'Plater' window, while in either the 2D, Previews or Layers windows, Slic3r terminates with the following error message:

`Can't call method "set_selected" on an undefined value at lib/Slic3r/GUI/3

[2018-05-03 11:53] YuSanka commented on #862
@stelgenhof , Thanks again :) This bug is fixed https://github.com/prusa3d/Slic3r/commit/af4e0308ae63149a5bc7bcf69b67d0967c7900b2

[2018-05-03 12:52] stelgenhof commented on #862
@YuSanka Thanks for the quick fix! Confirm it has been resolved.

[2018-05-03 12:52] #862 closed

[2018-05-03 14:09] enricoturri1966 commented on #863
The crash should be fixed by https://github.com/prusa3d/Slic3r/commit/dd4669d1a0c86e80a3aac55f4633872aba051553

[2018-05-04 05:26] Jonny-Cache opened #864 "3D and Preview Windows not rendering correctly"
### Version
1.39.0

### Operating system type + version
Ubuntu 18.04

### Behavior
3D and Preview windows only rending in the bottom left quadrant of the screen.
Likely a HiDPi vs Linux issue (running on a 4k monitor, Slic3r runs fine on the same screen in Windows 10).

![screenshot from 2018-05-03 23-23-04](https://user-images.githubusercontent.com/7664715/39613955-17367332-4f29-11e8-800a-df3d5af

[2018-05-04 12:27] Snorvarg opened #865 "Bug when slicing, creating an infill layer with 100% infill at random height"
### Version
1.39.1-prusa3d-win64

### Operating system type + version
Windows 10 Pro, "latest" version. (Where do one find the version of windows nowadays..)

### Behavior
* The slic3r creates an infill layer randomly, destroying any cavities with a sudden layer of infill.
* Choose 0.20mm NORMAL, then select 100% fill density, switch to rectilinear fill pattern. Slice.
* A cavity inside a cube.
*

[2018-05-05 17:59] jeskata opened #866 "GUI fails to compile/start on (L)Ubuntu 18.04"
### Version
1.39.2

### Operating system type + version
LUbuntu 18.04, 32-bit.

### Behavior
Unable to compile/start GUI, as
~/Slic3r-version_1.39.2$ ./slic3r.pl --gui
Base class package "Class::Accessor" is empty.
    (Perhaps you need to 'use' the module which defines that package first,
    or make that module available in @INC (@INC contains: /home/jskata/Slic3r-version_1.39.2/local-lib/lib/pe

[2018-05-05 18:41] jeskata commented on #866
Solved. Installed package libclass-accessor-perl.

[2018-05-05 18:41] #866 closed

[2018-05-06 03:34] stelgenhof commented on #860
@BirkBinnard Sliced this one myself as well and don't have this issue. I'm using v1.40 (dev version) running on ArchLinux.
Can you maybe share your parameters (Print Settings, Filament settings)?

[2018-05-06 04:47] BirkBinnard commented on #860
Sure - here's my config.ini file (renamed config.txt). I have a delta style printer with a round printbed. My guess is the issue has to do with layer height - but that's just a guess. Filament is 1.75 mm dia.

[config-bb.txt](https://github.com/prusa3d/Slic3r/files/1977342/config-bb.txt)

I'd be happy to re-do the test with the same version you have :)

[2018-05-06 05:09] stelgenhof commented on #860
Thanks! Just used your configuration, scaled it to 200% however the results still look good on my side.
I will have a look in v1.39 as well.

[2018-05-06 05:36] bubnikv commented on #860
we plan to release a 1.40 alpha very soon, it should fix these issues.

On Sun, May 6, 2018, 07:09 Sacha Telgenhof <notifications@github.com> wrote:

[2018-05-06 19:14] rongith commented on #851
"Detect thin walls" solves the issue.

[2018-05-06 19:14] #851 closed

[2018-05-07 11:26] FidelCapo opened #867 "MM - one-layer object printed as bridge"
Single-layer MM object laying on another object prints as bridge, instead as top solid infil.

![image-2018-05-07-10-46-06-459](https://user-images.githubusercontent.com/36130076/39699526-eae36960-51f9-11e8-864d-cbefd8b3641c.png)
![image-2018-05-07-10-46-17-284](https://user-images.githubusercontent.com/36130076/39699527-eaff3c12-51f9-11e8-8248-a93942085b3d.png)
[titanic_mmu_issue.zip.amf.zip](htt

[2018-05-07 12:59] screwyluie commented on #858
you're not the only one, mine is completely wrong as well. It'll tell me something crazy like 21 hours for a 2 hour print. It's never been right, not even close.

[2018-05-07 16:40] bubnikv commented on #858
@enricoturri1966 looked into your test. Please set the firmware flavor to Marlin, it will work correctly then.

[2018-05-07 17:31] screwyluie commented on #858
interesting. That got it a hell of a lot closer. Used a known print that was 3h12m now slic3r says it's 2h40m. A second known print that's 2h24m slic3r says 2h7m.

thanks @bubnikv

[2018-05-07 17:55] Hywelmartin commented on #731
ok tested in version_1.39.1

silly me

I taught that it would wipe the same distance anyway regardless how much I retract before

[2018-05-07 21:02] Tinchus2009 opened #868 "Feature rquest: overhang detection"
_Is this a new feature request?_

Yes
 Hi. This a feature for you to consider: Overhangs. The problem with them is that you need a good cooling  but also you need to print them slowly, in order for the cooling to work properly. It doesnt matter is you have a super colling suystem: if your print speed es somehow fast, that cooling will just not be eough, and the tipical behaviour happens: that over

[2018-05-08 03:52] stelgenhof opened #869 "OctoPrint IP address not shown/loaded when using a custom configuration file"
### Version
v1.40.0
git rev-parse HEAD: 8eb9ddc2eb6c3f98cf28125ddbee4d233fa58616

### Operating system type + version
Arch Linux 4.16.7-1-ARCH

### Behavior
When using a custom configuration file (config.ini) that contains the settings to an OctoPrint server, the IP address is not loaded/visible in the Printer window. Even if the custom configuration file contains the correct IP address setting.

[2018-05-08 04:25] tracernz commented on #842
It probably just defaults to the current working directory (this is a standard behaviour on all OSs). To check that, make a shortcut to the exe and set the working directory on it to somewhere else.

[2018-05-08 09:08] Area5142 commented on #842
tracernz:
The behavior seems to be intentional.
If I import a STL model (drag and drop) and press "Export STL..." or "Export G-code..." the default directory is the same as the origin for the imported model (as expected).
But if I then press "Cut..."/"Split..." and then select "Export STL..." or "Export G-code..." the directory has changed to Prusa executable directory (unexpected).

I would prefe

[2018-05-08 20:53] 3Delights commented on #849
I have the same issue with version 1.39.2 on Windows (10).

I also noticed that the support material extends beyond the edges of the bed also.

[2018-05-08 21:07] marcaurelkiefer opened #870 "Feature Request: Insert M117 progress messages for USB/OctoPi prints"
When printing from SD card, progress is displayed on the LCD, this is not the case when printing via USB/OctoPi.

Since Slic3r can pretty accurately compute the print duration, wouldn't it be easy to insert progress messages via M117 command to display progress in percent (real time, not just line numbers or file size) or remaining time or whatnot.

As far as I looked into scripting, this cannot b

[2018-05-08 22:54] tracernz commented on #870
Octoprint already has a couple of plugins for this:
https://plugins.octoprint.org/plugins/displayprogress/
https://plugins.octoprint.org/plugins/detailedprogress/

[2018-05-08 22:58] ManuelMcLure commented on #870
Also, if you're using Marlin and have `LCD_SET_PROGRESS_MANUALLY` set in your configuration you can use:
https://plugins.octoprint.org/plugins/m73progress/
to get the progress bar to update.

[2018-05-09 07:12] marcaurelkiefer commented on #870
But these calculations are all based on the percentage of gcode lines processed vs. lines left. And that is far from accurate. Slic3r has a far better estimation of how long a gcode command will take.

[2018-05-10 09:47] lukasmatena commented on #817
Hi. The wipe tower will be more customizable in the upcoming release of Slic3r, which will be out in two weeks time at the latest. It will allow you to spread the wipe tower across the entire print area, if you so choose. Please, test the feature after the release, provide feedback and close the issue if happy. Thank you.

[2018-05-10 11:35] lukasmatena commented on #556
This has been implemented as part of the changes done on the wipe tower code recently. The amount of wipe can be adjusted for each filament pair separately, the ramming can be customized, wipe tower rotated, etc. Also, variable layer height is now enabled for MM prints.

The changes are already merged in the current master, public release 1.40.1-alpha is expected in several days. Please, give us f

[2018-05-10 11:35] #556 closed

[2018-05-10 12:22] kortschak opened #871 "Incorrect slicing with layers missing"
### Version
Slic3rPE-1.39.2.linux64-full-201805041532

### Operating system type + version
Linux ubuntu 16.04.4

### Behavior
Attempt to slice the model of Cattedrale di Santa Maria del Fiore available [here](https://www.thingiverse.com/thing:961271). The (second STL for the open model](https://www.thingiverse.com/download:1519003) slices with a gap in layers from 18.2 to 20.0mm when scaled to 300

[2018-05-10 12:35] joris57 commented on #718
Hi Lukas,

This sounds very promising.

As far as 'multi-nozzle multi material' is concerned (which I assume is meant when you refer to 'multiple extruder'), I have following comments:

The 'cooling down' parameter is in standard Slic3r stored in the printing settings (ooze control).

What would be beneficial is a more intelligent ooze shield, but I assume that is outside the scope of this topic?

[2018-05-10 13:48] lukasmatena commented on #871
This issue has already been fixed, the upcoming release Slic3r PE 1.40 should not suffer from this issue. This release is due in several days (hopefully).

Also, @FidelCapo might consider adding the model to the list of testing objects.

I'm closing this issue, reopen it if the problem persists. Thank you for your feedback.

[2018-05-10 13:48] #871 closed

[2018-05-10 13:52] bubnikv commented on #716
@FidelCapo Would you please test this model, and if it slices correctly in the upcoming 1.40 alpha, would you please add ti to the list of test objects? Thanks.

[2018-05-10 14:57] bubnikv commented on #661
@FidelCapo Would you please test this object with the current 1.40 alpha and if it works, would you please close this issue and add the STL to the set of our test objects? Thanks.

[2018-05-10 15:07] bubnikv commented on #857
Don't you use windows reparse points aka sym links in your paths where you have the Slic3r or any of the depending components installed? Don't you use any non-latin1 characters in some of the paths?

[2018-05-10 15:09] bubnikv commented on #853
@FidelCapo Please retest with 1.40-alpha and put the model into our set of test objects. If the alpha 1.40 processes these models, please close this issue. Thanks.

[2018-05-10 15:12] bubnikv commented on #852
No, the purge lines are generated by the custom G-code. But you may use the conditional G-code syntax to adjust the purge line Z height. Something like

G1 Z{first_layer_height+z_offset}

should work.

Did it help?

[2018-05-10 15:13] bubnikv commented on #849
You are completely right, there is currently no check for the supports or brim/skirt against the working space.

[2018-05-10 15:18] bubnikv commented on #844
There is no perfect split of the parameters into the print / filament / printer preset.

We are certainly looking into some form of overriding print / printer parameters by the filament presets and similar tricks, but it will not be part of the upcoming 1.40 yet.

[2018-05-10 15:19] bubnikv commented on #843
@FidelCapo Would you please test this G-code with our current 1.40-alpha? Would you please add the models to our database and if the 1.40-alpha processes this model correctly, would you please close this issue? Thanks.

[2018-05-10 15:30] bubnikv commented on #841
Well, I have two hypotheses:

1) Insufficient cooling of the heat break. If you go faster or with higher temperature (sic!), it may get better.

2) You asked Slic3r to print a too thin wall, and Slic3r tries to fit two perimeters there. For example, you may get similar issues, if you let Slic3r print a 0.5mm thick wall with a 0.4mm extrusion width, and you have the "detect thin walls" disabled. Th

[2018-05-10 15:30] bubnikv commented on #841
Did it help?

[2018-05-10 15:32] bubnikv commented on #840
@enricoturri1966 Could we please fit the layer number indicator somewhere at the UI?

@maxdarkdog The problem may be, if you have multiple objects on the print bed, each sliced with a different layer height. And for the sequential print the situation will be yet different. What do you propose to show at the sliders?

[2018-05-10 15:33] bubnikv commented on #838
@FidelCapo Would you please verify this issue? Thanks.

[2018-05-10 15:34] bubnikv commented on #836
I am closing this issue, I am certain there is a duplicate for it somewhere.

[2018-05-10 15:34] #836 closed

[2018-05-10 15:35] bubnikv commented on #835
This is a duplicate of
https://github.com/prusa3d/Slic3r/issues/678
https://github.com/prusa3d/Slic3r/issues/292
https://github.com/prusa3d/Slic3r/issues/286
Closing.

[2018-05-10 15:35] #835 closed

[2018-05-10 15:37] bubnikv commented on #833
We had this discussion before, we believe it is better to let the firmware do it. At least our Marlin branch has the fan kick-in enabled and it is a standard Marlin feature. What firmware are you running?

[2018-05-10 15:38] bubnikv commented on #831
@FidelCapo Would you please retest with 1.40-alpha and if it works close this issue? Thanks.

[2018-05-10 15:40] bubnikv commented on #827
Any progress on your compilation efforts?

[2018-05-10 15:47] bubnikv commented on #819
Do you know any slicer that supports such an option? Would you please be more specific as why you don't want to print supports on the print bed? Maybe some pictures will help.

[2018-05-10 15:50] bubnikv commented on #818
I know @YuSanka worked on it. What is the status?

[2018-05-10 15:52] bubnikv commented on #820
No, it is an issue with the Clipper library when handling polygons with holes. The issue is similar to
https://github.com/prusa3d/Slic3r/issues/865
https://github.com/prusa3d/Slic3r/issues/676

[2018-05-10 15:55] bubnikv commented on #815
@FidelCapo Would you please test it? Thanks.

[2018-05-10 15:57] bubnikv commented on #813
This will be fixed in Slic3r 1.40.0-alpha. Closing.

[2018-05-10 15:57] #813 closed

[2018-05-10 15:59] bubnikv commented on #811
@vernieg Don't you have the "avoid external perimeters" feature enabled?

[2018-05-10 16:02] bubnikv commented on #807
A helping hand is always helpful :-) A single line fix is even more helpful.

[2018-05-10 16:12] bubnikv commented on #806
We hope that we have fixed it with the Slic3r 1.39.2 release with the updated cooling logic, see the change log of https://github.com/prusa3d/Slic3r/releases/tag/version_1.39.2-beta

Would you please confirm that?

[2018-05-10 16:17] bubnikv commented on #766
We have had a discussion today about our wipe tower adjustments for the dual extruders. This topic is similar, maybe @lukasmatena could look into it.

[2018-05-10 16:20] v-mat commented on #827
Thanks for asking. I did managed to build tbb as per your previous post and I can run cmake without any errors, but I still get the same original error message when invoking "perl slic3d.pl" (full error message below):

<<<
Can't load '~/slic3r/Slic3r/local-lib/lib/perl5/darwin-thread-multi-2level/auto/Slic3r/XS/XS.bundle' for module Slic3r::XS: dlopen(~/slic3r/Slic3r/local-lib/lib/perl5/darwin-th

[2018-05-10 16:26] bubnikv commented on #752
Fixed in 1.40 alpha. Stay tuned for the upcoming release.

[2018-05-10 16:26] #752 closed

[2018-05-10 16:29] bubnikv commented on #749
This should be reasonably easy to do. Let's see whether we will manage it for the upcoming 1.40 release.

[2018-05-10 16:30] bubnikv commented on #737
@FidelCapo Would you please verify this issue? Thanks.

[2018-05-10 16:30] bubnikv commented on #731
Thanks for the report, Happily closing.

[2018-05-10 16:30] #731 closed

[2018-05-10 16:31] bubnikv commented on #724
By the way, what do you use this high skirt for?

[2018-05-10 16:34] bubnikv commented on #715
@Blizzke It would be super awesome to be able to set those settings in your printer settings tab in a new menu other than the custom g-code entry. Could be called "Kinematics" or something and then you write down your printer's acceleration, speed and jerk settings and whatever else needed.

It will likely come one day, because for the Prusa's printers we want to have two time estimates: One for t

[2018-05-10 16:34] #715 closed

[2018-05-10 16:35] bubnikv commented on #706
@vojtechkral @YuSanka any update on this issue?

[2018-05-10 16:36] bubnikv commented on #700
Did you check your G-code for the short bridges?

My best bet is that the G-code is there, but your fan does not kick in quickly enough.

[2018-05-10 16:40] bubnikv commented on #837
Thanks for the note. We have the version set at our build server from the last label with the "version_" prefix, but according to @hyperair I understand that the Debian build system does not work with git repositories, so this is difficult to him. I will try to be more careful to commit the version number into the source code when doing official releases.

Silly me. The current master is marked in

[2018-05-10 16:40] #837 closed

[2018-05-10 16:42] bubnikv commented on #690
@FidelCapo Would you please test on Mac? Thanks.

[2018-05-10 17:07] ntsarb commented on #836
Somewhere? Can you please provide the relevant apen ticket number?

Thank you

[2018-05-10 17:11] Itox001 commented on #816
@bubnikv where can I find the alpha? I'd like to try it.

[2018-05-10 18:35] Petclaud commented on #700
Thx Bubnikv. The gcode was already attached in the initial post. I have tried to find M106 S... command at Z14.15 but cannot find it. I ran the code through GCODE ANALYZER and I see that the initial bridge-lines at Z height 14.15 run at the Perimeter Speed setting (40mm/s) instead of Bridge speed (30mm/s)

![gcode analyzer](https://user-images.githubusercontent.com/28214663/39887033-6e6aacdc-5491-

[2018-05-10 18:50] bubnikv commented on #806
yes, please test it with the 1.39.2 so we can close this issue. Thank you.

On Thu, May 10, 2018, 19:24 jonbet83 <notifications@github.com> wrote:

[2018-05-10 19:34] mvasilakis commented on #852
I'll give it a shot tonight and let you know. I'm assuming it goes just before the purge line in the starting g-code.
Thanks.

[2018-05-10 22:07] nospoon commented on #336
Arrange doesn't seem to adhere to buildplate space, it just scatters the parts all over the place with huge gaps between them, so that some objects end up outside the buildplate.
![slic3rpe-arrange](https://user-images.githubusercontent.com/4022238/39896640-3394cd36-54af-11e8-9770-7db0702b1812.JPG)

[2018-05-10 23:47] kortschak commented on #871
Out of curiosity, in which commit was this fixed?

[2018-05-11 00:10] stelgenhof opened #872 "Segmentation Fault when switching View option in Preview Tab"
### Version
1.40.0-alpha
git rev-parse HEAD: 0fc422544bc366dac548abc6d291c99ae76d8819

### Operating system type + version
Arch Linux 4.16.7-1-ARCH

### Behavior
Slic3r crashes when you switch the View Option of the Preview Tab to anything else but "Feature Type".

Steps to reproduce:
1. Load an STL model (any will do)
2. Slice and export the model to Gcode
3. Open the Preview Tab in the main Plat

[2018-05-11 00:26] BETLOG commented on #833
Re-reading what I wrote just now I was noticing that what i mean may not be obvious enough. The last bullet point is really the main point.
ie: option to remain spinning very slowly as an alternative to 'off', as well as an actual 'off' setting.

Marlin 1.1.8 and bugfix2

[2018-05-11 00:52] magkopian commented on #724
@bubnikv The sacrificial skirt? It's for catching the oozing from the non-printing nozzle while the print head moves around. The sacrificial skirt gets generated automatically when you check the `Enable` option under the `Ooze prevention` at the `Multiple Extruders` section. It's what other slicers call ooze shield.

[2018-05-11 04:07] bubnikv commented on #724
yeah, that is what I expected. You really miss the ooze shield in Slicer.

On Fri, May 11, 2018, 02:52 Manolis Agkopian <notifications@github.com>
wrote:

[2018-05-11 05:00] bubnikv commented on #811
will the export take reasonable time if you disable this feature? do you
need this feature? The avoid external perimeters feature is problematic,
see the issues marked with the "path planning" tag.

On Fri, May 11, 2018, 06:45 vernieg <notifications@github.com> wrote:

[2018-05-11 05:31] vernieg commented on #811
The export is fast (almost instant) with this feature disabled. Thank you.  The first time I saw the option group about quality, I simply enabled them hoping they do contribute better quality.  When it comes to quality, I never went back to using another slicer, slic3r prusa edition is where I am happy with the results specially when dealing with tiny details.

[2018-05-11 09:32] kortschak opened #873 "Build fails with "Can't locate ExtUtils/Typemaps/Basic.pm in @INC...""
### Version
version_1.40.0-alpha a5e48cdf4d824fdec8a97d1f1569e58595d0990e

### Operating system type + version
Linux ubuntu 16.04.4

### Behavior
Attempt to build Slic3r according to the [wiki entry](https://github.com/slic3r/Slic3r/wiki/Running-Slic3r-from-git-on-GNU-Linux).

Expect (laughingly given the involvement of perl) a clean build.
Observe the following failure:
[code]

The output of `per

[2018-05-11 10:44] lukasmatena commented on #872
Thanks for reporting, it should be fixed by https://github.com/prusa3d/Slic3r/commit/d89f8128cde85f45beac212847ee0f578eab26ed.

I'll leave the issue open for now and close it later, unless there are objections from you, @enricoturri1966, @bubnikv or anyone else.

[2018-05-11 11:49] FidelCapo commented on #574
Tested and fixed in Slic3rPE-1.40.0-alpha that will be released soon.

[2018-05-11 11:56] FidelCapo commented on #792
Tested and fixed in Slic3rPE-1.40.0-alpha that will be released soon.

[2018-05-11 11:57] FidelCapo commented on #730
Tested and fixed in Slic3rPE-1.40.0-alpha that will be released soon.

[2018-05-11 11:58] FidelCapo commented on #716
Tested and fixed in Slic3rPE-1.40.0-alpha that will be released soon.

[2018-05-11 11:59] FidelCapo commented on #665
Tested and fixed in Slic3rPE-1.40.0-alpha that will be released soon. Closing

[2018-05-11 11:59] #665 closed

[2018-05-11 12:00] FidelCapo commented on #661
Tested and fixed in Slic3rPE-1.40.0-alpha that will be released soon. Closing

[2018-05-11 12:00] #661 closed

[2018-05-11 12:01] FidelCapo commented on #606
Tested and fixed in Slic3rPE-1.40.0-alpha that will be released soon.

[2018-05-11 12:02] FidelCapo commented on #413
Tested and fixed in Slic3rPE-1.40.0-alpha that will be released soon.

[2018-05-11 12:02] bubnikv commented on #872
Thanks, closing.

[2018-05-11 12:02] #872 closed

[2018-05-11 12:03] FidelCapo commented on #302
Tested and fixed in Slic3rPE-1.40.0-alpha that will be released soon.

[2018-05-11 12:05] FidelCapo commented on #269
Tested and fixed in Slic3rPE-1.40.0-alpha that will be released soon.

[2018-05-11 12:12] bubnikv commented on #873
The simplest fix is likely to install the missing package from ubuntu. This will likely help:

https://packages.ubuntu.com/search?keywords=libextutils-makemaker-cpanfile-perl

[2018-05-11 12:27] stelgenhof commented on #872
Recompiled. Confirm the issue has been resolved. Thanks for the quick fix!

[2018-05-11 12:37] kortschak commented on #873
That does not solve the problem - nor did I expect it to (I'm so glad I don't use perl anymore).

[2018-05-11 12:45] Panayiotis-git opened #874 "Weird zoom change after changing the View orientation"
### Version
1.39.2+win64

### Operating system type + version
Windows 7 - 64 bit

### Behavior
When using the View shortcut keys, the view orientation changes without changing the current zoom. If I rotate or move the bed it still keeps the current zoom.

But, if then I scroll the mouse wheel to change the zoom or I move a part on the bed or add a new part, the zoom instantly changes to a default

[2018-05-11 12:51] YuSanka commented on #818
Hi, all! Current status is this:
* Ctrl-A works and is in master branch now
* Custom Gcode text boxes don't have labels, so at this time it works this way: if you click inside of the text box, tooltip will disabled.

[2018-05-11 12:57] FidelCapo commented on #228
Tested and fixed in Slic3rPE-1.40.0-alpha that will be released soon. Closing

[2018-05-11 12:57] #228 closed

[2018-05-11 12:58] bubnikv commented on #334
This issue was a quirk of wxWidgets, it fixed itself once we extended the UI with the redo buttons.

The fix will be in 1.40-alpha, which will be released soon. Closing.

[2018-05-11 12:58] #334 closed

[2018-05-11 13:01] FidelCapo commented on #871
Tested and fixed in Slic3rPE-1.40.0-alpha that will be released soon.

[2018-05-11 13:04] bubnikv commented on #818
It should work in the Slic3r 1.40 alpha, which will be released in couple of days. Closing.

[2018-05-11 13:04] #818 closed

[2018-05-11 13:10] kortschak commented on #871
Yes, but which commit. I'm interested in seeing what the problem was. (I'm trying to build 1.40.0-alpha but am having issues with `@INC`).

[2018-05-11 13:16] FidelCapo commented on #871
@kortschak Try look at https://github.com/prusa3d/Slic3r/issues/574 issue

[2018-05-11 13:36] bubnikv commented on #871
It was mainly the TriangleMeshSlicer::make_loops() method.

On Fri, May 11, 2018 at 3:16 PM, HurkaF <notifications@github.com> wrote:

[2018-05-11 14:28] YuSanka commented on #498
Fixed bug is merged in the current master, next public release is expected in several days. Please, give us feedback after you have the chance to test it.

[2018-05-11 14:28] #498 closed

[2018-05-11 15:58] Carib3D opened #875 "Too many loops on skirt"
### Version
Prusa edition 1.39.1

### Operating system type + version
Windows 10, 64 bit

### Behavior
Applies too many loops on the skirt.
Set to 1 loop at 5mm, minimum 150mm (tried a few variations, but didn't seem to help). Single perimeter is over 200 mm long so should only print 1 loop

_Is this a new feature request?_
No

[2018-05-11 16:19] realzeus opened #876 "Bug: Enforce support for the first layers is ignored since 1.39, worked in 1.38"
### Version
Slic3rPE-1.39.2.linux64-full-201805041532.AppImage

### Operating system type + version
Debian 9

### Behavior
Enforce support for the first layers is ignored since 1.39, worked in 1.38

#### STL/Config (.ZIP) where problem occurs
[confAndStl.zip](https://github.com/prusa3d/Slic3r/files/1996089/confAndStl.zip)

[2018-05-12 05:13] kortschak commented on #873
It looks to me like the problem is that you are not setting PERL5LIB correctly prior to the build; you are installing the dependencies in .../Slic3r/local-lib/lib/perl5/ but `@INC` only includes the standard site-wide locations.

[2018-05-12 05:25] kortschak commented on #873
Confirmed by invoking `make` like so `PERL5LIB=/home/xxxx/Development/3d/Slic3r/local-lib/lib/perl5 make` with success.

[2018-05-12 05:32] kortschak commented on #871
I have just tried this model with 1.40.0-alpha built locally (which reports 1.39.0 in About because the version has not been bumped) and it still fails to slice correctly.

[2018-05-12 14:31] wavexx opened #877 "Should wait for bed temperature in sequential printing mode"
### Version
1.39.2

### Operating system type + version
Debian unstable

### Behavior
Enable "Complete individual objects" in Print settings -> output options -> sequential printing.
In Filament settings -> Filament -> bed select a different temperature for first layer and other layers (I use 65 and 55 normally).

Load 2 objects onto the plate -> print.

After completing the first object, the temp

[2018-05-12 19:20] mkbel opened #878 "Brim is generated outside print area"
### Version
1.39.1-prusa3d-

### Operating system type + version
Debian sid

### Behavior
* _Describe the problem_
Brim is generated outside print area
* _Steps needed to reproduce the problem_
Place big object into slicer.
Enable brim, e.g. 7mm

* _Expected Results_
Brim is not generated outside print area.
* _Actual Results_
Brim is generated outside print area. Printer prints brim over itself.

[2018-05-13 03:16] wildblue opened #879 "Raft with layerheights below 0.2mm results in mid-air-print"
### Version
_Version of Slic3r used goes here_

_Use `About->About Slic3r` for release versions_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
_What OS are you using, and state any version #s_
Windows

### Behavior
* _Describe the problem_
* _Steps needed to reproduce the problem_
  *

[2018-05-13 19:04] YuSanka commented on #846
Thanks a lot for your report. Fixed bug is merged in the current master, next public release is expected in several days.

[2018-05-13 19:05] YuSanka commented on #706
@dmeehl , Thanks a lot for your report. Fixed bug is merged in the current master, next public release is expected in several days. Please, give us feedback after you have the chance to test it.

[2018-05-13 21:39] Thoin opened #881 "Crashes on Startup"
### Version
* 1.39.2 x64

### Operating system type + version
* Windows 10 Pro
* Version 1709
* OS Build 16299.431

### Behavior
* _Describe the problem_
When opening Slic3r PE, the UI opens, then immediately it grays out and Windows shows the dialog box that says Slic3r has stopped working.

* _Steps needed to reproduce the problem_
The only new piece of software that might have interfered with S

[2018-05-13 21:44] LoganFraser opened #882 "Overhang perimeter prints at high speed instead of setting, only on a single side (steep overhang)"
### Version
1.39.2+win64

### Operating system type + version
Windows 10 Pro 64bit (up to date)

### Behavior
I've selected 40 as perimeter speed, with 50% for external perimeters. On one side of this object (with the steepest overhang), the speed for the external perimeter is double instead of half, resulting in serious waving of prints.

The speed is correct on all other perimeters. I believe th

[2018-05-14 00:24] stelgenhof commented on #846
Thanks! I can see that the info window now contains scrollbars allowing to view all the information. However I noticed two additional things:

1. Upon start, the settings area on the right is rather small making the text looking kind of compressed/overlap. This does get corrected once you load a model, because the main 3D window size gets reduced somewhat.

![settings](https://user-images.githubus

[2018-05-14 01:20] stelgenhof commented on #871
@kortschak I have sliced this model correctly with 1.40.0-alpha (git commit: 4cf74d6dcf6a4129915f71d79d59642ffd1981bb). You said that Slic3r reports 1.39.0, however mine reports 1.40.0-alpha. Are you sure you have pulled and compiled the latest version?

I'm running on Arch Linux 4.16.7-1-ARCH using a Prusa i3 MK2S.

[2018-05-14 01:28] kortschak commented on #871
I've just pulled here (different machine) and suspect you are right though I don't understand how since my prompt in the build log shows I'm at 1.40.0-alpha ([example here prior to successful build](https://gist.github.com/kortschak/20aefa99ea933cd50376eb7a4318578a)); I will recheck when I'm back at that machine. Apologies if incorrect.

[2018-05-14 01:38] stelgenhof commented on #871
Based on your build log, the only 1.40.0-alpha reference I can see, is the folder name with that reference. I assume you cloned the repository with the 1.40.0-alpha tag?

For the latest changes, I always pull the master branch, i.e. not a particular tag or branch.

[2018-05-14 01:52] kortschak commented on #871
That's not a directory name, my prompt is determined by a call to git when I'm in a repo. I need to check what that script is doing. Yes, the repo was pulled and then checked out at `version_1.40.0-alpha`. I'm at a loss to know what's going on, but I will check and report back when I'm at that machine.

[2018-05-14 05:46] bubnikv commented on #871
it may be that you are still running the slicer installed from the distro.
Try to deinstall it.

On Mon, May 14, 2018, 03:52 Dan Kortschak <notifications@github.com> wrote:

[2018-05-14 07:46] vojtechkral commented on #764
This doesn't happen on my Linux box. Slic3r is definitely not forcing this on purpose. Probably some kind of a mixup on the wxWidgets - GTK - windows manager axis...

[2018-05-14 08:06] giudiceanto opened #883 "Missing shortcut - 1.40.0 alpha (italian translation)"
### Version
Slic3rPE-1.40.0-alpha+686-win64

### Operating system type + version
Windows 10

### Behavior
I'm using the software with Italian translation

when i press CTRL + U, +L or +O  nothing happens

[2018-05-14 08:45] FidelCapo commented on #879
Thank you for the report. Unfortunately, I am not able to reproduce the problem you have described. Can you please provide configuration of your settings? (File - Export config ..) Thank you

[2018-05-14 09:15] enricoturri1966 commented on #874
Zoom logic has been partly modified with: https://github.com/prusa3d/Slic3r/commit/f8b1dc550685a8ca76c4d7a810151eabf08db2c1
Now when changing the view, the zoom is set to the volumes' extent.
Also, two new hotkeys have been added:
v -> zoom to volumes' extent
b -> zoom to bed's extent

[2018-05-14 09:16] kortschak commented on #873
Also, `ExtUtils::Typemaps::Basic` needs to be added to Build.PL.

[2018-05-14 09:25] bubnikv commented on #873
Would you please provide a pull request?

On Mon, May 14, 2018 at 11:16 AM, Dan Kortschak <notifications@github.com>
wrote:

[2018-05-14 10:31] kortschak commented on #871
The version at version_1.40.0-alpha *is* 1.39.0 as shown [here](https://github.com/prusa3d/Slic3r/blob/a5e48cdf4d824fdec8a97d1f1569e58595d0990e/xs/src/libslic3r/libslic3r.h#L17). This is the only explanation I can see.

So, after pulling master 5fb81bacd526d8d460fb8eebe7d8aa464697c991 and fixing build failure noted in #873 I now get an application to build that claims to be 1.40.0 and which correc

[2018-05-14 11:42] kortschak commented on #873
Done. This fixes the dependency issue, but I don't use cmake, so I'm not sure what is not working there - from reading the docs, what you have written looks like it should work.

[2018-05-14 11:44] bubnikv commented on #873
thank you.

[2018-05-14 11:47] bubnikv commented on #706
Fixed in master, an alpha will be released soon.

[2018-05-14 11:47] #706 closed

[2018-05-14 11:54] bubnikv commented on #336
We have @tamasmeszaros working on a new placement algorithm. Tamas follows the papers referenced by http://svgnest.com/ , so we should get similar results in Slic3r.

[2018-05-14 11:56] bubnikv commented on #827
What will
otool -L ~/slic3r/Slic3r/local-lib/lib/perl5/darwin-thread-multi-2level/auto/Slic3r/XS/XS.bundle
print out?

It seems like you are still linking tbb dynamically, so there is inconsistent linkage for some reason.

[2018-05-14 12:01] YuSanka commented on #883
Thanks a lot for your report. Fixed bug is merged in the current master, next public release is expected in several days. Please, give us feedback after you have the chance to test it.

[2018-05-14 12:01] #883 closed

[2018-05-14 16:35] LoganFraser commented on #882
This only appeared to happen up to around slice 7 or 8 and then expected speed for the overhang perimeter resumed.

[2018-05-14 16:38] bubnikv commented on #882
@FidelCapo reviewed your report. According to him, the perimeters printed faster are classified as overhang perimeters, therefore the bridging speed and bridging flow apply. Does this explain what you are seeing?

[2018-05-14 19:17] Massa0815 opened #885 "Support Problems Z Distance calculates at least 4 Support Layers distance under sloped parts"
### Version
_V1.39.1 Win 64

### Operating system type + version
Windows 10

### Behavior
Setting Support Z Distance doesn't effect.
I have alwas at least 0.4 mm Distance between Support and the Part to print.
So small things fall off the support while printing. No Contact between them

You can see it at the front legs of the pony. There are alwas 4 free Layers of Support between Interface layers

[2018-05-14 20:57] v-mat commented on #827
otool -L ~/slic3r/Slic3r/local-lib/lib/perl5/darwin-thread-multi-2level/auto/Slic3r/XS/XS.bundle prints this:
<<<<
local-lib/lib/perl5/darwin-thread-multi-2level/auto/Slic3r/XS/XS.bundle:
	/System/Library/Frameworks/OpenGL.framework/Versions/A/OpenGL (compatibility version 1.0.0, current version 1.0.0)
	/System/Library/Frameworks/IOKit.framework/Versions/A/IOKit (compatibility version 1.0.0, curre

[2018-05-14 21:01] stahlfabrik opened #886 "Slic3r 1.40.0-aplha1 often does not show various visualizations"
### Version
Slic3r 1.40.0-aplha1

### Operating system type + version
MacOS High Sierra

### Behavior
I do not know how to reproduce. The first time I looked at the new visualizations, they would not show up. Just the ordinary yellow sliced layers like in the last stable release version. Then I sliced another file and the visualizations (of speed, flow rate etc.) showed in their full glory. I then

[2018-05-14 21:05] mariusstrom commented on #147
FYI this is something that Simplify3D can do (CTRL+L in S3D). I know Slic3r probably isn't trying to compete for feature parity with S3D, but this is exceptionally helpful with complex models.

[2018-05-14 21:06] Petclaud commented on #886
Yep having the same issue. If I send the file to the printer (to Octoprint) the visualisations are there (the same issue and "resolution" I have with the printing time - this also only shows up after sending to the printer).

[2018-05-14 21:12] stahlfabrik commented on #886
Aha! Do you say after I send it to OctoPrint the visuals come to live? I will try that tomorrow!

That would be a workaround until this is fixed

[2018-05-14 21:41] LoganFraser commented on #882
That seems counter-intuitive. A bridge is from a solid point to an adjacent point with no attachment between the points.  An overhang is attaching continuously along one side.  The former wants to be fast to keep drooping to a minimum, but the latter wants the opposite. Also, the ramp is the same angle on the first 20 or so slices and it only traveled at a higher speed for maybe 6 slices and then

[2018-05-14 22:01] wabbitguy commented on #831
@bubnikv I just tested with the 1.40-alpha and where the layer height and the first layer height are both .2 for that corner bracket design with the users original config.

It fills in the top of the horizontal bracket through holes.

![bracket](https://user-images.githubusercontent.com/8953419/40025784-a2764204-5787-11e8-9ffb-2d6b8b912b1f.png)

Change either the first layer height or the layer he

[2018-05-14 22:13] Panayiotis-git commented on #886
You have to first export the G-code. Then the visualizations are available.

[2018-05-14 22:57] vernieg commented on #886
Showing different colors visualization after exporting G-code the first time is ok. Deleting the first sliced file and loading again to slice another file, visualization no longer work completely after exporting the G-code, internal perimeter is gone. Deleting and loading another file to slice then export, it works fine as well for the rest of different files after that. This happens on  the linux

[2018-05-14 23:59] stelgenhof commented on #886
@stahlfabrik @Petclaud The Preview tab is a new feature that can visually display the generated gcode in various ways (by speed, height, etc.) As such, this tab will only show something when gcode is actually generated, either by choosing "Export gcode" or "Send to Printer".

Only slicing your 3D Model will not render any results in the Preview tab. You need to generate the gcode. The same goes fo

[2018-05-15 00:44] vernieg commented on #886
![screenshot from 2018-05-15 08-40-21](https://user-images.githubusercontent.com/37242799/40030196-d00bf26a-581b-11e8-957e-45144b468900.jpg)
Now I understand, somehow the Perimeter was toggled off that is why it was not shown. But I did not toggled it or explore in that area when testing earlier. Anyway, this new visualization is really nice to have and thank you so much for it.

[2018-05-15 01:28] stelgenhof commented on #871
@kortschak Yes, I also noticed that the version numbers in the code not always match the git tags or branches :) As I am mostly testing/using the development version I look only at the commit number.

[2018-05-15 04:32] bubnikv commented on #827
Unfortunately that gave me no hint. It looks that this XS.bundle was
compiled with static TBB.

static linking? My OS is OSX 10.12.

I don't think that is the problem. More likely you have mixed up multiple
versions of Slic3r or TBB on your system.

On Mon, May 14, 2018 at 10:57 PM, v-mat <notifications@github.com> wrote:

[2018-05-15 04:43] bubnikv commented on #886
We will certainly make that automatic in 1.41, but it will require large
changes in the architecture, so we did not want to delay the release.

was not shown. But I did not toggled it or explore in that area when
testing earlier.

We have some issues with the wxWidgets on some architectures. It may be,
that wxWidgets toggled the perimeters checkbox while it should not have to.
We will certainly fi

[2018-05-15 04:45] bubnikv commented on #871
match the git tags or branches :)

And I forgot to bump the version inside the code for the 1.40.0-alpha1
again :-(
It is so convenient to rely on our internal build system to do the version
changes for me automatically. We may integrate that into the cmake build
system if the git archive is available.

On Tue, May 15, 2018 at 3:28 AM, Sacha Telgenhof <notifications@github.com>
wrote:

[2018-05-15 04:52] stelgenhof commented on #871
@bubnikv No worries! Would be good indeed if it can be integrated in the build process.

[2018-05-15 05:02] Petclaud commented on #886
`We will certainly make that automatic in 1.41`

That would be great. thx.

[2018-05-15 07:43] enricoturri1966 commented on #874
Automatic zoom to volumes' extent when changing view removed with: https://github.com/prusa3d/Slic3r/commit/328eba56102329c415e130a24977b54277412cd2

[2018-05-15 07:44] FidelCapo commented on #815
Can you please provide me a STL and config files? (File - Export config...) Thank you

[2018-05-15 08:11] FidelCapo commented on #843
Tested and fixed in Slic3rPE-1.40.0-alpha. Closing

[2018-05-15 08:11] #843 closed

[2018-05-15 08:17] FidelCapo commented on #853
Tested and fixed in Slic3rPE-1.40.0-alpha. Closing

[2018-05-15 10:19] kortschak commented on #873
I've looked though this and the cmake PATH and PERL5LIB env vars are not plumbed through to where they are used. From what I understand, the way they are being expected to work here is not how they actually work. It looks like the expectation is that seting `ENV{VAR}` results in an export-like situation. This is not the case. I've spent some time fixing this plumbing, but it's not clear to me how

[2018-05-15 13:20] FidelCapo commented on #860
Tested and fixed in Slic3rPE-1.40.0-alpha. Closing

[2018-05-15 13:20] #860 closed

[2018-05-15 13:57] v-mat commented on #827
I followed the given instructions, although they were somewhat fragmented. I do appreciate you trying to help. I look forward to the updated wiki for OSX.

[2018-05-15 14:27] qknight commented on #147
https://github.com/slic3r/Slic3r/issues/4397

[2018-05-15 17:08] screwyluie opened #888 "1.40.1 alpha1 won't load octopi IP from file"
### Version
1.40.1 alpha1

### Operating system type + version
Windows 10

### Behavior
won't save/load octopi IP from a custom printer.ini. It saves/loads the API key but not the IP even though the IP is being saved to the file.

[2018-05-15 17:50] stahlfabrik commented on #886
Great that you will make it automatic - I hope time estimation as well by the way:-) from a user's perspective it is not obvious why it should not be displayed automatically after the "slice" is done

[2018-05-15 19:11] stahlfabrik commented on #869
I have the same issue with the first alpha release of 1.40.

I entered octopi full DNS name "octopi.fritz.box:5000". When reloading slic3r it is gone.

[2018-05-15 20:56] Itox001 opened #889 "Retraction/unretraction/travel moves stop visualizing if layers above 10 mm are hidden"
### Version
Slic3r PE 1.40 Alpha 1

### Operating system type + version
Windows 10 64 bit Home Edition

### Behavior
Good job on the Gcode visualizer, it is awesome and it can certainly help debug certain prints, watching how your print artifacts match up with the visualization of speed/flowrate/retractions/deretractions is an awesome way to know what is going on and what settings to tweak.

I fou

[2018-05-15 21:26] TheZeroBeast opened #890 "1.40.1 alpha1 - OS X real G-code preview Feature check boxes not always working"
1.40.1-A1

### Operation System
OS X Mac

### Behavior
When navigating visability of features enabled in the real G-code preview on OS X the check boxes don't respond to click action as would be expected. If the text beside the check box is selected the check box updates and changes although working this could be cleaned up a little for a more streamlined user experience.

Thank you for the good w

[2018-05-15 22:26] tracernz commented on #888
Dup of #869

[2018-05-16 05:29] wabbitguy commented on #890
Well that procedure would have never entered my mind so, thank you!

Exported the GCODE and it all showed up and works pretty slick. Could me save from having to use code.ws in future.

[2018-05-16 05:44] yschroeder commented on #878
This is by the way the same with skirts, not only brim. The check that tells you that your part does not fit into the build volume does not take skirts/brims into account.

The behavior was always like this. I ocassionally run into the same problem. Workaround is to use smaller brim/skirt or none at all.

[2018-05-16 06:10] fpikus opened #891 "Cannot set skirt-to-brim distance to 0"
### Version
1.39.2

### Operating system type + version
Windows 10

### Behavior

I'm setting skirt distance to 0. According to the popup, the skirt should be attached to the brim. But this does not happen, it stays few millimeters away from the brim. The skirt distance is honored up to some small value about 2mm: If I set it to 20mm, it's 20mm away from the brim. 10mm, no problem, 10mm away. At a

[2018-05-16 08:47] bubnikv commented on #865
I just tested on Windows with the 1.40.0-alpha1, and it seems to be fixed. Would you please confirm?

https://github.com/prusa3d/Slic3r/releases/tag/untagged-8fc8ca127d0924fe5504

[2018-05-16 09:03] bubnikv commented on #820
@tkircher was right. It is the same issue as https://github.com/prusa3d/Slic3r/issues/520, slic3r closes gaps smaller than 0.01mm on purpose, as they are not really printable by the FDM technology, or at least they were not some years ago. We may either lower the threshold, or just remove it, but not for the 1.40 release.

To verify the hypothesis, lower the safety_offset in TriangleMesh.cpp, just

[2018-05-16 09:03] #820 closed

[2018-05-16 09:31] bubnikv commented on #749
Implemented with https://github.com/prusa3d/Slic3r/commit/7645e9cb7a884a4722324b7b5a839424291299fb

Added layer_num, layer_z variables to the end_gcode, end_filament_gcode, added min(.,.), max(.,.) functions to the placeholder parser syntax.

This allows one to sketch an end g-code like this to lift the print head at the end of the print:

[code]

[2018-05-16 09:31] #749 closed

[2018-05-16 09:32] bubnikv commented on #749
This change will be part of the upcoming 1.40.0-beta.

[2018-05-16 09:38] bubnikv commented on #690
Sorry, but we cannot reproduce your issue. Do you still have it with
https://github.com/prusa3d/Slic3r/releases/tag/untagged-8fc8ca127d0924fe5504 ?

I am not an OSX expert, but don't you have your mouse configured in a special way? Left handed or something else?

[2018-05-16 09:40] bubnikv commented on #881
I guess there is an issue with your graphics card drivers. Do you still have the issue? What kind of graphics card? Will an update of your graphics card help?

[2018-05-16 09:41] bubnikv commented on #878
Yes, it is a known problem, not only skirt and brim, but also support may be printed outside the working space.

[2018-05-16 09:49] bubnikv commented on #690
Maybe I understand now. Are you asking for the following menu?

![image](https://user-images.githubusercontent.com/5830947/40109957-08f2987a-58ff-11e8-83ff-2397559c49d8.png)

This has never been implemented in Slic3r PE, only in the upstream slic3r.

Would you please confirm this?

[2018-05-16 09:50] bubnikv commented on #764
Do you have a similar issue with other applications on your XWindow system? Or is it just Slic3r. It looks to as like a general issue of your window manager.

[2018-05-16 09:51] bubnikv commented on #854
Would you please retest with the current alpha?
https://github.com/prusa3d/Slic3r/releases/tag/untagged-8fc8ca127d0924fe5504
thanks.

[2018-05-16 09:52] #853 closed

[2018-05-16 10:02] bubnikv commented on #791
I was able to reproduce it.

[2018-05-16 10:05] VanessaE commented on #764
It does happen on one or two other programs, but in most cases, new windows are opened where the pointer is.  Those that don't, always put it waaaaaay over on the left screen (out of 4).  I assume it has to do with that desktop layout putting that screen at the desktop's lowest X coordinate, and windows opening over there either have, or lack, some important window manager hint.

[2018-05-16 10:18] bubnikv commented on #791
Fixed with https://github.com/prusa3d/Slic3r/commit/0b4a61a8bad7d507a6ad93314346a879682a2b5c
It will be part of the upcoming beta.
Closing, please reopen if you find out it does not work with the 1.40.0-beta. Thanks.

[2018-05-16 10:18] #791 closed

[2018-05-16 10:43] nerocide commented on #791
Thanks @bubnikv, just compiled **version_1.40.0-alpha1-9-g6d98c2b1** and it works as expected.

[2018-05-16 11:33] bubnikv commented on #676
Would you please retest with the Slic3r 1.40.0-alpha1? It seems this issue is no more reproducible with the alpha.

https://github.com/prusa3d/Slic3r/releases/tag/untagged-8fc8ca127d0924fe5504

[2018-05-16 11:56] asieving commented on #676
Your download link gave me a 404, for some reason, but I got the
1.40.0-alpha1 build from github:
(
https://github.com/prusa3d/Slic3r/commit/3bc8d7517a0ff868b2a2731702872857dad01a44
)

https://github.com/prusa3d/Slic3r/releases/download/version_1.40.0-alpha1/Slic3rPE-1.40.0-alpha1.win64-full-201805141300.zip

It worked great with my model; the previous error is gone.

I really like what you've don

[2018-05-16 12:11] tkircher commented on #92
The referenced paper above should be:

http://advances.sciencemag.org/content/3/1/e1601536

[2018-05-16 12:31] bubnikv commented on #676
Thanks Alan for heads up. Our team appreciates the warm words.

I am not quite sure whether we really fixed this issue, or whether it has been just masked. We did some changes in the model import, which may or may not have fixed this issue. Anyway, as we cannot reproduce it with the current code base, let's close this issue.

If you encounter a similar issue, please reopen this issue. Thanks.

[2018-05-16 12:31] #676 closed

[2018-05-16 12:34] bubnikv commented on #92
I suppose you wanted us to fix the release page? I did that. Thanks.

On Wed, May 16, 2018 at 2:11 PM, Thomas Kircher <notifications@github.com>
wrote:

[2018-05-16 13:27] bubnikv commented on #816
Would you please test with the 1.40.0-alpha1?
https://github.com/prusa3d/Slic3r/releases/tag/version_1.40.0-alpha1

We improved handling of buggy meshes, and I can slice the amf file attached to this issue without any problem.

[2018-05-16 13:34] bubnikv commented on #815
I am sorry, but I do not understand.

Please provide as much data as you can. Provide the STL, config file and a G-code. If you printed multiple objects, it is best to export the AMF file as well.

[2018-05-16 13:37] #888 closed

[2018-05-16 13:46] Itox001 commented on #816
Tried it yesterday, it's now working properly. Good job on the GCode visualizer, it's awesome. Issue closed.

[2018-05-16 13:46] #816 closed

[2018-05-16 13:51] bubnikv commented on #737
Would you please test with https://github.com/prusa3d/Slic3r/releases/tag/version_1.40.0-alpha1 ? We have a neat "by feature" G-code preview, this will help you to point us to what you believe is a problem.

I am just guessing, that what you are objecting about are the small magenta regions at he left bottom and right top. Is that correct?

![image](https://user-images.githubusercontent.com/583094

[2018-05-16 14:46] VanessaE commented on #764
It only appears to affect the "Open STL/OBJ/AMF/3MF..." dialog (whether I call it up from the File menu or the "Add..." button, and the "Open 2.5D TIN mesh" dialog in the "File" menu.

All other dialogs open on the correct screen - print/printer/filament profiles, all four export options in the Plater menu, all of the File menu's items except the above, all of the relevant items in the right-click

[2018-05-16 15:29] mvasilakis opened #892 "Export mega file or pkg"
### Version
1.40.0 alpha 1

### Operating system type + version
Mac OS 10.13.4

### Behavior
* When troubleshooting issues (such as the [Inconsistent Extrusion thread](https://github.com/prusa3d/Prusa-Firmware/issues/602#issuecomment-389022163) ) We need to export the G-Code, STL and slicer settings for other users and Prusa support. It would be a huge time saver if we could export a slic3r file o

[2018-05-16 16:19] bubnikv commented on #892
funny, the 1.40.0-alpha1 relase log contains a section on such an archive.
3mf and amf formats could now encompass all the configs. The g code is
missing though, but in most cases it is not needed as it could be generated
from the other data.

On Wed, May 16, 2018, 17:29 mvasilakis <notifications@github.com> wrote:

[2018-05-16 17:18] jpatenet commented on #881
I got also the same problem several times without use anithing else at the same time. The last time, Slic3r stopped when I ask to record the gcode file.

[2018-05-16 18:46] workshopninja commented on #831
Can I just say thank you for the work that you do - blows my mind this is free.

Isaac gollan
workshopninja@gmail.com

[2018-05-16 19:32] mvasilakis commented on #892
🙄 And I read the log. Twice. Thanks, I'll re-read and mess with the archive formats in the alpha.

[2018-05-16 19:32] #892 closed

[2018-05-16 20:08] albegouws opened #893 "1.40.0 Alpha 1 - Right tools drawing too narrow"
Version
1.40.0-alpha1+win64

### Operating system type + version
Windows 10 Pro 1709

### Behavior
Screen drawing - right hand side toolbar too narrow.  This doesn't leave enough space to view all preset names and fields.
Screen resolution 1920x1080
See screenshots

![windowed](https://user-images.githubusercontent.com/29041479/40141228-99daa98a-5955-11e8-892d-f939be3da04e.PNG)
![fullscreen](https

[2018-05-16 20:09] mkbel opened #894 "Bridges broken when Vertical shells Perimeters is greater than supporting wall thickness"
### Version
1.40.0-alpha1+linux64
also
1.40.0-alpha1+14

### Operating system type + version
Debian sid

### Behavior
Bridges broken when Vertical shells Perimeters is greater than supporting wall thickness

For supplied stl file, set Vertical shells Perimeters to 3 or higher.

* _Expected Results_
![image](https://user-images.githubusercontent.com/35807926/40141235-9eb2ffca-5955-11e8-96e2-e850f14

[2018-05-16 20:24] DrLex0 opened #895 "Extraneous infill"
### Version
1.40.0-alpha1+

### Operating system type + version
Mac OS X 10.11.6

### Behavior
* In a specific model, extra infill is superimposed in places where it doesn't belong.
* _Steps needed to reproduce the problem_
  * Slice the attached models with the attached config.
* _Expected Results_
  * The sliced model consists mostly of only perimeters and gap infill in the center part.
* _Actua

[2018-05-16 21:37] vernieg commented on #891
Skirt not sticking better to the bed can be solved by moving the bed closer to the nozzle, this is assuming the bed is clean and not oily.  Skirt as part of the brim is like having additional line to the brim while skirt is turned off.

[2018-05-16 21:49] DrLex0 commented on #865
This looks a lot like one of the two problems I've seen in #895.

[2018-05-16 23:00] Panayiotis-git commented on #893
In your previous installation, you have selected the background processing. At the new installation you have not. So, the button 'Slice now...' is visible and this stretches the right column, so the drop down boxes are drawn OK.

The problem still exists. Just select again the background processing.

A simple solution could be to have the right column width adjustable with a splitter.

[2018-05-16 23:42] fpikus commented on #891
There is a big difference between an additional loop of the brim and the skirt: skirt can be more than one layer tall. In particular, the skirt can be as tall as the part itself. This reduces drafts and keeps the print at a constant temperature. The problem is, the tall skirt does not adhere to the bed very well. You would not print a very thin wall directly without a brim, same here. Tall skirt n

[2018-05-17 05:38] wabbitguy commented on #890
@lukasmatena for whatever reason my brain skipped through first paragraph that specifically said "export" and devoured the second paragraph with rapt interest instead....no doubt the programmer in me guilty "optimizing" documentation...:-)

[2018-05-17 06:52] bubnikv commented on #889
@enricoturri1966 is the author of the new G-code preview. Would you please look into this issue? Thanks.

By the way, I am seeing the following output on the console, which may be an indication of the broken "Shells" visualization?

[code]

[2018-05-17 06:57] YuSanka commented on #893
Good catch :) Thanks! Info boxes were seted minimum right column width before. But after placed thay to the Scrolled Window I forgeted to set minimum width to the main sizer. Fixed bug is in the master now.

[2018-05-17 07:03] bubnikv commented on #893
Looks good to me. It will be part of the beta. Thanks, closing.

[2018-05-17 07:03] #893 closed

[2018-05-17 07:18] repetier opened #896 "bed_size crashes slic3r"
### Version
1.40.alpha

### Operating system type + version
Windows

### Behavior

If you have old printer configurations with
bed_size = 175,175

instead of

bed_shape = 0x0,100x0,100x100,0x100

slic3r will crash as soon as you select that profile. Not sure when that value was changed, but none the less it should be parsed correctly, ignored or be converted and not crash the slicer.

[2018-05-17 07:36] bubnikv commented on #896
Would you please attach your config or any data to test with?
Thanks.

[2018-05-17 07:45] repetier commented on #896
Sure, use this printer config to make it crash once you select it.

[Ordbot.ini.zip](https://github.com/prusa3d/Slic3r/files/2012112/Ordbot.ini.zip)

Once you replace the line bed_size with bed_shape and right values it will not crash any more.

[2018-05-17 07:54] enricoturri1966 commented on #889
Shell visualization fixed with: https://github.com/prusa3d/Slic3r/commit/e13564cb190458a818f6ad40dc8705c9c6ae8a5e

[2018-05-17 07:57] bubnikv commented on #894
The problem here is, that Slic3r has no way to anchor the bridges into the object while observing the prescribed number of perimeters. Slic3r will find a correct orientation for the bridges if you set the number of external perimeters to one for this model and it may be then printable. Otherwise you would have to use supports.

The "incorrect" bridge orientation is simple random, as Slic3r did not

[2018-05-17 07:57] #894 closed

[2018-05-17 08:33] bubnikv commented on #896
Fixed with https://github.com/prusa3d/Slic3r/commit/e3d84407e0412c2fcc9e81dbb540b2872a37300b
This is quite an old bug though.
Thanks for reporting.

[2018-05-17 08:33] #896 closed

[2018-05-17 09:04] bubnikv commented on #882
Do you mean the green extrusions?

![image](https://user-images.githubusercontent.com/5830947/40167707-fc58ad02-59c1-11e8-81ad-a5701abdb762.png)

The screenshot has been taken from 1.40.0-alpha1
https://github.com/prusa3d/Slic3r/releases/tag/version_1.40.0-alpha1

[2018-05-17 09:08] bubnikv commented on #886
It is on the 1.41 list.

Closing.

[2018-05-17 09:08] #886 closed

[2018-05-17 09:12] bubnikv commented on #879
I suppose the problem is, that there is no room for the supports to guarantee the gap between the supports.

[2018-05-17 09:13] bubnikv commented on #878
Duplicate of https://github.com/prusa3d/Slic3r/issues/849 . Closing.

[2018-05-17 09:13] #878 closed

[2018-05-17 09:25] bubnikv commented on #877
Slic3r does not wait for the temp changes on purpose. I have rewritten this piece of code, but I just kept the logic equal to the original slic3r. I thought there is some reason behind it.

Should Slic3r wait just for the bed to reach its temperature, or should it wait for both the bed and extruder?

[2018-05-17 09:26] bubnikv commented on #874
Fixed, it will be part of the beta.

[2018-05-17 09:26] #874 closed

[2018-05-17 09:27] lukasmatena commented on #760
Should be fixed by https://github.com/prusa3d/Slic3r/commit/6f792b7ffbc90ef535ba7ced09cf77a8110e87c0.

Closing the issue, reopen it if problem persists. Thanks for the feedback.

[2018-05-17 09:27] #760 closed

[2018-05-17 09:29] bubnikv commented on #864
@vojtechkral @lukasmatena are you guys able to reproduce it?

We know that wxWidgets 3.1 improved upon the HiDPI support, but we cannot easily upgrade to wxWidgets 3.1 due to the Perl binding, which is not compatible with it. We may try, but we may invest our time better by trying to get rid of the Perl as quickly as possible.

[2018-05-17 09:51] wavexx commented on #877
There are several reasons I could think of, but the big one is oozing. If you wait to raise the bed temp by 10c, it might take several seconds in which the nozzle will probably start oozing somewhere.

If there was a per object skirt (I can think of #678), this wouldn't be an issue, as it would wipe the nozzle.

[2018-05-17 10:32] bubnikv commented on #877
Now what do you want? :-)

Are you aware, that if you place the temp control G-codes into the "between objects" custom G-code, Slic3r will not generate its own? So you may easily work around this issue, and you may add some priming as well.

[2018-05-17 10:38] wavexx commented on #877
You're right ;). I thought about oozing only after you mentioned of possible issues.

What I do currently is place each object independently on the plate, slice it, and concatenate the produced gcode with some preprocessing (mainly to avoid startup gcode homing the nozzle). This gives me also individual skirts, but the whole process is not as automatic as I would like.

Ideally, this is what I'd c

[2018-05-17 10:43] bubnikv commented on #858
@screwyluie You should use Slic3r's MK2 profile for the MK3. No wonder that the estimates are not quite on spot.

I believe we have solved this issue. Closing.

[2018-05-17 10:43] #858 closed

[2018-05-17 10:47] ir-fuel commented on #858
@bubnikv  I don't really understand.

I opened this topic with an mk2s MMU time error. What has this got to do with "You should use Slic3r's MK2 profile for the MK3." ?

Seems to be you only replied to the 2nd poster in this thread's problem?

[2018-05-17 10:48] bubnikv commented on #861
That's the 1st layer of the support leaking from that supported hole. That is really just a cosmetic, harmless issue, though we may fix it one day.

[2018-05-17 10:50] bubnikv commented on #868
This is a duplicate of
https://github.com/prusa3d/Slic3r/issues/767
and
https://github.com/prusa3d/Slic3r/issues/242
Closing.

[2018-05-17 10:50] #868 closed

[2018-05-17 10:56] bubnikv commented on #858
Yes, I answered @screwyluie 's issue.

Anyway, tested with Slic3r 1.40.0-alpha. Your MMU print, after I switched the firmware type from Reprap to Marlin, changed to the expected 2h50m. So I rightfully closed this issue.

[2018-05-17 11:00] ir-fuel commented on #858
So is it a bug in the default printer profile that Prusa provides? I have never touched that setting.

[2018-05-17 11:07] bubnikv commented on #858
I hope our profiles are correct, more likely you did not update the profiles when installing Slic3r 1.39.

Luckily starting with the Slic3r PE 1.40 the profiles will be updated from the internet automatically.

[2018-05-17 11:19] ir-fuel commented on #858
These are the latest profiles as found on Github, "old style" (so pre 1.40). Check that line.

https://github.com/prusa3d/Slic3r-settings/blob/3611992e48ba3dd36c77d0234604bbb438678882/old/Slic3r%20settings%20MK2S%20MK2MM%20and%20MK3/printer/Original%20Prusa%20i3%20MK2%20MultiMaterial.ini#L9

[2018-05-17 11:34] bubnikv commented on #869
It is a regression issue, we  used a piece from the upstream slic3r, where the octoprint_host has been renamed to print_host. I will comment this piece of code out.

[2018-05-17 11:42] bubnikv commented on #858
Thanks, I sent a note to Jindrich, who takes care of the profiles.

Luckily the new hierarchical form of profiles will make such errors less
probable.

https://github.com/prusa3d/Slic3r-settings/blob/3611992e48ba3dd36c77d0234604bbb438678882/live/PrusaResearch/0.1.2.ini

You see, there is just a single gcode_flavor line applied to all profiles
of Prusa3D.

On Thu, May 17, 2018 at 1:19 PM, ir-fuel <

[2018-05-17 11:43] ir-fuel commented on #858
Yes, I saw it too. A lot less duplication. Good move!

[2018-05-17 12:11] bubnikv commented on #869
This issue should be fixed with https://github.com/prusa3d/Slic3r/commit/35bf4aee7df3baee5f64b769d58d20199bb5268a

@FidelCapo Please retest with the master. Thanks.

[2018-05-17 13:57] LoganFraser commented on #882
Yes. So it probably is the bridge code being used. :( That means no real easy to fix it. I've seen numerous threads requesting a seperate bridge and overhang settings. I'll just have to add my request there as well.

[2018-05-17 14:54] bubnikv commented on #855
Which layer do you think is incorrect? It seems to me that the cavities are part of the model.

[2018-05-17 15:00] stelgenhof commented on #869
Just compiled and tested commit 35bf4aee7df3baee5f64b769d58d20199bb5268a, but the issue still remains.

I tested with both an external configuration .ini file as well as my custom printer preset (stored in the .Slic3rPE folder).

[2018-05-17 15:51] bubnikv commented on #662
This is a duplicate to https://github.com/prusa3d/Slic3r/issues/577.
Closing this one, it will be referenced by the other.

[2018-05-17 15:51] #662 closed

[2018-05-17 16:42] ManuelMcLure commented on #861
I figured it might be something like that. It's obviously nothing more than a small annoyance but I wanted to ensure that there was awareness of the issue.

[2018-05-17 17:12] rmoravcik opened #897 "Octoprint IP address is empty after Slic3r restart"
### Version
1.40.0-alpha1+linux64

### Operating system type + version
Ubuntu 18.04 LTS

### Behavior
Octoprint server IP address was previously stored to printer profile and is correctly stored in printer configuration file, but after Slic3r restart, IP address is not load from configuration file.

#### STL/Config (.ZIP) where problem occurs
[Slic3r_config_bundle.zip](https://github.com/prusa3d/S

[2018-05-17 17:43] bubnikv commented on #897
Duplicate of https://github.com/prusa3d/Slic3r/issues/869

[2018-05-17 17:43] #897 closed

[2018-05-18 04:50] gdombiak opened #898 "1.40.0 alpha1 hanged due to error"
### Version
_1.40.0-alpha1+linux64-full-201805141245_

### Operating system type + version
_Ubuntu 16.04_

Running from command line (downloaded compressed format). Using: ./slic3r --gui

### Behavior
I was checking out the new alpha version. I clicked on the Print settings tab and started to go over each option listed on the left menu. I wanted to compare differences between preset FAST and Chris

[2018-05-18 04:54] gdombiak opened #899 "Improve wording of the Load Config vs. Load / Import Config Bundle"
### Version
_1.40.0-alpha1+linux64-full-201805141245_

### Operating system type + version
_Ubuntu 16.04_

Running from command line using: ./slic3r --gui

### Behavior
1. Start Slic3r from command line
1. Load Config Chris MK3 PLA V3.ini
1. Close app
1. Start Slic3r again. Imported config is gone

If I go into any of the imported settings and click save (even without changing anything) then that

[2018-05-18 06:09] bubnikv commented on #899
Actually this is how it is supposed to work. The config is loaded, not
imported. If you want to import it, you have to copy the separate print,
filament, printer ini files into their particular directories. Indeed, the
config.ini does not contain the names of the included print / filament /
printer profiles as of now, so there is not a good way to name the profiles
when storing them into print / f

[2018-05-18 06:09] bubnikv commented on #898
Would you please try to reproduce the issue and try to find a quickest sequence for us to be able to reproduce it? Thanks.

[2018-05-18 06:26] gdombiak commented on #898
Happened again. Seems to be easy to reproduce. This is what I did:

1. Started Slic3r from command line using: ./slic3r --gui
1. Clicked on Print Settings then
1. Clicked on Layers and perimeters then
1. Clicked on Infill then on Skirt then on Support then on Speed then on Multiple Extruder then
1. clicked on Advanced and kaboom!

This printed to the console:

Before that entry I had this in the c

[2018-05-18 06:40] bubnikv commented on #899
Let's keep the ticket open, we will discuss internally how to improve the wording.

[2018-05-18 06:42] bubnikv commented on #898
@YuSanka could you reproduce it? Would you please try to fix it? Thanks.

[2018-05-18 07:33] bubnikv commented on #898
@gdombiak We cannot reproduce your issue. Would you please pack and attach your Slic3rPE directory with your profiles for us?

[2018-05-18 07:52] #670 closed

[2018-05-18 08:09] lukasmatena commented on #898
After some research I managed to reproduce the problem. It is apparently a bug in Ubuntu related to their "Overlay" scrollbars. Similar issue was reported here http://forums.codeblocks.org/index.php?topic=20771.0 (and in several threads this one links to).

I doubt there is anything we can do to fix it. However, a remedy exists: install and run unity-tweak-tool and set scrollbars to "Legacy". It w

[2018-05-18 08:10] bubnikv commented on #361
Is it still an issue?

When the overlap is defined with a percentage, it is calculated from the average of the infill extrusion width and the perimeter extrusion width (the perimeter with which the infill overlaps). If the infill extrusion width is much higher than the perimeter extrusion width, and the overlap in percents is high, than it may happen, that you will get the effects described at the

[2018-05-18 08:13] bubnikv commented on #670
Fixed with https://github.com/prusa3d/Slic3r/commit/3f08ef70f1db16a1971822d41a047a1cc43bb7ce
Closing.

[2018-05-18 08:14] bubnikv commented on #895
The issue at the first and third screenshot should be fixed with https://github.com/prusa3d/Slic3r/commit/3f08ef70f1db16a1971822d41a047a1cc43bb7ce

The issue at the 2nd screenshot is something else and it may be similar to https://github.com/prusa3d/Slic3r/issues/855

[2018-05-18 08:16] bubnikv commented on #895
The issue at the 2nd screenshot may also be a duplicate of #831.

[2018-05-18 09:10] dlozinski opened #900 "Application crashes if no libGLU.so.1 present in system"
### Version
Prusa Edition 1.40.0-alpha1
(Slic3rPE-1.40.0-alpha1.linux64-full-201805141245.AppImage)

### Operating system type + version
Lubuntu 16.04

### Behavior

Application crashes immediately with no gui error message if `libglu1-mesa` package is not installed.

When running in terminal it prints the following:

`zenity, kdialog, Xdialog missing. Skipping /tmp/.mount_Slic3rXe61ro/usr/bin//sl

[2018-05-18 09:32] vojtechkral commented on #873
@kortschak

Indeed, or, to be more specific, the variable is exported when using `execute_process`, but not when using `add_custom_target` and `add_custom_command` for some reason. I'd say this is at least a documentation bug in CMake, as the documentation doesn't mention this at all.

However, according to [StackOverflow](https://stackoverflow.com/questions/35029277/how-to-modify-environment-vari

[2018-05-18 09:52] vojtechkral commented on #864
I'm unable to reproduce the problem with either 1.39.2 or current `master` :-/ (But then again my screen is only 2560x1440.)

[2018-05-18 10:20] dlozinski commented on #900
Hi, I think diagnosing the missing library and showing proper error message
should be enough.

2018-05-18 11:24 GMT+02:00 bubnikv <notifications@github.com>:

[2018-05-18 10:56] vojtechkral commented on #864
I'm not sure how to do that (or if there is such a thing). I tried changing the scaling factor on that screen to various settings (75%, 150%, 200%) but Slic3r always rendered normally.

[2018-05-18 11:11] kortschak commented on #873
Agreed. Thanks for doing that.

I've been fortunate enough not to spend much time with perl over the past decade. But in this situation, I think passing an include into perl with `-I` is more appropriate. There is a single location path to add, rather than changing an entire environment. Others my disagree though.

If you want, I can change to the approach you found at StackOverflow.

[2018-05-18 11:47] lukasmatena commented on #864
I didn't manage to reproduce it either (Ubuntu 16.04), changing scaling-factor did rescale the user interface, but Slic3r looked fine (but I don't know if its enough to provoke the problem) Apparently this is not the first time someone had this problem: https://github.com/slic3r/Slic3r/issues/3362. The thread makes an impression the problem appeared after linking against wxWidgets with GTK3 suppor

[2018-05-18 13:13] vojtechkral commented on #855
Shouldn't be. I've verified with meshlab and cura, you should be able to see the "ground" from above.
The problem is on layers 40 through 61 when slicing 0.2mm layer height & default settings.

[2018-05-18 13:28] Dainse commented on #865
I have tried the new version that you have suggested (1.40.0 alpha1) with the same model and the slicer is perfect, it seems that the error has been corrected in this version

[2018-05-18 13:32] stelgenhof commented on #869
@bubnikv Thanks for the fix! I can confirm it works now.

[2018-05-18 13:47] bubnikv commented on #869
great, thanks for testing.

[2018-05-18 13:49] bubnikv commented on #865
thanks for the report. I am still fighting with the 2nd issue of #895, which sounds too similar to this one.

[2018-05-18 14:51] mvasilakis commented on #852
So to update adding `G1 Z{first_layer_height+z_offset}` to the start g-code resolves the issue.
Thank you!!!

[2018-05-18 14:51] #852 closed

[2018-05-18 16:11] vojtechkral commented on #873
That's ok, the `-I` approach is fine with me as far as I can tell.

The pull request LGTM, I'd merge it, but I'll wait for @bubnikv 's confirmation he's ok with it :-)

[2018-05-18 16:29] gdombiak commented on #898
Excellent. Will give it a try when I'm back from work and report back.

Thanks for your time and help.
Gaston

[2018-05-18 16:37] ammulder opened #901 "Enable thin fill by default (was Slicing removes parts from model (1.39.2/1.40.0-alpha1))"
### Version
Version 1.40.0-alpha1+ (also seen with 1.39.2)

### Operating system type + version
macOS 10.13.4

### Behavior
This model has rectangular holes in the base, and includes a vertical support in the middle of the hole (to prevent the top sagging, because a clip is expected to fit into this hole and much sagging will prevent the clip from fitting).  You are expected to remove the support

[2018-05-18 16:59] bubnikv commented on #901
Aren't they just too thin to be printed reliably? Will they show up when
you enable "detect thin walls"?

On Fri, May 18, 2018 at 6:37 PM, Aaron Mulder <notifications@github.com>
wrote:

[2018-05-18 17:03] ammulder commented on #901
They print fine with other slicers.  They're not meant to be super-strong, just enough to prevent the top of the hole from sagging.

They do appear when I enable "detect thin walls" (I hadn't been aware of that setting) -- is that the solution, then?

[2018-05-18 17:10] bubnikv commented on #855
There are indeed some overlapping triangles visible even in Slic3r with the new feature of visualizing the inverted faces with dark colors.

![image](https://user-images.githubusercontent.com/5830947/40247950-8b2de3e6-5ace-11e8-81d6-d7d48e3a1a5f.png)

Rendering the slice nr. 39 shows a mess of contours. The blue is correct, the rest are pieces of correct and overlapping geometry.

![image](https:/

[2018-05-18 17:11] 3Delights opened #902 "[Bug] Supports generated beyond bed edges (X<0 and X>250) and where none are needed."
**Version**
1.40.0-alpha1+win64

**Operating system type + version**
Windows 10 Pro 1803 (17134.48) x64

**Behavior**
* _Describe the problem_
Unusual and unnecessary supports are generated.  For the attached model there should be no supports generated on the build plate.  (Also note that supports and the skirt are generated _off_ the build plate!

* _Steps needed to reproduce the problem_
Load mo

[2018-05-18 17:16] bubnikv commented on #901
That does not mean that the other slicers are right.

You are asking the slic3r to do impossible: To print a thin wall with a perimeter (two lines in parallel) with a 0.4mm wide nozzle I guess. A reasonable width would be 0.8mm. The Slic3r knows that it will not fit two 0.4mm wide lines into your thin object, therefore it gives up.

Slic3r even gives you a hint on the recommended thin wall width.

[2018-05-18 17:18] aequitas opened #903 "Support 'integrated graphics only' mode on macOS"
I recently switched from a single GPU (integrated) macbook to a dual GPU (integrated and dedicated) and have noticed that using Slic3r on this laptop (or having it running in the background) significantly reduces battery life (from 5-6 to 2-3 hours) where this behaviour would not manifest on my previous laptop. This has to do with Slic3r using OpenGL which causes the macbook to switch to the dedic

[2018-05-18 17:27] bubnikv commented on #903
For the next release (1.41) we already started to rewrite the OpenGL code into C++, see the opengl_to_cpp branch.

The OpenGL context is managed by wxWidgets 3.0 for us. We will switch to wxWidgets 3.1 once we get rid of the wxWidgets Perl binding.

[2018-05-18 17:38] 3Delights commented on #876
Also not working in 1.40.0-alpha1+win64.

[2018-05-18 17:52] 3Delights commented on #875
Confirmed the problem is also in 1.40.0-alpha1+win64.

[2018-05-18 17:56] aequitas commented on #903
Thanks for the quick response. I'll checkout that branch instead for investigating this, if I get somewhere with it you'll see a patch emerge.

[2018-05-18 21:09] aequitas commented on #903
I'm running into some issues getting the build environment setup. @bubnikv where can I find the latest build instructions? Or does the `opengl_to_cpp` branch require additional steps for build not documented yet?

Afaict the only change (besides the `Info.plist` mentioned above) needed to be made to the code is to add the `NSOpenGLPFAAllowOfflineRenderers` attribute to `NSOpenGLPixelFormat`, which

[2018-05-18 23:53] TheCodeSharman commented on #864
Hi, yes a while back I took a look at this.

Unfortunately its all about the lack of maintenance for wxPerl. What appears to be happening is that Gtk3 is automatically scaling the windows to take into account the higher dpi settings. See here: https://wiki.gnome.org/HowDoI/HiDpi

Since OpenGL doesn't know about this scaling factor what needs to be done is to read it from GTK and multiply the provi

[2018-05-19 01:18] ammulder commented on #901
I don't know what to say.

These are commercial models with "Dragonlock" bases.  They are in wide usage by the original company and many others who have licensed the base and connection scheme.  (I am not an employee of that company, so I have no ability to alter the official base used by all these companies.)  They've been printed on dozens of printers.  I've personally printed models with this b

[2018-05-19 02:31] gdombiak commented on #898
Confirmed. That was the issue. I had to follow this instructions: http://www.debugpoint.com/2016/05/how-to-install-unity-tweak-tool-in-ubuntu-16-04-lts-xenial-xerus/ to make it work on Ubuntu 16.04.

After I went to 'legacy scrolling', I now only get this error in the console. I no longer have this issue but you might be interested in taking care of this inoffensive error:

Will close this issue.

[2018-05-19 02:31] #898 closed

[2018-05-19 04:52] bubnikv commented on #898
I think we should maintain a wiki page with known issues and their
workarounds. It would be great if you could help.

On Sat, May 19, 2018, 04:31 Gaston Dombiak <notifications@github.com> wrote:

[2018-05-19 05:40] gdombiak commented on #898
Sure thing. Happy to help. Can I use the wiki of this repo? Or point me to the wiki that you guys use.

Thanks
Gaston

[2018-05-19 06:16] KD7LRJ opened #904 "IP address for OctoPrint doesn't save in printer profile"
### Version
1.40.0-alpha1+win64

### Operating system type + version
Windows 10, 64 bit, April 2018 update

### Behavior
IP Address for OctoPrint disappears when reloading profile

1) Enter IP address and API key for Octoprint
2) Save printer settings
3) Close Slic3r
4) Open Slic3r
5) IP address is gone, but API is there

[2018-05-19 07:28] tracernz commented on #904
I think this is https://github.com/prusa3d/Slic3r/issues/869? Fixed yesterday.

[2018-05-19 07:32] KD7LRJ commented on #904
So much for my searching skills... :)

Thx!

[2018-05-19 07:32] #904 closed

[2018-05-19 11:26] mavu commented on #797
I was going to suggest a similar change, for small overhangs, which often tend to curl up, but print better when slowing the print down to 60%.

Some additional handling of overhangs in edge cases ( ha! :) ) would be nice.

Automatic fan on small overhangs, bridging fan on later layers as suggested above , etc.

[2018-05-19 15:33] bubnikv commented on #825
@foreachthing @supermerill I am confused. Shall I worry about the Slic3r PE? Do we have it or is the bug just in the upstream Slic3r? Thanks for taking time and helping with the investigation.

[2018-05-19 18:48] Cretemonkey opened #905 "No platter view"
### Version
_Version of Slic3r 1.39.2

### Operating system type + version
Windows 10

### Behavior
After using Slic3r Prusa Edition a lot over the last 3 weeks I opened it today and there is no platter view. It will import the STL file but it's just a white square. This was after a Win 10 update.

I did try to reinstall the software
* _Expected Results_
* _Actual Results_
  * _Screenshots from __

[2018-05-19 21:20] zbrozek opened #906 "Random perimeter entry/exit points aren't randomly distributed"
### Version
 1.39.1

### Operating system type + version
Windows 10 Professional (Creator's)

### Behavior
* _Description_
It seems like selecting "random" for the seam points doesn't result in a particularly random distribution of ingress and egress points from the exterior perimeter. The problem is exacerbated on models with high plan-form aspect ratios.

* _Steps to reproduce_
1) Select "Random

[2018-05-20 04:55] Itox001 commented on #889
Here is both the 3MF file and the exported config.

Hope you can figure something out with this one.

[Evidence.zip](https://github.com/prusa3d/Slic3r/files/2020023/Evidence.zip)

[2018-05-20 07:38] gdombiak commented on #898
Created this [wiki page](https://github.com/prusa3d/Slic3r/wiki/Known-Issues-and-Solutions)

[2018-05-20 11:36] merlin2105 opened #907 "Octoprint"
The Octoprint IP address is not saved and must be re-entered every time Slic3r is restarted..

### Version
1.40.0-alpha1

_Use `About->About Slic3r` for release versions_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
_What OS are you using, and state any version #s_

### Behavior
* _D

[2018-05-20 12:19] PcSFaB opened #908 "Octoprint I.P. does not save"
### Version
_Version of Slic3r used goes here_1.40.0 Alpha1+win64

_Use `About->About Slic3r` for release versions_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
_What OS are you using, and state any version #s_win 10 64 bit

### Behavior
* _Describe the problem_Octoprint I.P. does no

[2018-05-20 12:20] #908 closed, assigned to nobody

[2018-05-20 12:43] foreachthing commented on #825
Uhm ... no! You don't have to worry about Slic3rPE! I just tested this version: Slic3rPE-1.40.0-alpha1+win64-full-201805141300 and it does what it should. It's only in Slic3r (<= Slic3r-master.2018.05.16) where it's not working.

[2018-05-20 17:59] sarf2k4 opened #909 "[Request] Don't support short/tiny overhang threshold"
One thing I noticed that never been implemented across slicers is "Don't support short/tiny overhang". What I have in mind to this proposal is not to add support on short overhang.

Take 3dbenchy.stl for example and enable default support at 45' angle with support on everywhere. Notice the support are also generated at the hull's rail and the roof's extension as well as the chimney part shown in t

[2018-05-20 22:31] Itox001 commented on #909
Sounds good, I've also had models where a whole support tower is generated just to support a figures eyelids, which would print fine otherwise. Problem is, for example in this model, the towers generated were too thin and they would obviously fail, and since those eyelids were very small 0 degree overhangs, no overhang threshold would get rid of them, making the model unsupportable with slic3r's s

[2018-05-20 22:34] Itox001 commented on #901
You could also make your perimeter line width smaller, the thinner lines may actually fit there.

[2018-05-21 02:02] stelgenhof commented on #907
This has been resolved in the master branch (See https://github.com/prusa3d/Slic3r/issues/869)

[2018-05-21 02:30] stelgenhof commented on #54
@montreuilg I checked this using v1.39 and v1.40 and can perfectly resize the window on OSX. Also the window size and position are maintained once closed and reopened.

[2018-05-21 03:12] stelgenhof opened #910 "[Request] Change order of settings in right panel (Plater)"
### Version
v1.40.0-alpha1
git rev-parse HEAD: deabeaaa7fc48691c9b778e11a725f7bd93a0458

### Operating system type + version
Arch Linux 4.16.9-1-ARCH

### Behavior
Currently the settings (combo boxes) on the right panel of the Plater window ("Print settings", "Filament" and "Printer") are in an order that make the user to do unnecessary mouse travel.

"Print settings" and "Filament" have a depende

[2018-05-21 06:27] tracernz commented on #54
Also not seeing this on macOS (10.13). You tried clicking the green button in the title bar?

[2018-05-21 06:43] bubnikv commented on #54
@montreuilg Maybe you can give us more detail as of what is not working as you are expecting? None of the Slic3r developers here at Prusa Research are Mac users, so we may be blind to some of the issues.

[2018-05-21 08:40] Panayiotis-git commented on #910
Does this mean that the order of the tabs will also be changed?

[2018-05-21 08:46] bubnikv commented on #910
We are planning a bigger overhaul of the UI in the next development iteration, we are currently discussing the design changes.

There will certainly be improvements of the 3D scene manipulators, and we may do bigger changes of the application layout as well, for example moving some buttons as overlays into the 3D scene, making the parameter tabs optional (maybe we will let them float into a separa

[2018-05-21 09:53] vojtechkral commented on #907
This is most likely a duplicate of #869

(If not, let us know.)

[2018-05-21 12:03] stelgenhof commented on #910
@bubnikv Thanks for the update! I'll refrain from submitting UI requests then :)

[2018-05-21 16:36] Fargle2nd opened #911 "Changing nozzle diameter deletes all print profiles"
### Version
 1.39.2+win64

### Operating system type + version
MSWIN32

### Behavior
Changing the nozzle diameter under "printer setting" to 0.5mm deletes all the printer settings in the drop down menu on the main page, just giving one option, typically titled "unknown" or "untitled", no other printer options are available in the drop down menu.

[2018-05-21 16:49] andrelx opened #912 "Config: Printer Settings : General : Octoprint upload : Hostname not saved"
### Version
1.40.0 Alpha1+win64

### Operating system type + version
Windows 10

### Behavior
Octoprint upload : when you save a printer configuration, the API key is saved, but not the Hostname

#### STL/Config (.ZIP) where problem occurs

[2018-05-21 20:07] emreerokyar opened #913 "Automatic mesh bed leveling causes oozed filament deposits to be placed on the bed"
### Version
1.40.0-alpha1+

### Operating system type + version
macOS High Sierra 10.13.4

### Behavior
Slic3r PE performs automatic mesh bed leveling before starting a print as it's added by default into "Printer Settings > Custom G-code > Start G-code" with this line;

`G80 ; mesh bed leveling`

However, this line comes after;

[code]

This causes the filament (the original, Prusa silver PLA tha

[2018-05-21 22:34] tracernz commented on #913
So the proposal is either:
- Do mesh bed levelling before heating, or
- Retract the extruder before doing mesh bed levelling (after heating)?

I think either of those would be an improvement (and I often manually preheat, and retract, before starting the print).

On my Prusa I'd still preheat/retract manually before starting the print though, because the PINDA performance drifts a bit with tempera

[2018-05-21 23:20] stelgenhof commented on #912
Duplicate of https://github.com/prusa3d/Slic3r/issues/869. The issue has been fixed however not released yet.

[2018-05-21 23:32] stelgenhof commented on #913
You can update the start and end gcode sections of your printer to include a retraction. In my printer profile I have the following:

Start G-Code:
[code]
End G-Code:
[code]

I don't feel this is an issue with Slic3r though, as you can easily mitigate it as shown above :)

[2018-05-22 07:58] hisashime commented on #901
I think there is problem with slicing in this slic3r Prusa. When I use the original ver of Slic3r my parts preview is complete but slic3r Prusa seems to removes things. I will have to open the stl in Slic3r original then saves as stl and overwrite the original and then load it again in Slic3r Prusa and the missing part is no longer removed.

[2018-05-22 08:59] bubnikv commented on #901
First, the object is not a valid STL, it contains multiple overlapping, possibly intersecting geometries. This is an "exploded" view of your model:

![image](https://user-images.githubusercontent.com/5830947/40352252-a7055968-5dae-11e8-9bc9-72f3ac57ddd5.png)

So Slic3r is actually doing a good job processing this geometry. You may have a better luck, if you process your geometry through some STL f

[2018-05-22 09:35] bubnikv commented on #825
@foreachthing Thanks for the report. Then please report the issue at https://github.com/slic3r/Slic3r/issues

Closing.

[2018-05-22 09:35] #825 closed

[2018-05-22 09:36] lukasmatena commented on #758
A duplicate (or almost) of https://github.com/prusa3d/Slic3r/issues/724. See the discussion there for recent updates.

I'm closing this issue, if that's ok.

[2018-05-22 09:36] #758 closed

[2018-05-22 09:39] lukasmatena commented on #891
Thanks for your feedback, we looked into it. I'm closing this issue as a duplicate of https://github.com/prusa3d/Slic3r/issues/724, where you can read about the recent update. Post any other comments there, please.

[2018-05-22 09:39] #891 closed

[2018-05-22 10:31] #912 closed

[2018-05-22 10:33] hisashime commented on #901
I am using slic3r v1.2.9 from slic3r.org and slic3r Prusa. My comment is not refering to this post's stl but my own stl which have similar issue. I slice using different slicer upon experiencing problem with Slic3r Prusa and discover there could be issue and would like to report it here.

[2018-05-22 11:29] bubnikv commented on #901
@hisashime Slic3r 1.2.9 is extremely outdated. I wonder how the current "dev" Slic3r handles it. I bet it will handle the model the same way as the Prusa3D slic3r.
http://slic3r.org/download

[2018-05-22 13:28] ammulder commented on #901
Regarding the specific model in this post: it is also a third-party model, and I am not surprised that the geometry is not optimal.  (As an aside, the geometry elsewhere in this model printed better with 1.40.0 alpha than with 1.39.2, so thank you for that!)  But the base containing the support in question is a complete part in your exploded view -- I am assuming you're not saying that slic3r omit

[2018-05-22 17:28] emreerokyar commented on #913
@tracernz, I think performing automatic mesh bed leveling before hitting the actual print temperatures for both the bed and the nozzle could create issues with the PINDA probe and measurements. So I would not prefer your first option.

@stelgenhof, yes we can mitigate the issue as you showed above. And since it works, why not make it the default for all Slic3r PE users as I proposed - one less thi

[2018-05-22 18:53] foreachthing commented on #825
Giving me the run around, arentcha?! :-)
I came here, beacause @supermerill  said so. Oh, well! I am off to see the wizard on the other side of the forest.

[2018-05-22 20:38] marcaurelkiefer commented on #870
@ManuelMcLure

Have you tried this? Prusa Marlin does not seem to support M73...

[2018-05-22 20:43] ManuelMcLure commented on #870
It's definitely supported in official Marlin (I use it on my Anet A8), I can't speak for Prusa's fork.

[2018-05-22 21:59] supermerill commented on #825
@foreachthing as you say "According to @supermerill I am to report this issue here", it seems I misinterpreted something. Where did i say that to you? I don't remember. Sorry everyone for the inconvenience if I made a mistake.

[2018-05-23 05:46] foreachthing commented on #825
@supermerill: I misread your answer in https://github.com/slic3r/Slic3r/issues/3666. Of course it's not Slic3rPE related (which I didn't know for sure at this time). My sincerest apologies!

[2018-05-23 07:52] kakou-fr opened #915 "Support generated even if support on build only activated"
### Version
slic3r-1.40.0-alpha1+

### Operating system type + version
OS X 10.13.4

### Behavior
Slic3r generate strange support in this hole, even if support on build only activated.

Expected behaviour : support only on build plate

#### STL/Config (.ZIP) where problem occurs
<img width="468" alt="slic3r-3" src="https://user-images.githubusercontent.com/29911575/40410673-b08c42ba-5e6e-11e8-8c7d

[2018-05-23 13:13] sarf2k4 commented on #714
I've thought of having a new gcode command that takes in several parameters either by full seconds or by H,M,S for that gcode that hasn't been used yet for example m590 3600 (1H). Not just that this gcode also will prompt the user if the user really want to print the file rather than accidentally print something and turns out to be its a very long print.

[2018-05-23 15:31] cnlson commented on #913
@emreerokyar I was similarly annoyed with this but have solved in the following manner:

_First I added a line to set the temp to 140 which should not ooze for any filament_
M104 S140

M140 S[first_layer_bed_temperature] ; set bed temp
M190 S[first_layer_bed_temperature] ; wait for bed temp
_then i moved the first layer print temp to after the bed is at temp_
M104 S[first_layer_temperature] ; set

[2018-05-23 15:35] geodave810 opened #916 "[Request] Option for different Infill Angle for Infill & Solid Infill"
### Version
_Version of Slic3r used goes here_1.40.0-alpha1

_Use `About->About Slic3r` for release versions_1.40.0-apha1+win64

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
_What OS are you using, and state any version #s_Windows 7 Pro Build 7601: Service Pack 1

### Behavior
* _Desc

[2018-05-23 19:19] Richardgriff opened #917 "Damaged Bed avoid"
I would like to propose a new feature.

Damaged bed avoid.

This feature would allow the use to define an area of the bed that is either damaged or the user wish's to avoid.

When the part is placed Slic3r would then attempt to place the part on the bed but avoiding the marked area. This would be super handy if you are waiting on replacement PEI sheet but still need to print.

Thanks

Richard

[2018-05-24 00:47] Jebtrix opened #918 "Compiling Failure with Wx-0.9932"
### Version
version_1.40.0-beta @ a4261b11d44a0986d10780b9bdc190d3cabd544a

### Operating system type + version
Microsoft Windows [Version 6.1.7601] ~ Win7 Pro 64bit

### Behavior
Compiled fine yesterday. Pulled from master today I'm getting this.

[code]
[build.log](https://github.com/prusa3d/Slic3r/files/2033347/build.log)

Also deleted all Slic3r PE project related sources and attempted a compl

[2018-05-24 04:15] Jonny-Cache commented on #864
Sorry for the delay! I tried the 1.39.2 beta appimage version and it's behaving better now.
The dark desktop theme is not being respected and the Icons for the buttons are much smaller, but the original issue with the 3D window is now resolved and working well.

Please feel free to close out this issue as the original problem with the 3D render pane is clearly resolved in the latest beta. :)

![sc

[2018-05-24 05:08] MiroPiencak opened #919 "Plater preview keeps displaying only 1 layer"
### Version
slic3r-1.4.0-beta

### Operating system type + version
MacOS 10.13.4

### Behavior
* Slic3r displays only 1 layer in the plater preview screen even if theis option has been deactivated.
* _STR_
  * load a model
  * slice it
  * open the plater preview screen
  * check "1 Layer" option on the right
  * uncheck the "1 Layer" option
* _Expected results_
  * when the option is checked: onl

[2018-05-24 05:44] FidelCapo commented on #919
Did you try to move the left slider back to the first layer and right to the last layer? The error did not occur to me.

[2018-05-24 05:58] MiroPiencak commented on #919
@FidelCapo You are right, when the left slider is moved, more layers become visible.
In that case it is not a bug.

[2018-05-24 05:58] #919 closed

[2018-05-24 12:44] Vance1122 opened #920 "Unable to save settings"
### Version
_Version of Slic3r used goes here_
Slic3r PE 1.40.0 beta Win64
_Use `About->About Slic3r` for release versions_

_For -dev versions, use `git describe --tag` or get the hash value for the version you downloaded or `git rev-parse HEAD`_

### Operating system type + version
_What OS are you using, and state any version #s_
Windows 10 with latest updates.
### Behavior
* _Describe the prob

[2018-05-24 12:50] bubnikv commented on #920
Aren't you trying to save into a system preset?

Please note, that the Prusa's presets are now read only, and you have to
rename your preset to be able to save it.

On Thu, May 24, 2018 at 2:44 PM, Vance1122 <notifications@github.com> wrote: